<div class="top">
    <div class="col-md-12 header">
        <div class="row">
           <h3 style="float:left;" class="col-md-9">Add / Revoke Rights&nbsp;<i class="fa fa-home" style="float:left; font-size: 28px;" aria-hidden="true"></i></h3>
            <div style="float:right">
                    <div class="align-center">
                        <input type="text" placeholder="search by name"  />
                    </div>
                </div>
            </div>
 </div>
</div>
<div class="left filter-list">
<h4><i class="fa fa-filter"></i>&nbsp;Filter by Team</h4>
<hr>
<ul>
<input type="checkbox" name="vehicle" value="Bike"> Marketing Team<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked">Sales Team<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked">QA Team<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked">BPO Team<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked">Developemnt Team<br>
<input type="checkbox" name="vehicle" value="Car" checked="checked">All
</ul>
</div>
<div class="main">
    <h5>Team/user Rights Details</h5>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>UserName</th>
        <th>Team</th>
        <th>Designation</th>
        <th>Schedule Meeting</th>
        <th>Broadcast Message</th>
      </tr>
      <tr>
            <td>1</td>
            <td>Vinita Patil</td>
            <td>Development Team</td>
            <td>Project Manager</td>
            <td>Yes/No</td>
            <td>Yes/No</td>
      </tr>
      <tr>
            <td>2</td>
            <td>Sunita Kolhapure</td>
            <td>QA Team</td>
            <td>Team Lead</td>
            <td>Yes/No</td>
            <td>Yes/No</td>
      </tr>
      <tr>
            <td>3</td>
            <td>Sudhir Manore</td>
            <td>QA Team</td>
            <td>Intern</td>
            <td>Yes/No</td>
            <td>Yes/No</td>
      </tr>
      <tr>
            <td>4</td>
            <td>Prachi Mhatre</td>
            <td>Development Team</td>
            <td>Developer</td>
            <td>Yes/No</td>
            <td>Yes/No</td>
      </tr>
      <tr>
            <td>5</td>
            <td>Namita Pandit</td>
            <td>Sales Team</td>
            <td>Intern</td>
            <td>Yes/No</td>
            <td>Yes/No</td>
      </tr>
    </table>

</div>
