
<div class="top">
  <div class="col-md-12 header" style="text-align: center;">
      <h3>Add / Revoke Rights</h3>
  </div>
</div>

<div class="main">
        <div class="row">
                <div class="col-md-9"><h4 class="under">Team/user Rights Details</h4>     </div>       
        <div class="align-center" class="col-md-3" >
            <div class="btn btn-sec remove-border"><span class="span-dec">Filter By:&nbsp;</span>
            <a style="padding-right:10px; cursor: pointer;">Day</a>
            <a class="date-period-select">Month</a>
            <a class="date-period-select">Year</a>
            </div>
            <div class="form-group input-group"style="padding-top:5px;">
              <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchText">
              <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>
        </div>
    </div>
    <table>
      <tr>
        <th>Sr. No</th>
        <th>UserName</th>
        <th>Team</th>
        <th>Status</th>
        <th>Schedule Meeting</th>
      </tr>
      <tr *ngFor="let userPermission of userPermissionMemberList| genericSearchAllProp:searchText | paginate: config ; let srNo = index">
            <td>{{srNo+1}}</td>
            <td>{{userPermission.user.firstName}} {{userPermission.user.lastName}}</td>
            <td>{{userPermission.team.teamName}}</td>
            <td>{{userPermission.user.status.status}}</td>
            <td>
                <input type="checkbox" id="meetChk" (click)="scheduleMeetingRight(userPermission.user.userCode)">
                             <p id="text" style="display:none">Checkbox is CHECKED!</p>
            </td>
      </tr>
    </table>
    <div class="pageControl">
        <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [responsive]="responsive"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>
