@import "styles/customStyle.css";
.meetingHeader {
    background: #3277d3;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
}

.style-links {
    color: #d2cccc;
    font-size: 12px;
}

.form-control {
    border-radius: 5px 0px 0px 5px;
}

.hr-partition {
    border-top: 2px dotted #19191a;
    width: 100%;
}

.align-center {
    margin: auto;
    width: 100%;
    color: #848484;
}

.mom-duty {
    color: #848484;
}

.defaultMeetSelect {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.date-period-select {
    border-left: 2px solid #848484;
    padding-left: 10px;
    padding-right: 10px;
    height: 15%;
}

.date-period-first {
    padding-left: 10px;
    padding-right: 10px;
}

.d-inline-block {
    width: 100% !important;
    button {
        width: 100% !important;
    }
    .dropdown-menu.show {
        height: 200px;
        overflow-y: scroll;
        width: 100%;
        overflow-x: hidden
    }
}
.dropdown-item{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.popFooter{
    background-color: #eaf3f8; border-top:1px solid  #19191a;
    }
    
    .popTitle{
    font-size: 22px;
    }
    .btn-border-radius{
        border-radius: 5px;
    }
   .span-font span{
       font-weight: bold;
   }
