<div class="chat-panel card card-default">
    <div class="card-header meetingHeader">
        <div class="row">
            <div style="width: 90%;">
                <i class="fa fa-calendar-check-o"></i>
                Schedule New Meeting
                <h6 class="style-links">{{currentDate | date:'fullDate'}}</h6>
            </div>
            <div style="width: 10%; text-align: center;">
                <!-- <button class="btn btn-cancel pull-right" type="button" (click)="switchRoute()">
                   X
                </button> -->
                <button class="btn btn-danger pull-right" (click)="switchRoute(0)"><i class="fa fa-times" aria-hidden="true"></i> </button>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="row">
            <div class="card-body" style="height:74vh;">
                <div class="container overall-padding">
                    <!-- <form> -->
                    <div class="row form-group">

                        <div class="col-sm-3">
                            <label>Subject<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="descField" placeholder="Meeting Subject" [(ngModel)]="subject" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label>Date<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="meeting.datePicker" ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button" style="cursor: pointer;">
                                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                    <span class="fa fa-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label><br><br>Time<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-md-9">
                            <ngb-timepicker class="customTimePicker" id="meeting.meridianTime" [(ngModel)]="meeting.meridianTime" [meridian]="meeting.meridian"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Meeting Duration<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-md-9">
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class="btn btn-outline-primary" ngbDropdownToggle>{{meeting.selectedDuration}}</button>
                                <div ngbDropdownMenu>
                                    <button *ngFor="let duration of durationArray" class="dropdown-item" (click)="changeDuration(duration)">{{duration}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label >Timezone<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <!-- <div class="col-md-9">
                            <div ngbDropdown class="d-inline-block dropdown" >
                                <button class="btn btn-outline-primary" style="white-space: pre-wrap;" ngbDropdownToggle>{{meeting.selectedTimeZone}}</button>
                                <div ngbDropdownMenu>
                                    <button *ngFor="let timezone of timeZoneArray" class="dropdown-item" style="white-space: pre-wrap; border-bottom: 1px solid #C4C4C4;" (click)="changeTimeZone(timezone)">{{timezone}}</button>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-9"> 
                            <input class="d-inline-block timzone-select" id="timezone_" placeholder="Select Timezone" 
                            style="padding: 5px;text-align: center;white-space: pre-wrap;" 
                            list="tomeZoneListEl" autofocus name="timezone_" autocomplete="on"
                            (change)="onTimezoneSelect()" [(ngModel)]="timezoneSelect"/>
                            <datalist id="tomeZoneListEl" style="white-space: pre-wrap;border-bottom:1px solid #ff0606;">
                                <option *ngFor="let timezone of timeZoneArray" class="dropdown-item" 
                                (click)="changeTimeZone(timezone)" value="{{timezone}}">
                            </datalist>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12" style="text-align: center;">
                            <button class="btn btn-sec" (click)="scheduleMeeting()" >Schedule Meeting & Send Invitation</button>
                        </div>
                        <app-custom-modal #scheduleMeetingModal [model]="scheduleMeetings" (CancelEvent)="clearAllMeetingField()">
                            <div style="padding: 10px; font-size:14px; " class="span-font">
                                <span>{{this.subject}}</span>
                                <p style="font-weight:bold;">Date : {{ meeting.datePicker.year }} / {{ meeting.datePicker.month }} / {{ meeting.datePicker.day}}
                                    at {{(this.meeting.meridianTime.hour > 12 ? this.meeting.meridianTime.hour - 12 : this.meeting.meridianTime.hour)}}&nbsp;:{{ meeting.meridianTime.minute < 10 ? '0'+meeting.meridianTime.minute:meeting.meridianTime.minute}}
                                    {{this.meeting.meridianTime.hour >= 12 ? 'PM' : 'AM'}} ( {{this.timezoneSelect}}
                                    ) for
                                    <span style="font-weight: bold;">{{meeting.selectedDuration}} </span>
                                </p>
                                <p style="padding-top: 20px;"> Please join my meeting from your computer using chrome browser
                                    <label>Registered user use below URL for meeting :<br/>
                                    <span class="link-url">{{baseUrl}}#/meeting?meetingCode={{accessCode}}
                                    </span>     </label>
                                     <label>Guest user use below URL for meeting:<br/>
                                         <span class="link-url">
                                            {{baseUrl}}#/login/GuestUserWithMeeting?meetingCode={{accessCode}}
                                    </span>  </label>
                                </p>
                                <h5 style="margin-top: 40px;">Meeting Id :
                                    <span>{{accessCode}}</span>
                                </h5>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn btn-primary btn-responsive " (click)="copyToOutLook($event)">Go to Outlook</button>
                                <button type="button" class="btn btn-primary btn-responsive " (click)="copyToClipboard()">Copy</button>
                                <button type="button" class="btn btn-danger btn-responsive " (click)="closeMeetingPopup('scheduleMeetings',true)">Close</button>
                            </div>
                        </app-custom-modal>

                        <app-custom-modal #outlookModal [model]="scheduleOutlookWindow" (CancelEvent)="clearOutlookField()">
                            <div class="outlook-email-background">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="to" class="outlook-email-label" style="width: 17%;margin-left: 3%;">To: </label>
            
                                        <input class="form-control" id="to" list="rememberEmailListEl" style="width: 68%;" [(ngModel)]="toAttendees" autofocus name="to" autocomplete="on"
                                            (change)="onEmailSelect()" (blur)="onEmailSelect()"/>
                                        <datalist id="rememberEmailListEl">
                                            <option *ngFor="let email of rememberEmailList" value="{{email}}">
                                        </datalist>
            
                                        <i (click)="editToAttendees()" class="fa fa-2x fa-pencil-square-o edit-icon" style="width: 12%; text-align: center;" aria-hidden="true"></i>
                                    </div>
                                    <div class="row">
                                        <textarea value="{{selectedEmails}}" rows="4" class="email-list" *ngIf="selectedEmails" readonly style="width: 68%; margin-left: 20%;"></textarea>
                                    </div>
                                </div>
            
                                <div class="form-group">
                                    <div class="row">
                                        <label for="to" class="outlook-email-label" style="width: 17%;margin-left: 3%;">Cc: </label>
                
                                        <input class="form-control" (change)="selectedCcEmail()" style="width: 68%;" id="to" (blur)="selectedCcEmail()"
                                            list="rememberCcEmailListEl" [(ngModel)]="ccAttendees" autofocus name="to" autocomplete="on" />
                                        <datalist id="rememberCcEmailListEl">
                                            <option *ngFor="let email of rememberEmailList" value="{{email}}" >
                                        </datalist>
                
                                        <i (click)="editCcAttendees()" class="fa fa-2x fa-pencil-square-o edit-icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="row">
                                        <textarea value="{{selectedCcEmails}}" rows="4" class="email-list" *ngIf="selectedCcEmails" readonly></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                <div class="col-lg-2"> <label for="subject"  class="outlook-email-label">Subject: </label>
                                </div>
                                <div class="col-lg-10"><textarea class="form-control"  readonly [(ngModel)]="outLookSubject"   name="subject">
                                 </textarea>  </div>
                                </div>
                                </div>
                                <div style="height: 100%">
                                     <textarea class="form-control"  [(ngModel)]="outLookBody" name="body" rows="13">
                                    </textarea>
                                </div>
                                <div class="modal-footer popFooter">
                                    <button type="button" class="btn btn-primary" (click)="sendEmail($event)">Send</button>
                                    <button type="button" class="btn btn-danger" (click)="closeOutLookMailPopup()">Close</button>
                                </div>
                        </app-custom-modal>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
