.meetingHeader {
    background: #3277d3;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
}

.style-links {
    color: #d2cccc;
    font-size: 12px;
}



.btn.btn-secondary.btn-border-radius {
    border-radius: 5px;
}

.form-control {
    border-radius: 5px 0px 0px 5px;
}

.hr-partition {
    border-top: 2px dotted #19191a;
    width: 100%;
}

.align-center {
    margin: auto;
    width: 100%;
    color: #848484;
}

.mom-duty {
    color: #848484;
}

.defaultMeetSelect {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.date-period-select {
    border-left: 2px solid #848484;
    padding-left: 10px;
    padding-right: 10px;
    height: 15%;
}

.date-period-first {
    padding-left: 10px;
    padding-right: 10px;
}

.d-inline-block {
    width: 100% !important;
    button {
        width: 100% !important;
    }
    .dropdown-menu.show {
        height: 200px;
        overflow-y: scroll;
        width: 100%;
        overflow-x: hidden
    }
}
.popFooter{
    background-color: #eaf3f8; border-top:1px solid  #19191a;
    }
    
    .popTitle{
    font-size: 22px;
    }
    .btn-border-radius{
        border-radius: 5px;
    }
.btn-cancel{

color: rgb(248, 87, 87);
font-weight: bold;
background-color: rgb(248, 87, 87);
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 78, 78)), to(rgb(248, 87, 87)));
background-image: -webkit-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
background-image: -moz-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
background-image: -ms-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
background-image: -o-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
background-image: linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 10, 10);
  cursor: pointer;
  text-align: center;
  font: Arial, Helvetica;
  color: rgb(248, 241, 241);
}    
