<div class="chat-panel card card-default">
    <div class="card-header meetingHeader">
        <div class="row">
            <div class="col-md-8">
                <i class="fa fa-calendar-check-o"></i>
                Schedule New Meeting
                <h6 class="style-links">19 March 2018</h6>
            </div>
            <div class="col-md-4">
                <button class="btn btn-danger pull-right" type="button" (click)="switchRoute()">Cancel</button>
            </div>
        </div>
    </div>
    <!-- <div class="card-header row defaultMeetSelect">
        <h6 class="align-center">Schedule New Meeting</h6>
    </div> -->
    <div class="card-header">
        <!-- <div class="row">
            <div class="col-md-6">
                <i class="fa fa-calendar"></i>
                19th March 2018
            </div>
            <div class="col-md-6">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-partition" />-->
        <div class="row">
            <div class="card-body" style="height:74vh;">
                <div class="container overall-padding">
                    <form>
                        <div class="row form-group">

                            <div class="col-sm-3">
                                <label>Subject</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="descField" placeholder="Meeting Subject" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label>Date</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="input-group datepicker-input">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="meeting.datePicker" ngbDatepicker #d="ngbDatepicker">
                                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                                        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                        <span class="fa fa-calendar"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Time</label>
                            </div>
                            <div class="col-md-4">
                                <ngb-timepicker [(ngModel)]="meeting.meridianTime" [meridian]="meeting.meridian"></ngb-timepicker>
                            </div>
                            <div class="col-md-5">
                                <div ngbDropdown class="d-inline-block dropdown">
                                    <button class="btn btn-outline-primary" ngbDropdownToggle>Select Duration</button>
                                    <div ngbDropdownMenu>
                                        <button *ngFor="let duration of durationArray" class="dropdown-item">{{duration}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Timezone</label>
                            </div>
                            <div class="col-md-9">
                                <div ngbDropdown class="d-inline-block dropdown">
                                    <button class="btn btn-outline-primary" ngbDropdownToggle>Select Duration</button>
                                    <div ngbDropdownMenu>
                                        <button *ngFor="let timezone of timeZoneArray" class="dropdown-item">{{timezone}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label>Recurring</label>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn btndefault">Yes</a>
                                <a class="btn btn-secondary">No</a>
                            </div>
                            <div class="col-sm-2">
                                <label>Call Type</label>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btndefault">Audio</a>
                                <a class="btn btn-secondary">Video</a>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label>MOM</label>
                            </div>
                            <div class="col-sm-9">
                                <p class="mom-duty">By default mom duty is with you.
                                    <br> you can transfer MOM duty during the call
                                </p>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-9">
                                <a class="btn btn-secondary btn-border-radius" (click)="open()">Schedule Meeting & Send Invitation</a>
                                <!-- href="webcal:calendar.example.com" -->
                                <!-- href="mailto:?subject=Schedule meeting" -->
                            </div>
                            <!-- <button class="btn btn-primary">Large modal</button> -->
                            <app-custom-modal #inviteAttendeesModal [model]="InviteAttendees" (Button1Event)="copyToOutLook($event)" (Button2Event)="copytoClipBoard($event)"></app-custom-modal>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
