<div class="chat-panel card card-default">
    <div class="card-header meetingHeader">
        <div class="row">
            <div class="col-md-8">
                <i class="fa fa-calendar-check-o"></i>
                Schedule New Meeting
                <h6 class="style-links">{{currentDate | date:'fullDate'}}</h6>
            </div>
            <div class="col-md-4">
                <button class="btn btn-cancel pull-right" type="button" (click)="switchRoute()">
                   X
                </button>
            </div>
        </div>
    </div>
    <div class="card-header">
        <div class="row">
            <div class="card-body" style="height:74vh;">
                <div class="container overall-padding">
                    <!-- <form> -->
                    <div class="row form-group">

                        <div class="col-sm-3">
                            <label>Subject<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="descField" placeholder="Meeting Subject" [(ngModel)]="subject" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label>Date<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group datepicker-input">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="meeting.datePicker" ngbDatepicker #d="ngbDatepicker">
                                <button class="input-group-addon" (click)="d.toggle()" type="button" style="cursor: pointer;">
                                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                    <span class="fa fa-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label><br><br>Time<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-md-9">
                            <ngb-timepicker class="customTimePicker" id="meeting.meridianTime" [(ngModel)]="meeting.meridianTime" [meridian]="meeting.meridian"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>Meeting duration<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-md-9">
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class="btn btn-outline-primary" ngbDropdownToggle>{{meeting.selectedDuration}}</button>
                                <div ngbDropdownMenu>
                                    <button *ngFor="let duration of durationArray" class="dropdown-item" (click)="changeDuration(duration)">{{duration}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label >Timezone<span class="asterik-mark">&nbsp;*</span></label>
                        </div>
                        <div class="col-md-9">
                            <div ngbDropdown class="d-inline-block dropdown" >
                                <button class="btn btn-outline-primary" style="white-space: pre-wrap;" ngbDropdownToggle>{{meeting.selectedTimeZone}}</button>
                                <div ngbDropdownMenu>
                                    <button *ngFor="let timezone of timeZoneArray" class="dropdown-item" style="white-space: pre-wrap;" (click)="changeTimeZone(timezone)">{{timezone}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-9">
                            <button class="btn btn-primary" (click)="scheduleMeeting()" >Schedule Meeting & Send Invitation</button>
                        </div>
                        <app-custom-modal #scheduleMeetingModal [model]="scheduleMeetings" (CancelEvent)="clearAllMeetingField()">
                            <div style="padding: 10px; font-size:14px; " class="span-font">
                                <span>{{this.subject}}</span>
                                <p style="font-weight:bold;">Date : {{ meeting.datePicker.year }} / {{ meeting.datePicker.month }} / {{ meeting.datePicker.day}}
                                    at {{(this.meeting.meridianTime.hour > 12 ? this.meeting.meridianTime.hour - 12 : this.meeting.meridianTime.hour)}}&nbsp;:{{meeting.meridianTime.minute}}
                                    {{this.meeting.meridianTime.hour >= 12 ? 'PM' : 'AM'}} ( {{this.meeting.selectedTimeZone}}
                                    ) for
                                    <span style="font-weight: bold;">{{meeting.selectedDuration}} </span>
                                </p>
                                <p style="padding-top: 20px;"> Please join my meeting from your computer , tablet or smartphone
                                    <label>Registered Users use this URL for meeting :</label>  
                                    <span  
                                        style="text-decoration :underline;  font-weight: bold; padding-top:10px;">https://cfscommunicator.com/#/meeting?meetingCode={{accessCode}}
                                    </span>     
                                        <!-- <label>Guest Users use this URL for meeting :</label> 
                                         <span 
                                              style="text-decoration :underline; font-weight: bold; padding-top:10px;">
                                              https://cfscommunicator.com/#/login/GuestUserWithMeeting?meetingCode={{accessCode}}
                                    </span>         -->
                                </p>
                                <h5 style="margin-top: 40px;">Meeting Id :
                                    <span>{{accessCode}}</span>
                                </h5>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn btn-secondary btn-border-radius" (click)="copyToOutLook($event)">Go to Outlook</button>
                                <button type="button" class="btn btn-secondary btn-border-radius" (click)="copyToClipboard()">Copy</button>
                                <button type="button" class="btn btn-danger  btn-border-radius" (click)="closeMeetingPopup('scheduleMeetings')">Close</button>
                            </div>

                        </app-custom-modal>
                        <app-custom-modal #outlookModal [model]="scheduleOutlookWindow" (CancelEvent)="clearAllMeetingField()">
                            <div class="outlook-email-background">
                                <div class="form-group row">
                                <div class="col-lg-2"> <label for="to" class="outlook-email-label">To: </label></div>
                                <div class="col-lg-10"><textarea class="form-control" id="to" [(ngModel)]="toAttendees" name="to" > </textarea></div>
                                </div>
                                <div class="form-group row">
                                <div class="col-lg-2"><label for="cc" class="outlook-email-label">Cc: </label></div>
                                <div class="col-lg-10">  <textarea class="form-control" id="cc" name="cc" [(ngModel)]="ccAttendees"> </textarea>
                                </div>
                                </div>
                                <div class="form-group row">
                                <div class="col-lg-2"> <label for="subject" class="outlook-email-label">Subject: </label>
                                </div>
                                <div class="col-lg-10"><textarea class="form-control" [(ngModel)]="outLooksubject"   name="subject">
                                 </textarea>  </div>
                                </div>
                                </div>
                                <div style="height: 100%">
                                     <textarea class="form-control" id="body" [(ngModel)]="outLookBody" name="body" rows="13"> 
                                    </textarea>
                                </div>
                                <div class="modal-footer popFooter">
                                    <button type="button" class="btn btn-secondary btn-border-radius" (click)="sendEmail($event)">Send</button>
                                    <button type="button" class="btn btn-danger  btn-border-radius" (click)="closeoutMaliPopup()">Close</button>
                                </div>
                        </app-custom-modal>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>