<!-- <div class="container-bg">
    <div class="logo-background">
        <img src="assets/images/color-logo1.png" class="center logo" alt="Responsive image" />
    </div>
  <div class="col-md-12" style="top: 20%;">
    <div class="row h-100 d-flex justify-content-center fixed-header">
       <img src="assets/images/C_4_white.png" alt="Responsive image" class="img-fluid" style="height:3.5rem; " /> 
    </div>
    <div class="row h-100 d-flex justify-content-center">
      <div id="login" class="col-md-4">
        <div class="inner-border">
          <h1 style="color: #01baac;">RESET PASSWORD</h1>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key fa-fw"></i>
              </span>
            </div>
            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password"  required/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key fa-fw"></i>
              </span>
            </div>
            <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required/>
          </div>
          <fieldset id="actions">
            <input type="submit" id="submit" value="Log in" [routerLink]="['/dashboard/default']">
            <input class="btn btn-sec" value="Reset" (click)="resetPassword()" (keyup)="resetPassword()" readonly />

          <a [routerLink]="['/login']">Login</a>
          </fieldset>
  
        </div>
      </div>
    </div>
    <div class="row h-100 d-flex justify-content-center fixed-footer">
      <div>Copyright &copy; 2018 Coreflex Solutions</div>
    </div>
  </div>
  <div class="cfsfooter">
      <img class="card-img setlogo" src="assets/images/coreflex-logo.png" style="height:28px;width:140px; margin:10px; "><br>
  <b>Copyright &copy; 2018 Coreflex Solutions</b>
</div>
</div> -->

<div class="container-bg">
  <div class="logo-background" style="position:relative;">
    <img src="assets/images/header.png" alt="Responsive image"  height="50" width="100%">
    <div class="col-md-12 ">
        <div class="row">
        <div class="col-md-9 col-sm-4 col-6">
                <img src="assets/images/logo.png" class="logo imgr center" alt="Responsive image"/>
        </div>
    </div> 
  </div>
  </div> 
  
    <div class="d-flex justify-content-center">
      <div id="login" class="col-lg-4 col-col-md-6 col-sm-7 col-10 guest-user-login " style="margin-top:10%;">
      <h4 class="red-color guest"><b> Reset Password </b></h4> 
                    
          <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key fa-fw"></i>
              </span>
            </div>
            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password"  required/>
          </div>
          <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-key fa-fw"></i>
              </span>
            </div>
            <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required/>
          </div>
          <fieldset id="actions">
              <div class="row" style="margin-top: 2%;margin-bottom:5%;">
                  <div class="col-md-5">
            <!-- <input type="submit" id="submit" value="Log in" [routerLink]="['/dashboard/default']"> -->
            <input id="reset-button" class="btn btn-primary" value="Reset Password" (click)="resetPassword()" (keyup)="resetPassword()" readonly />
             </div>
           <div class="col-md-7">
          <a [routerLink]="['/login']">Login</a>
          </div>
            </div>
          </fieldset>
</div>
  </div>
  <app-footer></app-footer> 