$hover: #EDBB0A;
$active: #d3d7dd;
$disabled: #5d5d5d;

:host {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    .scrollContent {
        width: 100%;
        overflow-x: overlay;
        overflow-y: hidden;
        z-index: 1;
        display: flex;
    }

    .scrollButton {
        width: 100px;
        display: flex;
        justify-content: center;
        padding-top: 4px;
        flex-direction: column;
        align-items: center;

        >i {
            width: 7px;
            height: 14px;
        }

        .leftImgActive {
            color: $active;
        }

        .leftImgNotActive {
            color: $disabled;
        }

        .rightImgActive {
            color: $active;
        }

        .rightImgNotActive {
            color: $disabled;
        }

        &:hover .leftImgActive {
            color: $hover;
        }

        &:hover .rightImgActive {
            color: $hover;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
