<div class="scrollContainer">
    <div class="scrollButton" (mouseup)="onScrollStop()" (mouseleave)="onScrollStop()" (mousedown)="onScroll(-10)">
        <i [ngClass]="{'fa fa-angle-left':true,'leftImgActive' : canScrollLeft,  'leftImgNotActive': !canScrollLeft}"></i>
    </div>
    <div #content class="scrollContent" (mousewheel)="horizontalScroll($event.deltaY)">
        <ng-content></ng-content>
    </div>
    <div class="scrollButton" (mouseup)="onScrollStop()" (mouseleave)="onScrollStop()" (mousedown)="onScroll(10)">
        <i [ngClass]="{'fa fa-angle-right':true, 'rightImgActive' : canScrollRight, 'rightImgNotActive' : !canScrollRight }"></i>
    </div>
</div>
