<button *ngIf="!guestFlag" type="button" class="hamburger is-closed" data-toggle="offcanvas" [ngClass]="{'is-open': !isClosed}"
    [ngStyle]="{'margin':isClosed &&this.router.url.toString().indexOf('meeting')>0?'5px 0px 0px 20px':'' }" (click)="hamburger_cross()">
    <span [ngClass]="{'hamb-top-color': isClosed &&this.router.url.toString().indexOf('meeting')>0}" class="hamb-top"></span>
    <span [ngClass]="{'hamb-middle-color': isClosed &&this.router.url.toString().indexOf('meeting')>0}" class="hamb-middle"></span>
    <span [ngClass]="{'hamb-bottom-color': isClosed &&this.router.url.toString().indexOf('meeting')>0}" class="hamb-bottom"></span>
</button>
<div class="overlay" [hidden]="isClosed"></div>
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top col-md-3" id="sidebar-wrapper" role="navigation" [ngStyle]="{'margin-left': !isClosed? '0%':'-100%'}">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a style="float:left; width:80%">
                <img src="assets/images/logo.png" class="img-fluid" alt="Responsive image" />
            </a>
            <a style="float:right;width:20%"><i class="fa fa-close" (click)="hamburger_cross()" style="float:right; color:red;"></i></a>
        </li>
        <li>
            <a *ngIf="this.router.url.toString().indexOf('meeting')>0" target="_blank" [routerLink]="['/dashboard/default']"
                (click)="hamburger_cross()">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>

            <a *ngIf="this.router.url.toString().indexOf('meeting')<0" [routerLink]="['/dashboard/default']" (click)="hamburger_cross()">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li *ngFor="let menu of sidebarMenuList">
            <a *ngIf="this.router.url.toString().indexOf('meeting')>0" target="_blank" routerLink="{{menu.menuLink}}"
                (click)="hamburger_cross()">
                <i class="{{menu.menuIconClass}}" aria-hidden="true"></i>&nbsp;{{menu.menuName}}</a>
            <a *ngIf="this.router.url.toString().indexOf('meeting')<0" routerLink="{{menu.menuLink}}" (click)="hamburger_cross()">
                <i class="{{menu.menuIconClass}}" aria-hidden="true"></i>&nbsp;{{menu.menuName}}</a>
        </li>
        <li style="cursor: pointer;"  *ngIf="!guestFlag && loggedInUserObj.meetingPermissionStatus.status ==='ACTIVE'">
            <a  *ngIf="this.router.url.toString().indexOf('meeting')>0" target="_blank" routerLink="/myCalendar" (click)="hamburger_cross()" target="_blank">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;My Calendar</a>
                <a  *ngIf="this.router.url.toString().indexOf('meeting')<0" routerLink="/myCalendar" (click)="hamburger_cross()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;My Calendar</a>
        </li>
        <li style="cursor: pointer;">
            <a (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
        </li>
    </ul>
</nav>