<button type="button" class="hamburger is-closed" data-toggle="offcanvas" [ngClass]="{'is-open offset-md-3': !isClosed}"
    (click)="hamburger_cross()">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>
<div class="overlay" [hidden]="isClosed"></div>

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top col-md-3" id="sidebar-wrapper" role="navigation" [ngStyle]="{'margin-left': !isClosed? '0%':'-100%'}">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                <img src="assets/images/color-logo.png" class="img-fluid" alt="Responsive image" />
            </a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/default']" (click)="hamburger_cross()">
                <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li *ngFor="let menu of sidebarMenuList">
            <a  routerLink= "{{menu.menuLink}}"  (click)="hamburger_cross()">
                <i class="{{menu.menuIconClass}}" aria-hidden="true"></i>&nbsp;{{menu.menuName}}</a>
        </li>
        <li>
            <a href="/login" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
        </li>
    </ul>
</nav>


