// $topnav-background-color: #222;
// :host {
//     .navbar {
//         background-color: $topnav-background-color;
//         .navbar-brand {
//             color: #fff;
//         }
//         .nav-item > a {
//             color: #999;
//             &:hover {
//                 color: #fff;
//             }
//         }
//     }
//     .messages {
//         width: 300px;
//         .media {
//             border-bottom: 1px solid #ddd;
//             padding: 5px 10px;
//             &:last-child {
//                 border-bottom: none;
//             }
//         }
//         .media-body {
//             h5 {
//                 font-size: 13px;
//                 font-weight: 600;
//             }
//             .small {
//                 margin: 0;
//             }
//             .last {
//                 font-size: 12px;
//                 margin: 0;
//             }
//         }
//     }
// }
/*-------------------------------*/

/*           Wrappers            */

/*-------------------------------*/

#sidebar-wrapper {
    z-index: 1000;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 0px;
    padding: 0px;
    ::-webkit-scrollbar {
        display: none;
    }
    background-image: url("/assets/images/logobg.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------------------------*/

/*     Sidebar nav styles        */

/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        position: relative;
        line-height: 2rem;
        display: inline-block;
        width: 100%;
        :first-child a {
            color: #fff;
            background-color: #1a1a1a;
        }
        a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px 10px 30px;
            &:hover,
            &:active,
            &:focus {
                color:   #8f5a0a;
                text-decoration: none;
                background-color: transparent;
                font-weight: bold;
            }
        }
        &:hover::before,
            {
            width: 100%;
            -webkit-transition: width .2s ease-in;
            -moz-transition: width .2s ease-in;
            -ms-transition: width .2s ease-in;
            transition: width .2s ease-in;
        }
        &:hover,
        &:active,
        &:focus {
            color: #3277d3;
            text-decoration: none;
            //background-color: #3277d3;
            background-color: #ffb94b;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
            background-image: -webkit-linear-gradient(to bottom, #fddb6f, #ffb94b);
            background-image: -moz-linear-gradient(to bottom, #fddb6f, #ffb94b);
            background-image: -ms-linear-gradient(to bottom, #fddb6f, #ffb94b);
            background-image: -o-linear-gradient(to bottom, #fddb6f, #ffb94b);
            background-image: linear-gradient(to bottom, #fddb6f, #ffb94b);
            color: #8f5a0a;
        }
    }
    .sidebar-brand {
        height: auto;
        font-size: 20px;
        line-height: 44px;
        background: #fff;
        &:hover,
        &:active,
        &:focus {
            background-color: #fff;
        }
    }
}

/*-------------------------------*/

/*       Hamburger-Cross         */

/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 15px;
    left: 5px;
    z-index: 999;
    display: block;
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    &:hover,
    &:focus,
    &:active {
        outline: none;
    }
    .hamb-top,
    .hamb-middle,
    .hamb-bottom {
        position: absolute;
        left: 0;
        height: 4px;
        width: 100%;
    }
}

.hamburger.is-closed {
    &:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
    &:hover {
        .hamb-top {
            top: 0px;
            -webkit-transition: all .35s ease-in-out;
        }
        .hamb-bottom {
            bottom: 0;
            -webkit-transition: all .35s ease-in-out;
        }
        &:before {
            opacity: 1;
            display: block;
            -webkit-transform: translate3d(-100px, 0, 0);
            -webkit-transition: all .35s ease-in-out;
        }
    }
    .hamb-top,
    .hamb-middle,
    .hamb-bottom {
        background-color: #dadadc;
        ;
    }
    .hamb-top {
        top: 2px;
        -webkit-transition: all .35s ease-in-out;
    }
    .hamb-middle {
        top: 50%;
        margin-top: -2px;
    }
    .hamb-bottom {
        bottom: 2px;
        -webkit-transition: all .35s ease-in-out;
    }
}

.hamburger.is-open {
    .hamb-top,
    .hamb-middle,
    .hamb-bottom {
        background-color: white;
    }
    &:hover {
        .hamb-top {
            top: 16px;
            -webkit-transition: all .35s ease-in-out;
        }
        &:before {
            opacity: 1;
            display: block;
            -webkit-transform: translate3d(-100px, 0, 0);
            -webkit-transition: all .35s ease-in-out;
        }
    }
    .hamb-top,
    .hamb-bottom {
        top: 50%;
        margin-top: -2px;
    }
    .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    }
    .hamb-middle {
        display: none;
    }
    .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    }
    &:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
    }
}

/*-------------------------------*/

/*            Overlay            */

/*-------------------------------*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; // background-color: rgba(1, 45, 68,0.8);
    background: #000000;
    // background: -webkit-linear-gradient(to left, #57c4d8, #0575E6);
    // background: linear-gradient(to left, #57c4d8, #0575E6);
    opacity: 0.8;
    z-index: 101;
}

