<div class="container-bg">
  <div class="logo-background">
    <img src="assets/images/color-logo1.png" class="center logo" alt="Responsive image" />
  </div>

  <div class="col-md-12" style="top: 20%;">

    <div class="row h-100 d-flex justify-content-center fixed-header">
    </div>

    <div class="row h-100 d-flex justify-content-center">
      <div id="login" class="col-md-4" style=" top: 0; box-shadow:5px 10px 18px #888888;">
        <div class="inner-border">
          <h1 style="color: #3283b9;">Guest User</h1>
          <div style=" border: 1px solid #2e77b2;">
            <div id="register-user1">Kindly Enter your name:</div>
            <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input class="form-control" autofocus type="text" placeholder="Full Name" [(ngModel)]="userName" (keyup)="onKey($event)"
                required>
            </div>
            <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-id-card-o"></i>
                </span>
              </div>
              <input class="form-control"  type="text" placeholder="Meeting Id" [(ngModel)]="meetingCode"  
                (keyup)="onKey($event)" required>
            </div>
          </div>

          <fieldset id="actions">
            <input type="submit" id="submit" class="btn btn-primary" value="Continue" (click)="guestLogin()" style="margin-bottom: 1%;" />
            <a [routerLink]="['/login']">I am a registered user</a>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <label id="isScreenSharePopupClosed"></label>
    <label id="isRecordScreenPopupClosed"></label>
</div>
  <div class="cfsfooter">
    <img class="card-img setlogo" src="assets/images/coreflex-logo.png" style="height:28px;width:140px; margin:10px; "><br>
<b>Copyright &copy; 2018 Coreflex Solutions</b>
</div>
</div>
