
<div class="container-bg">
  <div class="logo-background" style="position:relative;">
      <div class="col-md-12 ">
          <div class="row">
              <div class="col-md-8 col-sm-4 col-6">
                  <a href="http://xanadutec.com/communicator.html" target="_blank"><img src="assets/images/logo.png" class="logo imgr" alt="Responsive image"/></a>
                  </div>
                  <div class="col-md-2 col-sm-5 col-4 download-rec-steps">
                     <a [routerLink]="['/error/recordscreensteps']" target="_blank" title="Recording" style="font-weight:bold;">DOWNLOAD RECORDING </a>
                  </div>
                  <div class="col-md-2 col-sm-3 col-2 plugin-install">
                        <a href="http://xanadutec.com/faq.html" target="_blank" ><b>PLUGIN INSTALLATION</b> </a> 
                  </div>
    </div>
    </div>
    </div>

  <div class="d-flex justify-content-center">
    <div class="col-lg-4 col-col-md-6 col-sm-7 col-10 guest-user-login " style="margin-top:10%; padding:1.5% 1.5% 0% 1.5%;">
        <h4 class="red-color guest"><b> Guest User Log In</b></h4>
          <div class="enter-name">Kindly enter your name:</div>
          <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input class="form-control" autofocus type="text" placeholder="Full Name" [(ngModel)]="userName" (keyup)="onKey($event)" #usernameField
            required>
          </div>
          <div class="input-group mb-3" style="padding:0px 15px 5px 15px;">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-id-card-o"></i>
              </span>
            </div>
            <input class="form-control"  type="text" placeholder="Meeting Id" [(ngModel)]="meetingCode" #meetingCodeField
            (keyup)="onKey($event)" required>
          </div>
          <div class="row" style="margin-top: 5%;margin-bottom:5%;">
              <div class="col-md-5">
              <button  value="Continue" (click)="guestLogin()" style="margin-bottom: 1%;" [disabled]="isMeetingCodeInValid ? 'disabled' : null"
              id="continue" type="button" class=" btn btn-primary continue"><b>Continue</b></button>
            </div>
              <div class="col-md-7">
              <h5 class="forgot"><b><a [routerLink]="['/login']" [queryParams]={meetingCode:meetingCode}>I am a registered user</a></b></h5>
            </div>
      </div>
    </div>
  </div>
  <div style="display: none;">
    <label id="isScreenSharePopupClosed"></label>
    <label id="isRecordScreenPopupClosed"></label>
</div>
</div>
<app-footer></app-footer>

