<div class="top">
    <div class="col-md-12 header" style="text-align: center;">
        <h3> Meeting Calendar </h3>
    </div>
</div>
<div class="main">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>

</div>

<app-custom-modal #meetingDetailsModal [model]="meetingModalDetails">
    <div class="col-md-12">
        <div class="row form-control">
            <div class="col-md-6">Meeting Id:</div>
            <div class="col-md-6">{{meetingDetails.meetingCode}}</div>
        </div>
        <div class="row form-control">
            <div class="col-md-6">Subject:</div>
            <div class="col-md-6">{{meetingDetails.subject}}</div>
        </div>
        <div class="row form-control">
            <div class="col-md-6">Date:</div>
            <div class="col-md-6">{{meetingDetails.meetingStartDateTime | date:'fullDate'}}</div>
        </div>
        <div class="row form-control">
            <div class="col-md-6">Duration</div>
            <div class="col-md-6">{{meetingDetails.duration}}</div>
        </div>
        <div class="row form-control">
            <div class="col-md-6">Host Name:</div>
            <div class="col-md-6">{{meetingDetails.createdBy.firstName+ ' '+meetingDetails.createdBy.lastName}}</div>
        </div>

    </div>
    <div class="modal-footer popFooter">        
        <button type="button" class="btn btn-danger" (click)="exit()">Close</button>
    </div>
</app-custom-modal>