@import "styles/customStyle.css";

.top {
    height: 105px;
    padding: 15px; // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background: #fecf71;
   // color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(/assets/images/logobg.png);
    background-position-y: bottom;
}

.left {
    width: 15%;
    float: left;
    padding: 0px 15px 15px 15px;
    background: #e5efff;
    .filler{
        height:40px;
        background: #fecf71;
        margin: 0px -17px -15px -15px;
    border-right: none;
    }
}

.main1 {
    // margin-left: 15%;
    padding: 0px 15px 0px 15px;
    border: 1px solid #ccd1d4;
    border-top: none;
    border-bottom: none;
    height: auto;
    overflow-y: scroll;
    top: 105px;
    bottom: 90px;
    position: fixed;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 30px;
}

td,
th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.main table tr td a {
    cursor: pointer;
    color: #353535;
    text-decoration: underline;
}

.filter-list {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    height: 90vh;
}

.date-period-select {
    border-left: 2px solid #999;
    padding-left: 10px;
    padding-right: 10px;
    height: 15%;
    cursor: pointer;
}

// .fc-toolbar{
//     height: 20px !important;
// }
a {
    color: #ffffff;
    cursor: pointer;
}

.header{
    position:absolute; 
    top:0px; left:0px; 
    height:105px; 
    right:0px;
    padding-top: 20px;
    color: white;
    overflow:hidden;
    text-align: center;
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
}

.body-container{
    position:absolute; 
    top:105px; 
    bottom:100px; 
    left:0px; 
    right:0px; 
    overflow:auto;
}

.footer{
    position:absolute; 
    bottom:0px; 
    height:100px; 
    left:0px; 
    right:0px; 
    overflow:hidden;
}

.main-container{
    width: 100%; 
    height:100%;
  }
.view-meeting-popup-body{
    padding: 20px 30px 20px 30px;
    // text-align: center;
}
.meetingDetails div label{
    width: 30%;
    padding-left: 10px;
    font-weight: bold;
    color: #008cba;
}
.meetingDetails div p{
    width: 60%;
    border-bottom: 1px solid rgb(150, 150, 150);
}
.calender-img{
    color: #77736cf8; 
    text-align: center;
    // color: linear-gradient(to right,#fd7a2a,orange);
    // font-size: 8vh;
}
.title-meeting-details{
    text-align: center;
    color: #000000;
}
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }
