.chat-panel{
    .chat-dropdown{
        margin-top: -3px;
    }
    .chat{
        .left{
            img{
                margin-right: 15px;
            }
        }
        .right{
            img{
                margin-left: 15px;
            }
        }
        // height: 75vh;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 10px;
            margin-right: 15px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #999;
        }
    }
    .card-footer{
        input{
            padding : 3px;
        }
    }
}
.div1 {
    float: left;
}

.div2 {
    float:right;
}
.style-links{
    color: orange;
    font-size :12px;
}
.defaultMeetSelect{
    background-color: #fff;
    text-align: center;
}
.date-period-select{
    border-left: 2px solid #999;
     padding-left: 10px;
    padding-right: 10px;
    height: 15%;

}
.align-center{
    margin: auto;
    width: 100%;

}
.align-center a{
    color: #999;
}

  .searchText input {
    background-image: url('/assets/images/Search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 12px;
    padding: 12px 20px 12px 40px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid#999;
  }

  #ex4 .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:8%;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 1em;
    //font-weight:bold;
  }

