<div id="room-urls" style="text-align: center;display: none;"></div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 meeting-activity">
                <div class="card-header"
                    style="padding-top:14px; padding-bottom:14px;margin-bottom: -2px;box-shadow: 5px 5px 5px #e4dadb;">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/images/logo.png" class="img-fluid" alt="Responsive image" />
                        </div>
                        <div class="col-md-6" style="float:right;color:#AF2127;">
                            <app-selected-user-header [SelectedUser]="selectedUser" style="float: right;">
                            </app-selected-user-header>
                        </div>

                        <div class="col-md-2" style="text-align:right;color:#AF2127;padding-right:3%;">
                            <h4>
                                <i class="fa fa-clock-o"></i>&nbsp;
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4 style="cursor: pointer;float: right;color:#AF2127;">
                                <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6" style="height:80vh;" [ngClass]="{'col-md-12':!isCallInProcess}">
                            <div class="chat-output" style="height: calc(100vh*0.70)">
                                <div *ngFor="let chatMessage of chattingHistoryList">
                                    <div class="chat-background-attendee" *ngIf="chatMessage.userId.userCode==loggedInUser.userCode">
                                        <p>{{chatMessage.chatmsg}}</p><span class="time-right">{{chatMessage.msgDate | date:'yyyy-MM-dd HH:mm:ss'}} <i class="fa fa-user"></i>&nbsp; You</span>
                                    </div>
                                    <div class="chat-background-invitee-attendee" *ngIf="chatMessage.userId.userCode!=loggedInUser.userCode">
                                        <p>{{chatMessage.chatmsg}}</p><span class="time-left">{{chatMessage.msgDate | date:'yyyy-MM-dd HH:mm:ss'}} <i class="fa fa-user"></i>&nbsp; {{chatMessage.userId.firstName+' '+chatMessage.userId.lastName}}</span>
                                    </div>
                                </div>
                                
                                <div id="chat-container"></div>
                            </div>
        
                            <div class="row">
                                <textarea placeholder="Type Message Here.." id="input-text-chat"
                                    style="width:70%;height:60px;overflow:auto;resize:none;margin-left:3%;" [(ngModel)]="chatMsg" (keyup.enter)="onKey($event)"></textarea>
                                <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"
                                    style="margin-left: 10px;" (click)="sendMessage()"></i>
                            </div>
                        </div>
                        <div class="col-md-6" [ngStyle]="{'display':isCallInProcess?'block':'none'}">
                            <div class="attendee-row" style="padding-right: 80px;">
                                <h4></h4>
                                <div class="demo-one" style="overflow-y:auto;">
                                    <div class="row main-div" #videos_container id="videos_container">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row parent" style="margin-right: 80px;">
                                <div class="col-md-12" style="text-align: center;">
                                    <h4 style="margin-bottom:0px;padding:0.1% 0% 0.2% 1%;">Shared Screen</h4>
                                </div>
                                <div id="shareScreen-container" class="row main-div" style="margin-top:0%;overflow-y: auto;height: 23vh;"></div>
                            </div>
                        </div>
                    </div>
                </div>
               
               
                <div style="height: calc(100vh*.06); margin-right: 85px;">
                    <div class="col-md-12 meeting-bottom" style="padding-bottom: 0px;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=10 style="display:none;">
                        <button id="btn-leave-room" class=" btn-danger-end-meeting btn-exit" (click)="exitMeeting()"
                            data-toggle="tooltip" title="Exit Meeting">
                            <i class="fa fa-2x fa-power-off"></i>
                        </button>

                        <button id="btn-mute" class="btn-sec btn-unmute" [ngClass]="isMute?'btn-mute':'btn-sec'"
                            placement="top" data-toggle="tooltip" title="{{muteBtnTitle}}">
                            <i class="fa fa-2x " [ngClass]="isMute?'fa-microphone-slash':'fa-microphone'"></i>
                        </button>
                        <button id="open-room" class="btn-sec" alt="Start Meeting" (click)="isCallInProcess=!isCallInProcess"
                            [ngClass]="isMeetingStarted?'default':'btn-success'" placement="top" title="Call">
                            <i class="fa fa-2x fa-phone"></i>
                        </button>
                        <button id="join-room" class="btn default " style="display: none;">
                            <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="btn-start-recording" class="btn-sec " alt="Start Recording">
                            <i class="fa fa-2x fa-circle" title="Start Recording" data-toggle="tooltip"
                                aria-hidden="true" id="rec_start"></i>
                            <i class="fa fa-2x fa-stop" aria-hidden="true" title="Stop Recording" data-toggle="tooltip"
                                style="color:#dc3545;display: none" id="rec_stop"></i>
                        </button>
                        <button id="btn-stop-recording" class="btn-sec " alt="Start Recording"
                            style="display: none;"></button>
                        <button id="share-file" class="btn-sec" title="Share File" data-toggle="tooltip">
                            <i class="fa fa-2x fa-file-text"></i>
                        </button>
                        <button id="share-screen" class=" btn-sec" style=" margin-top: 1px;" data-toggle="tooltip"
                            title="Share Screen" (click)="shareScreen()">
                            <i class="fa fa-2x fa-desktop"></i>
                        </button>
                        <button id="disable-video" class="btn-sec " alt="Disable video" style=" margin-top: 1px;"
                            (click)='viewVideo()' [value]="isVideoEnabled" title="{{videoBtnTitle}}"
                            data-toggle="tooltip">
                            <i *ngIf="isVideoEnabled" class="fa fa-2x fa-video-camera"></i> <i *ngIf="!isVideoEnabled"
                                class="fa fa-2x fa-ban"></i>
                        </button>
                        <span id="meeting-error" style="float: right;font-weight: bolder;"></span>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
                        <div style="display: none;" id="isHost"></div>
                        <div style="display: none;" id="isVideoEnabled">{{isVideoEnabled}}</div>
                        <button style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit
                            Meeting
                        </button>
                    </div>
                </div>
            </div>
            <div class="sidebar-contact" [ngClass]="{'active': toggleMeeting}" style="top: 58px;">
                <div class="toggle" (click)="toggleMeeting=!toggleMeeting" [ngClass]="{'active': toggleMeeting}">
                </div>

                <div class="card">
                    <div class="card-header col-md-12 meeting-activity-header">
                        <div class="col-md-11" style="float: left;transform: translateY(20%);">
                            <h5>Meeting Activity</h5>
                        </div>
                        <div> <i class="fa fa-times close-popup" (click)="closeToggle()"></i></div>
                    </div>
                    <div class="card-body">
                        <ul role="tablist" class="nav nav-tabs justify-content-start">
                           
                            <li class="nav-item ng-star-inserted" (click)="switchTab('mom')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='mom'}">
                                    Notes
                                </span>
                            </li>                            
                            <li class="nav-item ng-star-inserted" (click)="switchTab('downloadedFiles')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='downloadedFiles'}">
                                    Shared Files
                                </span>
                            </li>
                        </ul>                       
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='mom'?'block':'none'}">
                            <div class="row content-tab" style="text-align:center;">
                                <textarea placeholder="Type MOM Here..."
                                    style="width:100%;margin:4%;overflow:auto;resize:none;margin-right:10%;"
                                    [(ngModel)]="momTxt" required class="MomTextBox"></textarea>
                                <button class="btn generate-mom-btn momBtn" id="btn-save-mom">Generate
                                    Meeting Notes</button>
                            </div>
                        </div>                        
                        <div class="tab-content tab-content-srcoll"
                            [ngStyle]="{'display':currentTab=='downloadedFiles'?'block':'none'}">
                            <div id="file-container" class="row content-tab">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="icon-bar" style="top: 108px;">               
                <a href="javascript:void(0)" (click)="switchTab('mom')" [ngClass]="{'selected': currentTab=='mom'}"
                    title="Notes"><i class="fa fa-sticky-note-o"></i></a>               
                <a id="downloadedFilesAnchor" href="javascript:void(0)" (click)="switchTab('downloadedFiles')"
                    [ngClass]="{'selected': currentTab=='downloadedFiles'}" title="Shared Files">
                    <div id="fileCount" class="step"></div><i class="fa fa-file-text-o"></i>
                </a>
                <a [routerLink]="['/error/recordscreensteps']" target="_blank" title="Recording Info"><img
                        src="assets/images/rec_edited.png" class="img-fluid" alt="Responsive image" /> </a>
            </div>
        </div>
    </div>
</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>
    <button id="btn-leave-room" class="btn pull-left btn-danger" placement="top" ngbTooltip="Exit Meeting">
        <i class="fa fa-2x fa-power-off"></i>
    </button>
</section>
<video id="screenRecordVideo" style="display: none;"></video>