<div class="card card-default">
    <div class="row" style="margin:0px;">
        <div class="col-md-8 card-header" id="timeline-icon">
            {{selectedUser.name}} {{selectedUser.lastName}}&nbsp;
            <a id="view-profile" (click)="open(loggedInUser)" (Button1Event)="updateProfile($event)">(View Full Profile)</a>
        </div>
        <app-custom-modal #inviteAttendeesModal [model]="InviteAttendees">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Display Name</label>
                    </div>
                    <div class="col-md-5">{{selectedUser.name}}</div>
                    <div class="col-md-3">
                        <a>Change</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Display Picture</div>
                    <div class="col-md-3">
                        <i class="fa fa-user" style="font-size:200px;"></i>
                    </div>
                    <div class="col-md-5">
                        <a style="text-decoration : underline">Change Picture</a>
                        <br>
                        <a>Remove Picture</a>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer popFooter">
                <!-- <button type="button" class="btn btn-secondary btn-border-radius" (click)="addTeam(newTeamName)">Add Team</button>
                <button type="button" class="btn btn-danger  btn-border-radius" (click)="closeTeamPopup('addNewTeam')">Close</button> -->
            </div>
        </app-custom-modal>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-video-camera" [routerLink]="['/videoCall']"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="col-md-1 card-header">
            <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
        </div>
    </div>
    <div class="card-body">
        <ul class="timeline">
            <li>
                <div class="timeline-badge">
                    <i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                        <p>
                            <small class="text-muted">
                                <i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor perspiciatis omnis
                            exercitationem. Beatae, officia pariatur? Est cum veniam excepturi. Maiores praesentium, porro
                            voluptas suscipit facere rem dicta, debitis.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem quibusdam, tenetur commodi
                            provident cumque magni voluptatem libero, quis rerum. Fugiat esse debitis optio, tempore. Animi
                            officiis alias, officia repellendus.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit qui est tempora
                            eos, nostrum provident explicabo dignissimos debitis vel! Adipisci eius voluptates, ad aut recusandae
                            minus eaque facere.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger">
                    <i class="fa fa-bomb"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque,
                            tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat,
                            magni commodi quisquam.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente,
                            eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus
                            libero, omnis ut debitis!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge info">
                    <i class="fa fa-save"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est
                            molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla
                            qui! Laborum, atque.
                        </p>
                        <hr>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita,
                            incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi.
                            Consequuntur, commodi.
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge success">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Lorem ipsum dolor</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia
                            voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim
                            incidunt quisquam maxime neque eaque.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="input-group">
    <textarea class="form-control send-box" placeholder="Type message here">
    </textarea>
    <div class="input-group-append">
        <a class="btn">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
        <a class="btn">
            <i class="fa fa-file" aria-hidden="true"></i>
        </a>
    </div>
</div>

