<!-- <div class="row">
    <div class="col-md-6">
        <div class="card card-default">
            <app-selected-user-header [SelectedUser]="selectedUser"></app-selected-user-header>
            <div class="card-body">
                <ul class="timeline chat-output">
                    <li *ngFor="let chatObj of chattingHistoryList">
                        <ng-container *ngIf="chatObj.chatmsg">
                            <div class="timeline-badge">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6 class="timeline-title">{{chatObj.userId.firstName}}&nbsp;{{chatObj.userId.lastName}}</h6>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-calendar"></i> {{chatObj.msgDate | date:'fullDate'}}&nbsp;
                                            ({{chatObj.msgDate | date:'hh:mm:ss'}})</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>{{chatObj.chatmsg}}</p>
                                </div>
                            </div>
                        </ng-container>
                    </li>
                    <li *ngFor="let broadcastMsg of broadcastMsgList" class="timeline-inverted">
                        <div class="timeline-badge warning">
                            <i class="fa fa-bullhorn fa-fw"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="timeline-title">{{broadcastMsg.generatedBy.firstName}}&nbsp;{{broadcastMsg.generatedBy.lastName}}</h6>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-calendar"></i> {{broadcastMsg.broadcastMsgDate |
                                        date:'fullDate'}}&nbsp;
                                        ({{broadcastMsg.broadcastMsgDate | date:'hh:mm:ss'}})</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{broadcastMsg.broadcastMessage}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <textarea class="form-control send-box" placeholder="Type message here" [(ngModel)]="chatMsg" id="input-text-chat"
                (keyup.enter)="sendMessage()" required>
    </textarea>
            <div class="input-group-append">
                <a class="btn">
                    <i class="fa fa-paper-plane" aria-hidden="true" id="alternate-send-chat" (click)="sendMessage()"></i>
                </a>
                <a class="btn">
                    <i class="fa fa-file" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div> -->
<!-- <div class="row">
    <div class="col-md-6">
        <div class="card card-default">
            <app-selected-user-header [SelectedUser]="selectedUser"></app-selected-user-header>
            <div class="card-body">
                <ul class="timeline chat-output">
                    <li *ngFor="let chatObj of chattingHistoryList">
                        <ng-container *ngIf="chatObj.chatmsg">
                            <div class="timeline-badge">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6 class="timeline-title">{{chatObj.userId.firstName}}&nbsp;{{chatObj.userId.lastName}}</h6>
                                    <p>
                                        <small class="text-muted">
                                            <i class="fa fa-calendar"></i> {{chatObj.msgDate | date:'fullDate'}}&nbsp;
                                            ({{chatObj.msgDate | date:'hh:mm:ss'}})</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>{{chatObj.chatmsg}}</p>
                                </div>
                            </div>
                        </ng-container>
                    </li>
                    <li *ngFor="let broadcastMsg of broadcastMsgList" class="timeline-inverted">
                        <div class="timeline-badge warning">
                            <i class="fa fa-bullhorn fa-fw"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h6 class="timeline-title">{{broadcastMsg.generatedBy.firstName}}&nbsp;{{broadcastMsg.generatedBy.lastName}}</h6>
                                <p>
                                    <small class="text-muted">
                                        <i class="fa fa-calendar"></i> {{broadcastMsg.broadcastMsgDate |
                                        date:'fullDate'}}&nbsp;
                                        ({{broadcastMsg.broadcastMsgDate | date:'hh:mm:ss'}})</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{broadcastMsg.broadcastMessage}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <textarea class="form-control send-box" placeholder="Type message here" [(ngModel)]="chatMsg" id="input-text-chat"
                (keyup.enter)="sendMessage()" required>
    </textarea>
            <div class="input-group-append">
                <a class="btn">
                    <i class="fa fa-paper-plane" aria-hidden="true" id="alternate-send-chat" (click)="sendMessage()"></i>
                </a>
                <a class="btn">
                    <i class="fa fa-file" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div> -->

<!--/**********Commented code by shruti**********/
    <div id="room-urls" style="text-align: center;display: none;"></div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 meeting-activity">
                <div class="card-header" style="border-radius: 8px 8px 0px 0px;margin-bottom: -2px;">
                    <div class="row">
                        <app-selected-user-header [SelectedUser]="selectedUser"></app-selected-user-header>
                    </div>
                </div>
                <div class="attendee-row">
                    <div class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true" id="videos_container">
                        <video drag-scroll-item *ngFor="let image of imagelist" class="dummyVideoPlaceHolders"></video> 
                    </div>
                </div>
                <div class="row parent">
                    <div id="file-container" style="width: 100%; overflow-y: scroll;"></div>
                </div>
                <div>
                    <div class="col-md-12 meeting-bottom" style="padding-bottom: 0px;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=10 style="display:none;">

                        <button id="btn-mute" class="btn pull-left default" [ngClass]="isMute?'btn-sec':'default'"
                            #muteUnmuteBtn placement="top" ngbTooltip="Mute/Unmute" (click)='mute()'>
                            <i class="fa fa-2x " [ngClass]="isMute?'fa-microphone-slash':'fa-microphone'"></i>
                        </button>
                        <button id="open-room" class="btn pull-left" alt="Start Meeting" [ngClass]="isMeetingStarted?'default':'btn-success'"
                            placement="top" ngbTooltip="Start">
                            <i class="fa fa-2x fa-phone"></i>
                        </button>
                         <button id="btn-start-recording" class="btn pull-left" alt="Start Recording">
                            <i class="fa fa-2x fa-circle" placement="top" ngbTooltip="start recording" aria-hidden="true"
                                style="color:#dc3545" id="rec_start"></i>
                            <i class="fa fa-2x fa-stop" aria-hidden="true" placement="top" ngbTooltip="stop recording"
                                style="color:#dc3545;display: none" id="rec_stop"></i>
                        </button> 
                        <button id="disable-video" class="btn pull-left default" alt="Disable video" style="display:none;"
                            placement="top" #viewVideoBtn (click)='viewVideo()' [value]="isVideoEnabled" placement="top"
                            ngbTooltip="Video on/off">
                            <i *ngIf="isVideoEnabled" class="fa fa-2x fa-video-camera"></i> <i *ngIf="!isVideoEnabled"
                                class="fa fa-2x fa-ban"></i>
                        </button>

                        <button id="join-room" class="btn default pull-left" style="display: none;">
                            <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="share-file" class="btn default pull-left" style="display:none;" placement="top"
                            #shareFileBtn placement="top" ngbTooltip="Share File">
                            <i class="fa fa-2x fa-clipboard"></i>
                        </button>
                        <button id="share-screen" class="btn pull-left" style="display:none;" placement="top"
                            #shareScreenBtn [ngClass]="isScreenSharingStarted?'btn-sec':'default'" (click)='shareScreen()'
                            placement="top" ngbTooltip="Share Screen">
                            <i class="fa fa-2x fa-desktop"></i>
                        </button>
                        <span id="meeting-error" style="float: right;font-weight: bolder;"></span>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
                        <div style="display: none;" id="isHost"></div>
                        <div style="display: none;" id="isVideoEnabled">{{isVideoEnabled}}</div>
                        <button style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit
                            Meeting
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 meeting-activity">
                <div class="card">
                    <div class="card-header col-md-12">
                        <div class="col-md-8" style="float: left;">
                            <img src="assets/images/coreflex-logo1.png" class="img-fluid" alt="Responsive image" />
                        </div>
                        <div class="col-md-1" style="float: right;">
                            <h4 style="cursor: pointer;">
                                <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chat-container" class="chat-output">
                        </div>
                        <div class="col-md-12" style="padding-top: 20px;">
                            <div class="row">
                                <span class="col-md-10">
                                    <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;overflow:auto;resize:none"></textarea>
                                </span>
                                <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                    <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>
    <button id="btn-leave-room" class="btn pull-left btn-danger" placement="top" ngbTooltip="Exit Meeting">
        <i class="fa fa-2x fa-power-off"></i>
    </button>
     <div id="chat-container">
    </div> 
</section>
<video id="screenRecordVideo" style="display: none;"></video> -->

<div id="room-urls" style="text-align: center;display: none;"></div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 meeting-activity">
                <div class="card-header" style="padding-top:14px; padding-bottom:14px;margin-bottom: -2px;box-shadow: 5px 5px 5px #e4dadb;">
                    <!-- <div class="row">
                        <app-selected-user-header [SelectedUser]="selectedUser"></app-selected-user-header>
                    </div> -->
                    <div class="row">
                            <div class="col-md-3">
                                  <img src="assets/images/logo.png" class="img-fluid" alt="Responsive image"/>
                            </div>
                            <div class="col-md-6" style="float:right;color:#AF2127;">
                                    <app-selected-user-header [SelectedUser]="selectedUser" style="float: right;"></app-selected-user-header>
                            </div>
                        
                            <div  class="col-md-2"style="text-align:right;color:#AF2127;padding-right:3%;">
                                    <h4>
                                        <i class="fa fa-clock-o"></i>&nbsp;
                                        <!-- {{hour| number:'2.0-0'}}:{{minute| number:'2.0-0'}}:{{second| number:'2.0-0'}} -->
                                    </h4>
                                </div>
                                <div class="col-md-1">
                                    <h4 style="cursor: pointer;float: right;color:#AF2127;">
                                        <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
                                    </h4>
                                </div>
                        </div>
                </div>
                <div class="attendee-row" style="padding-right: 85px;">
                    <h4></h4>
                     <div class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true" >
                            <div class="row main-div">
                                    <div class=" col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4" >
                                            <div class="demo-content">
                                            <div class="meeting-attendee-name" >YOU</div>
                                            <div class="initial-letter-attendee attendee-letter">YOU</div>
                                            </div>
                                        </div>
                                    <div id="call-joined-attendee" class=" col-xl-4 col-lg-4 col-md-5 col-sm-5 col-5 center joined-attendee">
                                    <div class="demo-content">
                                    <div class="meeting-attendee-name">YOU</div>
                                    <div class="initial-letter-attendee attendee-letter">YOU</div>
                                    </div>
                                    <div class="ongoing-call">Ongoing Call</div>
                                    </div>
                                    </div>
                        <!-- <video drag-scroll-item *ngFor="let image of imagelist" class="dummyVideoPlaceHolders"></video> -->
                    </div>
                </div>
                <!-- <div class="row parent">
                    <div id="file-container" style="width: 100%; overflow-y: scroll;"></div>
                </div> -->
                <div class="row parent" style="margin-right: 85px;margin-left:5px;">
                        <div class="col-md-12" style="text-align: center;">
                                <h4 style="margin-bottom:0px;padding:0.1% 0% 0.2% 1%;">Shared Screen</h4>
                        </div>
                       <div id="shareScreen-container" class="row main-div"></div>
                    </div>
                <div style="height: calc(100vh*.06); margin-right: 85px;">
                    <div class="col-md-12 meeting-bottom" style="padding-bottom: 0px;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=10 style="display:none;">
                            <!-- <button id="btn-leave-room" class="btn-danger-end-meeting btn-exit" placement="top" title="Exit Meeting">
                              
                                <img src="/assets/images/end-call.png" title="End Call" alt="">
                            </button> -->
                            <button id="btn-leave-room" class=" btn-danger-end-meeting btn-exit" (click)="exitMeeting()"
                            data-toggle="tooltip" title="Exit Meeting">
                            <i class="fa fa-2x fa-power-off"></i>
                        </button>

                            <button id="btn-mute" class="btn-sec btn-unmute"
                            [ngClass]="isMute?'btn-mute':'btn-sec'" placement="top" data-toggle="tooltip" title="{{muteBtnTitle}}">
                            <!-- (click)='mute()' -->
                            <i class="fa fa-2x " [ngClass]="isMute?'fa-microphone-slash':'fa-microphone'"></i>
                        </button>
                        <button id="open-room" class="btn-sec" alt="Start Meeting" [ngClass]="isMeetingStarted?'default':'btn-success'"
                            placement="top" title="Call">
                            <i class="fa fa-2x fa-phone"></i>
                        </button>
                        <!-- <button id="btn-start-recording" class="btn pull-left" alt="Start Recording">
                            <i class="fa fa-2x fa-circle" placement="top" ngbTooltip="start recording" aria-hidden="true"
                                style="color:#dc3545" id="rec_start"></i>
                            <i class="fa fa-2x fa-stop" aria-hidden="true" placement="top" ngbTooltip="stop recording"
                                style="color:#dc3545;display: none" id="rec_stop"></i>
                        </button> -->
                      

                        <button id="join-room" class="btn default " style="display: none;" >
                            <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="btn-start-recording" class="btn-sec " alt="Start Recording"
                       >
                        <i class="fa fa-2x fa-circle" title="Start Recording" data-toggle="tooltip"
                            aria-hidden="true" id="rec_start"></i>
                        <i class="fa fa-2x fa-stop" aria-hidden="true" title="Stop Recording" data-toggle="tooltip"
                            style="color:#dc3545;display: none" id="rec_stop"></i>
                       </button>
                     <button id="btn-stop-recording" class="btn-sec " alt="Start Recording"
                    style="display: none;"></button>
                        <button id="share-file" class="btn-sec" title="Share File" 
                        data-toggle="tooltip">
                        <i class="fa fa-2x fa-file-text"></i>
                    </button>
                    <button id="share-screen" class=" btn-sec" style=" margin-top: 1px;"
                    data-toggle="tooltip" title="Share Screen" (click)="shareScreen()">
                    <i class="fa fa-2x fa-desktop"></i>
                  </button>
                  <button id="disable-video" class="btn-sec " alt="Disable video"
                  style=" margin-top: 1px;" (click)='viewVideo()' [value]="isVideoEnabled"
                  title="{{videoBtnTitle}}" data-toggle="tooltip">
                  <i *ngIf="isVideoEnabled" class="fa fa-2x fa-video-camera"></i> <i *ngIf="!isVideoEnabled"
                      class="fa fa-2x fa-ban"></i>
              </button>
                        <span id="meeting-error" style="float: right;font-weight: bolder;"></span>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
                        <div style="display: none;" id="isHost"></div>
                        <div style="display: none;" id="isVideoEnabled">{{isVideoEnabled}}</div>
                        <button style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit
                            Meeting
                        </button>
                    </div>
                </div>
            </div>
            <div class="sidebar-contact" [ngClass]="{'active': toggleMeeting}" style="top: 58px;">
                    <div class="toggle" (click)="toggleMeeting=!toggleMeeting" [ngClass]="{'active': toggleMeeting}">   
                    </div>
                   
                    <div class="card">
                        <div class="card-header col-md-12 meeting-activity-header">
                            <div class="col-md-11" style="float: left;transform: translateY(20%);">
                                <h5>Meeting Activity</h5>
                            </div>
                            <div> <i class="fa fa-times close-popup" (click)="closeToggle()"></i></div>
                        </div>
                        <div class="card-body">
                            <ul role="tablist" class="nav nav-tabs justify-content-start">
                                <li class="nav-item ng-star-inserted" (click)="switchTab('chat')">
                                    <span class="nav-link" [ngClass]="{'active': currentTab=='chat'}">
                                        Chat
                                        <!-- <span id="messageCount" class="step"></span> -->
                                    </span>
                                </li>
                                <li class="nav-item ng-star-inserted" (click)="switchTab('mom')">
                                    <span class="nav-link" [ngClass]="{'active': currentTab=='mom'}">
                                        Notes
                                    </span>
                                </li>
                                <li class="nav-item ng-star-inserted" (click)="switchTab('viewers')">
                                    <span class="nav-link" [ngClass]="{'active': currentTab=='viewers'}">
                                        Viewers
                                       
                                    </span>
                                </li>
                                <li class="nav-item ng-star-inserted" (click)="switchTab('downloadedFiles')">
                                    <span class="nav-link" [ngClass]="{'active': currentTab=='downloadedFiles'}">
                                        Shared Files
                                    </span>
                                </li>
                            </ul>
                            <div class="tab-content" [ngStyle]="{'display':currentTab=='chat'?'block':'none'}">
                                <div id="chat-container" class="chat-output">
                                </div>
      
                                <div class="row">
                                    <textarea placeholder="Type Message Here.." id="input-text-chat"
                                        style="width:70%;height:60px;overflow:auto;resize:none;margin-left:3%;"></textarea>
                                    <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"
                                        style="margin-left: 10px;"></i>
                                </div>
                            </div>
                            <div class="tab-content" [ngStyle]="{'display':currentTab=='mom'?'block':'none'}">
                                <div class="row content-tab" style="text-align:center;">
                                    <textarea placeholder="Type MOM Here..."
                                        style="width:100%;margin:4%;overflow:auto;resize:none;margin-right:10%;"
                                        [(ngModel)]="momTxt" required class="MomTextBox"></textarea>
                                    <button class="btn generate-mom-btn momBtn" id="btn-save-mom">Generate
                                        Meeting Notes</button>
                                        <!-- (click)="saveMom() -->
                                </div>
                            </div>
                            <div class="tab-content tab-content-srcoll"
                                [ngStyle]="{'display':currentTab=='viewers'?'block':'none'}">
                                <div class="row content-tab">
                                    <div id="viewersList" class="col-md-12"></div>
    
                                </div>
                            </div>
                            <div class="tab-content tab-content-srcoll"
                                [ngStyle]="{'display':currentTab=='downloadedFiles'?'block':'none'}">
                                <div id="file-container" class="row content-tab">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
<!-- 
            <div class="col-sm-4 meeting-activity">
                <div class="card">
                    <div class="card-header col-md-12">
                        <div class="col-md-8" style="float: left;">
                            <img src="assets/images/coreflex-logo1.png" class="img-fluid" alt="Responsive image" />
                        </div>
                        <div class="col-md-1" style="float: right;">
                            <h4 style="cursor: pointer;">
                                <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chat-container" class="chat-output">
                        </div>
                        <div class="col-md-12" style="padding-top: 20px;">
                            <div class="row">
                                <span class="col-md-10">
                                    <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;overflow:auto;resize:none"></textarea>
                                </span>
                                <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                    <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="icon-bar" style="top: 108px;">
                    <a id="chatAnchor" href="javascript:void(0)" (click)="switchTab('chat')" title="Chat" [ngClass]="{'selected': currentTab=='chat'}">
                         <div id="messageCount" class="step"></div><i class="fa fa-comments-o"></i></a>
                    <a href="javascript:void(0)" (click)="switchTab('mom')"[ngClass]="{'selected': currentTab=='mom'}" title="Notes"><i class="fa fa-sticky-note-o"></i></a>
                    <a id="viewerAnchor" href="javascript:void(0)" (click)="switchTab('viewers')" [ngClass]="{'selected': currentTab=='viewers'}" title="Viewers">
                        <div id="viewerCount" class="step"></div><i class="fa fa-user-o"></i></a>
                    <a id="downloadedFilesAnchor" href="javascript:void(0)"(click)="switchTab('downloadedFiles')"[ngClass]="{'selected': currentTab=='downloadedFiles'}" title="Shared Files">
                        <div id="fileCount" class="step"></div><i class="fa fa-file-text-o"></i></a>
                    <a [routerLink]="['/error/recordscreensteps']" target="_blank" title="Recording Info"><img
                            src="assets/images/rec_edited.png" class="img-fluid" alt="Responsive image" /> </a>
                </div> 
        </div>
    </div>
</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>
    <button id="btn-leave-room" class="btn pull-left btn-danger" placement="top" ngbTooltip="Exit Meeting">
        <i class="fa fa-2x fa-power-off"></i>
    </button>
    <!-- <div id="chat-container">
    </div> -->
</section>
<!-- <video id="screenRecordVideo" style="display: none;"></video> -->

