@import "styles/customStyle.css";
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 90%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    right:0%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-badge{
    left:0%;
    margin-left:0px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}
#view-profile{
    font-size: 12px; cursor: pointer;text-decoration: underline; color:#187bd0;
}
#timeline-icon{
    border-right: 1px solid black;
}
.send-box{
    border-radius: 5px;margin:10px;
}
a{
    cursor: pointer;
}
.card-header{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    color: #8f5a0a;
    font-weight: bold;
}
// .btn-sec {
//     background-color: #ffb94b;
//     background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
//     background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
//     background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
//     background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
//     background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
//     background-image: linear-gradient(top, #fddb6f, #ffb94b);
//     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
//     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//     border-width: 1px;
//     border-style: solid;
//     border-color: #d69e31 #e3a037 #d5982d #e3a037;
//     cursor: pointer;
//     font: bold 15px Arial, Helvetica;
//     color: #8f5a0a;
// }
// .btn-cancel{
//     color: rgb(248, 87, 87);
//     background-color: rgb(248, 87, 87);
//     background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 78, 78)), to(rgb(248, 87, 87)));
//     background-image: -webkit-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
//     background-image: -moz-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
//     background-image: -ms-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
//     background-image: -o-linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
//     background-image: linear-gradient(top, rgb(253, 78, 78), rgb(248, 87, 87));
//       -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//       -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//       box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
//       border-width: 1px;
//       border-style: solid;
//       border-color: rgb(218, 10, 10);
//       cursor: pointer;
//       text-align: center;
//       font: Arial, Helvetica;
//       color: rgb(248, 241, 241);
//     }    