
@media screen and (max-width: 768px){
.cfsfooter{
    background-size: cover;
    // background-image: url(/assets/images/footer.png);
    // background-repeat: no-repeat;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    width:auto;
    height:5%;
    color:#AF2127;
    background-color:#fff;
}
.cfsfooter a{
    display:none;
}
.footer-label{
    position: absolute;
    left: 5%;
    -webkit-transform: translate(0%, 1.5vh);
    transform: translate(0%, 1.5vh);
    font-size: 1.4vh;
    font-weight: bold;
}
}
@media screen and (min-width:768px){
    .cfsfooter{
        background-size: cover;
        // background-image: url(/assets/images/footer.png);
        // background-repeat: no-repeat;
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        margin:0 auto;
        width:auto;
        height:5%;
        color:#AF2127;
        background-color:#fff;
    }
    .footer-label{
        position: absolute;
        // top: 50%;
        left:2%;
        -webkit-transform: translate(0%, 1.5vh);
        transform: translate(0%, 1.5vh);
        font-weight: bold;
    }
}



.about{
    text-align:right;
    transform: translate(0%, 1.5vh);
    }
    
    .about a{
    color:#AF2127;
    font-weight: bold;
    }
    
    .faq{
      text-align: left;
      transform: translate(0%, 1.5vh);
      padding-left: 2%;
    
    }
    .faq a{
    color:#AF2127;
    font-weight: bold;
    }
    
