<div class="cfsfooter">
  <div class="row">
    <div class="col-md-9">
        <b class="footer-label">Coreflex Solutions &copy; 2018. All rights reserved | Version 1.1.0 </b>
    </div>   
      <div class="col-md-2 col-sm-5 col-4 about">
       <a href="http://xanadutec.com/communicator.html" target="_blank">ABOUT COMMUNICATOR</a>
       </div>
       <div class="col-md-1 col-sm-3 col-2 faq">
             <a href="http://xanadutec.com/faq.html" target="_blank" ><b>FAQs</b> </a> 
       </div>
  </div>
  </div>