.cfsfooter{
    background-size: cover;
    background-image: url(/assets/images/footer.png);
    background-repeat: no-repeat;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    width:auto;
    height:5%;
    color:#fff;
}

.footer-label{
    position: absolute;
    top: 50%;
    left:2%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(-0%, -50%);
}
.version{
    position: absolute;
    top: 50%;
    right: 2%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    float: right;
}
