<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <div class="chat-panel card card-default">
                <div class="card-header meetingHeader">
                    <div class="row">
                        <div>
                            <i class="fa fa-calendar-check-o"></i>
                            Current Meeting Subject
                            <P class="style-links">Meeting Id :Mcore52455</P>
                        </div>
                        <div class="col-md-5"></div>
                    </div>

                </div>
                <div class="card-header row defaultMeetSelect">

                </div>
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-comments-o"></i> Chat</ng-template>
                            <ng-template ngbTabContent>
                                    <div ngbDropdown class="d-inline-block dropdown">
                                            <button class="btn btn-outline-primary" ngbDropdownToggle>Toggle dropdown</button>
                                            <div ngbDropdownMenu>
                                                <button class="dropdown-item">Action</button>
                                                <button class="dropdown-item">Another Action</button>
                                                <button class="dropdown-item">Something else is here</button>
                                            </div>
                                        </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-sticky-note-o"></i> Notes</ng-template>
                            <ng-template ngbTabContent>
                                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                                    four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
                                    beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                                    labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
                                    sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
                                    jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="fa fa-cog"></i> Settings</ng-template>
                            <ng-template ngbTabContent>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                    aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                    helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
                                    banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
                                    aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>

            </div>
        </div>
    </div>
</div>
