@import "styles/customStyle.css";

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
    }


.logo-background{
  background-size: cover;
  background-repeat: no-repeat;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
  width:auto;
  background-color: #fff;
}

.logo{
  height: 35px;
  width: 235px;
  margin:10px;
}    
  figure{
  margin-right: 3%;   
  }
  figcaption
  {
  padding-top:10px;
  }

.login-img{
      max-width: 100%;
      height: 100%;
      }

.imgr{
      max-width: 100%;
      height:auto;
    }

 @media (max-width: 768px) {
 .btn-responsive {
   border-radius:3px;
  overflow-wrap: break-word;
  padding: 2px;
      }
  }
              
  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
    overflow-wrap: break-word;
    padding:3px;      
    }
}

@media (min-width: 992px){
    .btn-responsive {
    overflow-wrap: break-word;
    padding:5px;        
    }
}            

@media (max-width: 768px) {
  #login {
    border-radius:3px;
   overflow-wrap: break-word;
   padding:4px 22px 4px 22px;
   font-size:1.3vh;
       }
   }
               
   @media (min-width: 769px) and (max-width: 992px) {
     #login {
     overflow-wrap: break-word;
     padding:6px 25px 6px 25px;
     font-size:1.4vh; 
     }
 }

 @media (min-width: 992px){
     #login{
     overflow-wrap: break-word;
     padding:8px 40px 8px 40px; 
      
     }
 }            

.about{
  text-align:right;
  margin-top: 20px;
 
}

.about a{
  color:#01baac;
  text-decoration: none;
}

.faq{
  text-align:left;
  margin-top: 20px;

}
.faq a{
  color:#01baac;
  text-decoration: none;
}

.main{
  margin-left: 3%;
   margin-top:20%;
}

.main h6{
  margin-top:3%;
  margin-bottom:2%; 
}

.username-password{
  width:90%;
  margin-bottom: 2%;
  height:50px;
}

.log-in
{
  border-radius: 5px;
  padding:8px 40px 8px 40px;
  font-size: 15px;
  background-color: #01baac;
  color:#fff;
}
.forgot{
  margin:7px 10px 0px 20px;
  text-align: right;
 
}
.forgot a{
  color:#01baac;
  text-decoration: underline;
  font-size:1.4vh;
}

.feature{
  margin-top: 18%;
  margin-left:1%;
}

.red-color{
color:#bd081c;
}

figcaption{
font-weight: bold;
}

.login-block{
  padding: 40px;
    margin-bottom: 40px;
    border: 1px solid #c9c4c5;
    box-shadow: 10px 10px 10px 10px #c9cacc;
    background-color: #fff;
    margin-right:15%;       
    transition: 0.4s;
}



