$topnav-background-color: rgb(51, 131, 172);
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(24, 123, 208, 1);
    background: -moz-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 123, 208, 1)), color-stop(74%, rgba(24, 123, 208, 0.7)), color-stop(100%, rgba(24, 123, 208, 0.7)));
    background: -webkit-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: linear-gradient(to right, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187bd0', endColorstr='#187bd0', GradientType=1); // background: #064fcf;
    text-align: center;
    color: #fff;
    padding: 3em;



    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: rgba(24, 123, 208, 1);
    background: -moz-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(24, 123, 208, 1)), color-stop(74%, rgba(24, 123, 208, 0.7)), color-stop(100%, rgba(24, 123, 208, 0.7)));
    background: -webkit-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: -ms-linear-gradient(left, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    background: linear-gradient(to right, rgba(24, 123, 208, 1) 0%, rgba(24, 123, 208, 0.7) 74%, rgba(24, 123, 208, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#187bd0', endColorstr='#187bd0', GradientType=1); // background: #064fcf;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        outline: none;
    }


    .form-content {
        padding: 20px 0;
    }

}
header {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0px;
    // background-color: red;
  }
  #content {
    width: 100%;
    // background-color: rgb(221, 221, 221);
    position: absolute;
    top:5rem;
    bottom: 0px;
    overflow: auto;
  }
  footer {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
     background-color: #fff;
     text-align: center;

  }
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.style-links{
    color: rgb(248, 243, 242);

}


.login_box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom:25px;
    }
.input_title{
    color:rgb(51, 131, 172);
    padding-left:3px;
        margin-bottom: 2px;
    }

hr{
    width:100%;
}

.welcome{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#FFFFFF;
    margin-bottom:25px;
    margin-top:50px;

}

.login_title{
    color:rgba(207, 20, 20, 0.76);
}

.card-container.card {
    max-width: 550px;

}


/*
 * Card component
 */
.card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 15%x;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



