<div class="container-bg">
    <div class="col-md-12" style="top: 20%;">
        <div class="row h-100 d-flex justify-content-center fixed-header">
            <img src="assets/images/C_4_white.png" alt="Responsive image" class="img-fluid" style="height:3.5rem; " />
        </div>
        <div class="row h-100 d-flex justify-content-center">
            <div id="login" class="col-md-4">
                <div class="inner-border">
                    <h1>Log In</h1>
                    <div style="margin-top: 20px;" *ngIf="authFlag== true;" class="alert alert-danger alert-dismissable" >
                        <strong>Error: </strong>Authentication Token is null</div>
                        <div style="margin-top: 20px;" *ngIf="userNameFlag== true;" class="alert alert-danger alert-dismissable" >
                                <strong>Error: </strong>Authentication Token is null
                        </div>
                        <div style="margin-top: 20px;" *ngIf="passwordFlag== true;" class="alert alert-danger alert-dismissable" >
                                <strong>Error: </strong>Authentication Token is null
                        </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user-o fa-fw"></i>
                            </span>
                        </div>
                        <input class="form-control" type="text" placeholder="User name"  required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-key fa-fw"></i>
                            </span>
                        </div>
                        <input class="form-control" type="password" placeholder="password" required>
                    </div>
                    <fieldset id="actions">
                        <!-- <input type="submit" id="submit" value="Log in" [routerLink]="['/dashboard/default']"> -->
                        <input type="submit" id="submit" value="Log in" (click)="login()" />
                        <a href="">Forgot your password?</a>
                        <a [routerLink]="['/signup']">Register</a>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="row h-100 d-flex justify-content-center fixed-footer">
            <div>Copyright &copy; 2018 Coreflex Solutions</div>
        </div>
    </div>

</div>