<div class="row">
        <div [ngClass]="loggedInUserObj.meetingPermissionStatus.status === 'ACTIVE'?'col-lg-7':'col-lg-12'" style="padding:0px; background-color: #f4f2f3;">
                
            <div class="background">
                    <ng-template [ngIf]="loggedInUserObj.meetingPermissionStatus.status === 'INACTIVE'" [ngIfElse]="notAdmin">
                            <img class="header-img-notAdmin" src="assets\images\logo.png">
                        </ng-template>
                    </div>
                            <ng-template #notAdmin>
                            <img style="float:left;" class="header-img" src="assets\images\logo.png">
                        </ng-template>        
                    
                <div class="roundedCorner">
                    <h3 class="header-label" style="margin-top:7%;">Hello, {{loggedInUserObj.firstName}}&nbsp;{{loggedInUserObj.lastName}}
                    </h3>
                    <p><img *ngIf='loggedInUserObj.profileImgPath' [src]="loggedInUserObj.profileImgPath" alt="Responsive image"
                        class="edit-user-profile" style="padding:10px;" />
                        <img *ngIf="loggedInUserObj.profileImgPath === null || loggedInUserObj.profileImgPath === '' || loggedInUserObj.profileImgPath === 'undefined'"
                        src="assets/images/default-profile.jpg" alt="Responsive image"
                        class="edit-user-profile" style="padding:10px;" /></p>
                    <span class="fa-stack fa-2x edit-icon">
                        <i class="fa fa-circle fa-stack-2x edit-circle-icon-background"></i>
                        <a [routerLink]="['/myProfile']">
                            <i class="fa fa-pencil fa-stack-1x profile-img-edit-icon" title="Edit profile"></i>
                        </a>
                    </span>
                    <h6  style="font-size: 14px;"><b>{{loggedInUserObj.team.teamName}}</b></h6>
                    <h5 class="label-h6 ">Click on a member's name
                        <br>and start a new conversation</h5>
            </div>
        </div>
    
        <div class="col-lg-5" style="padding:1rem; height: 98vh;" *ngIf="(loggedInUserObj.meetingPermissionStatus.status === 'ACTIVE')">
            <div [ngSwitch]="currentRoute">
                <app-default-meeting *ngSwitchCase="0" (CurrentRoute)="switchRoute($event)"></app-default-meeting>
                <app-schedule-meeting *ngSwitchCase="1" (CurrentRoute)="switchRoute($event)"></app-schedule-meeting>
            </div>
        </div>
    </div>
    
    
    