@import "styles/customStyle.css";
.label-h6 {
    color:  #999999;
    padding-top:4%;
    font-weight: bold;
    font-size:15px;
    padding-bottom: 25px;

}
.background{
    color: #ffffff;
       height:80px;
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
}

.membername{
    padding-top:3%;
     font-weight: bold;
     color: #4f595e;
      padding-bottom: 25px;

    }
    .describe{
        padding-left:10px;
        padding-right:10px;
         padding-top:10px;
    }
    .header-img{
        height:65px;width:250px; float: left;padding: 10px;
    }
    .header-label{
        padding: 20px;
    }
    .responsive1
    {
    max-width: 80%; 
    height: auto;
    margin-bottom: 2%;
    }
    .footer{
        width:100%;
        position: relative;
        left: 0;
        bottom: 0;
        top: 25%;
    }
    .setlogo{
        margin-top: 2%;
        padding-bottom: 2%; 
        margin-left: 37%;
    }
    .profile-img-edit-icon
    {
        margin-left: -20px;
        color:#fff;
        font-size: 24px;
    }
    .edit-circle-icon-background {
        color: #2e8b57;
        margin-left: -20px;
    }    

