@import "styles/customStyle.css";
.label-h6 {
    color:#4b6584;
    padding-top:2%;
    font-weight: bold;
    font-size:15px;
    padding-bottom: 25px;

}
.background{
    height:6vh;
}
    .header-img{
        height:auto;
        width:38%;
        padding: 10px;
        margin-left: 8px; 
        float: left;
    }
    .header-label{
        padding: 20px;
        color: #bd081c;
    }
    .profile-img-edit-icon
    {
        position: absolute;
        margin-left: -2px;
        color:#fff;
        font-size: 24px;
    }

    .edit-icon{
        margin-top: -110px; 
        margin-right: -140px;
    }

    .edit-circle-icon-background {
        color: #f95f3a;
        margin-left: -2px;
    } 
    //edit user profile circle
    .edit-user-profile {
        display: inline-block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border:1px solid #111;
      }
        img{
                image-orientation: 90deg;
                }
       
.roundedCorner
{
	border: solid 1px #fff;
	background-color: #ffffff;
    border-radius:10px;
    margin: 8px;
    text-align: center;
    height:90vh;
}

.header-img-notAdmin{
    height:auto;
    width:25%;
    padding: 10px;
    margin-left: 8px; 
    float: left;
}