<div class="row">
        <div [ngClass]="loggedInUserObj.meetingPermissionStatus.status === 'ACTIVE'?'col-lg-7':'col-lg-12'" style="padding:0px;">
            <div class="card-default" style="overflow: auto;">
                <div class="details-container">
                    <div class="background">
                            <ng-template [ngIf]="loggedInUserObj.meetingPermissionStatus.status === 'INACTIVE'" [ngIfElse]="notAdmin">
                                <img class="header-img" src="assets\images\logo.png">
                            </ng-template>
                                  
                            <ng-template #notAdmin>
                                <img style="float:left;" class="header-img" src="assets\images\logo.png">
                            </ng-template>
                    </div>
                    <div class="colorgraph"></div>
                    
                    <h3 class="header-label" style="margin-top:7%;"><b>Hello, {{loggedInUserObj.firstName}}&nbsp;{{loggedInUserObj.lastName}}</b>
                    </h3>
                    <p><img *ngIf='loggedInUserObj.profileImgPath' [src]="loggedInUserObj.profileImgPath" alt="Responsive image"
                        class="edit-user-profile" style="padding:10px;" />
                        <img *ngIf="loggedInUserObj.profileImgPath === null || loggedInUserObj.profileImgPath === '' || loggedInUserObj.profileImgPath === 'undefined'"
                        src="assets/images/Coreflex-solutions-chat-screen-option1 (2).png" alt="Responsive image"
                        class="edit-user-profile" style="padding:10px;" /></p>
                    <span class="fa-stack fa-2x edit-icon">
                        <i class="fa fa-circle fa-stack-2x edit-circle-icon-background"></i>
                        <a [routerLink]="['/myProfile']">
                            <i class="fa fa-pencil fa-stack-1x profile-img-edit-icon"></i>
                        </a>
                    </span>
    
                    <!-- <a [routerLink]="['/myProfile']"><i class="fa fa-pencil-square-o" style="color: green; font-size: 1.7vh;" aria-hidden="true">
                                        Edit profile pic</i></a> -->
    
                    <h6  style="font-size: 14px;"><b>{{loggedInUserObj.team.teamName}}</b></h6>
                    <h5 class="label-h6 ">Click on a member's name
                        <br>and start a new conversation</h5>
                        <!-- <div class="colorgraph" style="width:40%;text-align:center; margin-left:30%;"></div>
                       <h5 class="label-h5 " style="color:#fd7a2a;">Communicator : Corporate Communication Solution</h5> -->
                    <!-- <div class=" mt-5"> -->
                    <div class="footer">
                        <!-- <div class="card mx-auto">
                            <div class="card bg-light text-dark">
                                <img class="card-img setlogo" src="assets\images\coreflex-logo.png"
                                    style="height:60px;width:200px; ">
                                <p class="describe text-center"><strong>"</strong>Communicator is an online meeting,
                                    desktop
                                    sharing, and video conferencing software solution <br>that enables the user to meet
                                    with
                                    clients or colleagues via Internet anywhere anytime<b>"</b>.</p>
                                <p class="describe text-center">It makes online meetings easy with its features <br>like
                                    screen
                                    share, file share, audio/video conference, meeting chat and recording.</p>
    
                                <a href="http://xanadutec.com/communicator.html" target="_blank" class="btn btn-primary"
                                    role="button" style="font-size:15px;">Explore
                                    CoreFlex Communicator</a>
                            </div>
                        </div>-->
                        <a href="http://xanadutec.com/communicator.html" target="_blank" class="btn btn-primary explore"
                        role="button">Explore
                        CoreFlex Communicator</a>
                         <!-- <h6 class="membername text-center">To easily log in later, save this URL:
                            <span style="color: #be181e;" >https://cfscommunicator.com</span></h6>  -->
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    
        <div class="col-lg-5" style="padding:1rem; height: 98vh;" *ngIf="(loggedInUserObj.meetingPermissionStatus.status === 'ACTIVE')">
            <div [ngSwitch]="currentRoute">
                <app-default-meeting *ngSwitchCase="0" (CurrentRoute)="switchRoute($event)"></app-default-meeting>
                <app-schedule-meeting *ngSwitchCase="1" (CurrentRoute)="switchRoute($event)"></app-schedule-meeting>
            </div>
        </div>
    
        <!-- <a href="http://xanadutec.com/communicator.html" target="_blank" class="btn btn-primary"
                                    role="button" style="font-size:15px; bottom: 0;">Explore
                                    CoreFlex Communicator</a> -->
    </div>
    
    
    