
.btn-sec {
    background-color: #fd5e53;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e23c30), to(#cc2b20));
    background-image: -webkit-linear-gradient(to bottom, #e23c30, #cc2b20);
    background-image: -moz-linear-gradient(to bottom, #e23c30, #cc2b20);
    background-image: -ms-linear-gradient(to bottom, #e23c30, #cc2b20);
    background-image: -o-linear-gradient(to bottom, #e23c30, #cc2b20);
    background-image: linear-gradient(to bottom, #e23c30, #cc2b20);
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #c03e35 #be2419 #ac0d02 #9c322a;
    cursor: pointer;
    font: bold 13px Arial, Helvetica;
    color: #ffffff;

    /* background-color: #df6259;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e23c30), to(#df6259));
    background-image: -webkit-linear-gradient(to bottom, #e23c30, #df6259);
    background-image: -moz-linear-gradient(to bottom, #e23c30, #df6259);
    background-image: -ms-linear-gradient(to bottom, #e23c30, #df6259);
    background-image: -o-linear-gradient(to bottom, #e23c30, #df6259);
    background-image: linear-gradient(to bottom, #e23c30, #df6259);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    cursor: pointer;
    font: bold 13px Arial, Helvetica;
    color: #8f5a0a; */
}
.btn-cancel{
    color: rgb(248, 87, 87);
    background-color: rgb(248, 87, 87);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 78, 78)), to(rgb(248, 87, 87)));
    background-image: -webkit-linear-gradient(to bottom, rgb(253, 78, 78), rgb(248, 87, 87));
    background-image: -moz-linear-gradient(to bottom, rgb(253, 78, 78), rgb(248, 87, 87));
    background-image: -ms-linear-gradient(to bottom, rgb(253, 78, 78), rgb(248, 87, 87));
    background-image: -o-linear-gradient(to bottom, rgb(253, 78, 78), rgb(248, 87, 87));
    background-image: linear-gradient(to bottom, rgb(253, 78, 78), rgb(248, 87, 87));
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(218, 10, 10);
      cursor: pointer;
      text-align: center;
      font: Arial, Helvetica;
      color: rgb(248, 241, 241);
    }  
    a{
        cursor: pointer;
        color: #ffffff;
    }
    .top {
        height: 92px;
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        background: #353535;
        color: #ffffff;
        background-image: url(/assets/images/Coreflex-solutions-header.jpg);
        background-position-y: bottom;
    }
    .left {
        width: 15%;
        float:left;
        padding: 15px;
        /* background: #e5efff;
        background: #353535;
        background: -moz-linear-gradient(to right,#353535 0%, #868e96 74%, #868e96 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #353535), color-stop(74%, #868e96), color-stop(100%, #868e96));
        background: -webkit-linear-gradient(to right, #353535 0%, #868e96 74%, #868e96 100%);
        background: -o-linear-gradient(to right, #353535 0%, #868e96 74%, #868e96 100%);
        background: -ms-linear-gradient(to right, #353535 0%, #868e96 74%, #868e96 100%);
        background: linear-gradient(to right, #353535 0%, #868e96 74%, #868e96 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #353535', endColorstr=' #353535', GradientType=1); */
        background-image: url(/assets/images/Coreflex-solutions-sidepannel.jpg);
        color: #ffffff;
        font-weight: bold;
        
    }
    .main {
      margin-left:15%;
      padding: 15px;
     }
     table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding:30px;
    }
    
    td, th {
        border: 1px solid #bdb9b9;
        text-align: left;
        padding: 8px;
    }
    th{
        border: 1px solid #bdb9b9;
        text-align: left;
        padding: 8px;
        background: #353535;
        opacity: 0.85;
        color: #ffffff;
    }
    tr:nth-child(even) {
        background-color: #e0e0e0;
    }
    .filter-list{
     border-right: 1px solid rgba(0, 0, 0, 0.125);
     height: 100%; 
     overflow: auto;
    }
    
    
    .date-period-select {
        border-left: 2px solid #999;
        padding-left: 10px;
        padding-right: 10px;
        height: 15%;
    }
  
   
    .filter-list ul{
        list-style-type: none;
    }
    .filter-list ul li input{
    cursor: pointer;
    }
    .btn.btn-secondary {
        background:  #2199e8;
        /* color:  #353535; */
        border-color:  #1d7bb9;
        border-radius: 0px 5px 5px 0px;
    }
    .form-control {
        border-radius: 5px 0px 0px 5px;
    }
    .under {
        -webkit-text-decoration: #353535 solid underline;
        text-decoration: #353535 solid underline;
        -webkit-text-underline-position: under;
        text-underline-position: under;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

        font: bold 17px Arial, Helvetica;
        color: #353535;
      }
 .remove-border{
     border: none;
     font: bold 12px Arial, Helvetica;
     cursor: default;
 }
 .span-dec{
 font-size:13px;font-weight: bold;
}
.center {
    margin: auto;
    width: 50%;
}
.default-pointer{
    cursor: default;
}
.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #353535;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.asterik-mark{
color: red;
}
.cursorPointer{
    cursor: pointer;
}
.edit-icon{
    color: green;cursor: pointer;
}
.delete-icon{
    color: red; cursor: pointer;
}
.image--cover {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center right;
  }

