<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-2">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <i class="fa fa-user-circle fa-fw"></i>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-user-circle fa-fw"></i>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-user-circle fa-fw"></i>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-user-circle fa-fw"></i>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- <app-chat></app-chat> -->
            <!-- /.card .chat-card -->
        </div>
        <div class="col-lg-6">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <!-- <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div> -->
            <!-- /.card-header -->
            <!-- <app-notification></app-notification> -->
            <!-- /.card-body -->
            <!-- </div> -->
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>

