<div [@routerTransition] style="overflow: hidden;">
    <div class="row" style="margin-right:0px;">
        <div class="col-lg-3" style="padding:0px;">
            <div class="card card-default">
                <div class="row" style="margin:0px;">
                    <div class="col-md-6 card-header userlist-header" style="text-align: center;">
                        <i class="fa fa-user-circle fa-fw cursorPointer"></i>
                    </div>
                    <div class="col-md-2 card-header userlist-header">
                        <i class="fa fa-user-plus fa-fw cursorPointer" [routerLink]="['/signup']"></i>
                    </div>
                    <div class="col-md-2 card-header userlist-header">
                        <i class="fa fa-users fa-fw cursorPointer" (click)="openCreateGroupPopup()"></i>
                        <app-custom-modal #createGroupModal [model]="createGroups">
                            <div class="modal-body">
                                <div style="margin-top: 20px;" *ngIf="showNewGroup === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showNewGroup">
                                    <strong>Error: </strong>Enter Group Name.
                                </div>
                                <div style="margin-top: 20px;" *ngIf="showNewGroupSuccess === true" class="alert alert-success alert-dismissable" [(ngModel)]="showNewGroupSuccess">
                                    <strong>Success: </strong>Group has been Created Successfully.
                                </div>
                                <div style="margin-top: 20px;" *ngIf="duplicateGroup === true" class="alert alert-danger alert-dismissable" [(ngModel)]="duplicateGroup">
                                    <strong>Error: </strong>group has been already added , please select member and click on Add
                                    Group Member button
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Group Name</label>
                                    </div>
                                    <div>
                                        <!-- <textarea placeholder="Type Name Here.." [(ngModel)]="createGroupsVal" onfocus="groupNameFocus()"></textarea> -->
                                        <input type="text" list="groupNameList" [(ngModel)]="createGroupsVal">
                                    </div>
                                    <datalist id="groupNameList">
                                        <option *ngFor="let group of groupList" value="{{group.groupId.groupName}}">
                                    </datalist>
                                </div>
                                <hr>
                                <div class="row" style="padding: 15px;">
                                    <div *ngFor="let user of userList">
                                        <label class="checkbox-inline check-label">
                                            <input type="checkbox" [(ngModel)]="user.checked">{{user.firstName}} &nbsp; {{user.lastName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn-sec btn" (click)="createGroup(createGroupsVal)">Add Group</button>
                                <button type="button" class="btn-sec btn" (click)="addMember(createGroupsVal)">Add Group Memeber</button>
                                <button type="button" class="btn-cancel btn" (click)="closePopup('addCreateGroup')">Close</button>
                            </div>
                        </app-custom-modal>
                    </div>
                    <div class="col-md-2 card-header userlist-header">
                        <i class="fa fa-bullhorn fa-fw cursorPointer" (click)="open()"></i>
                        <!-- <app-custom-modal #inviteAttendeesModal [model]="InviteAttendees" (Button1Event)="broadcastMsg($event)"
                             (Button2Event)="resetMsg($event)"></app-custom-modal> -->
                        <app-custom-modal #broadcastMessageModal [model]="broadcastMessagecontent">
                            <div class="modal-body">
                                <div style="margin-top: 20px;" *ngIf="showtypeMessage === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showtypeMessage">
                                    <strong>Error: </strong>Enter Message.
                                </div>
                                <div style="margin-top: 20px;" *ngIf="showBroadcastMessageSuccess === true" class="alert alert-success alert-dismissable"
                                    [(ngModel)]="showBroadcastMessageSuccess">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <strong>Success: </strong>Message has been Broadcast Successfully.
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Messgage</label>
                                    </div>
                                    <div>
                                        <textarea placeholder="Type Message Here.." [(ngModel)]="broadcastMessage" (click)="typeBroadcastMessageFocus()"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn-sec btn" (click)="broadcastMessages(broadcastMessage)">Broadcast Message</button>
                                <button type="button" class="btn btn-cancel" (click)="closePopup('addBroadcastMsg')">Close</button>
                            </div>
                        </app-custom-modal>
                    </div>
                </div>

                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-lg-5" style="padding:0px">
            <router-outlet></router-outlet>
        </div>

        <div class="col-lg-4" style="padding:1rem;">
            <div [ngSwitch]="currentRoute">
                <app-default-meeting *ngSwitchCase="0" (CurrentRoute)="switchRoute($event)"></app-default-meeting>
                <app-schedule-meeting *ngSwitchCase="1" (CurrentRoute)="switchRoute($event)"></app-schedule-meeting>
            </div>
        </div>
    </div>
</div>
<section class="make-center" style="display: block;">
    <h1></h1>
    <input type="text" id="room-id" value="abcdef" autocorrect=off autocapitalize=off size=20>
    <button id="open-room">Open Room</button>
    <button id="join-room">Join Room</button>
    <button id="open-or-join-room">Auto Open Or Join Room</button>
    <button id="share-screen" class="btn btn-sec" style="display:none;margin:0px 10px 0px 10px;">Share Screen</button>
    <br>
    <br>
    <input type="text" id="input-text-chat" placeholder="Enter Text Chat" disabled>
    <button id="share-file" disabled>Share File</button>
    <br>
    <br>
    <button id="btn-leave-room" disabled>Leave /or close the room</button>

    <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>

    <div id="chat-container">
        <div id="file-container"></div>
        <div class="chat-output"></div>
        <div class="col-md-12" style="padding-top: 20px;">
            <div class="row">
                <span class="col-md-10">
                    <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;"></textarea>
                </span>
                <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                    <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                </span>
            </div>
        </div>
    </div>
    <!-- <div id="videos-container"></div> -->
</section>
