@import "styles/customStyle.css";
.userlist-header{
    //background: linear-gradient(to left, #008cba 32%, #115c7d 100%);
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
    color:#ffffff;
    border-right: 1px solid #dadadc;
   // opacity: 0.85;
    height:6vh;
    text-align: center;
    &:first-child{
        opacity: 1;
    }

}
.check-label {
    font-weight: bold; padding-left: 10px;
}
.userlist-header-logout{
    background-color: #ffb94b;
    border-width: 1px;
    border-style: solid;
    border-color: #8f5a0a;
    cursor: pointer;
    color: #8f5a0a;
    height:6vh;
    text-align: center;
    &:first-child{
    opacity: 1;
    }
    }