@import "styles/customStyle.css";
.userlist-header{
    color:#ffffff;
    border-right: 1px solid #dadadc;
    height:6vh;
    text-align: center;
    &:first-child{
        opacity: 1;
    }
    background-color: #AF2127;
}

.fa{
  font-size: 1.25em;
  transform: translateY(0.5vh);
  cursor: pointer;
}