<div class="col-md-12" style="box-shadow: -5px 5px 5px #e4dadb;height: calc(100vh*0.08);">
  <div class="row">
    <img src="assets/images/logo.png"  class="logo-img" width="260px" height="40px" />
  </div>
</div>
<div class="content">
  <h5 class="steps"><i class="fa fa-list" aria-hidden="true"></i> Steps to install the Share screen and Record screen plugin on your PC.</h5>
        <ol id="number" style="list-style: none;">
          <!-- <h6 style="text-decoration-line: underline;font-size:16px;color:#741eaa;margin:20px 0px 10px 0px;font-weight: bold;padding-bottom:15px;">Steps to install share screen plugin</h6> -->
        <li>Go to Login page of Registered User/ Guest User.</li>
        <li>If you have not added this site to your exception list of your chrome browser, then it will show error message as “Pop-up Blocker is enabled! Please add this site to your exception list, and refresh the page.”</li>
        <img src="assets/images/plugin-1.png" width="800px" height="400px" />
        <li>Click on <b> pop up blocked icon </b>, select Always allow pop-ups and redirects from https://cfscommunicator.com and click on <b> Done </b> button as shown in the below image.</li>
        <img src="assets/images/plugin-2.png" width="800px" height="400px" />
        <li>Refresh the page.</li>
        <li>A pop–up as shown in below screen will appear to install the screen share chrome plugin. Click on the link provided in the pop up.</li>
        <img src="assets/images/plugin-3.png" width="800px" height="400px" />
        <li>Click on <b> Add to Chrome </b> button as shown in below screen.</li>
        <img src="assets/images/plugin-4.png" width="800px" height="400px" />
        <li>Click on <b> Add extension </b> button as shown in below screen.</li>
        <img src="assets/images/plugin-5.png" width="800px" height="400px" />
        <li>After adding the Screen Capturing plugin successfully, it will show a message as “ <b>Screen Capturing has been added to Chrome </b> ” and screen capturing plugin icon will get added to your chrome browser as shown in the below screen.</li>
        <img src="assets/images/plugin-6.png" width="800px" height="400px" />
        <li>Close the Screen Capturing – Chrome Web Store – Google Chrome pop up.</li>
        <li>After closing the pop up, an another pop up to install the record screen chrome plugin as shown in below screen will appear. Click on the link provided in the pop up.</li>
        <img src="assets/images/plugin-7.png" width="800px" height="400px" />
        <li>Click on <b> Add to Chrome </b> button as shown in below screen.</li>
        <img src="assets/images/plugin-8.png" width="800px" height="400px" />
        <li>Click on <b> Add extension </b> button as shown in below screen.</li>
        <img src="assets/images/plugin-9.png" width="800px" height="400px" />
        <li>After adding the RecordRTC plugin successfully, it will show a message as “ <b> RecordRTC has been added to Chrome </b> ” and a RecordRTC plugin icon will get added to the browser as shown in the below screen.</li>
        <img src="assets/images/plugin-10.png" width="800px" height="400px" />
        <li>Close the RecordRTC – Chrome Web Store – Google Chrome pop up.
          Now you can login with your credentials and proceed further.
        </li>
      </ol>
</div>
