<div>
    <div class="logo-img" >
        <img src="assets/images/color-logo1.png" width="300px" height="70px" />
    </div>
    <div class="content">
        <label class="content-font">
            You do not have <b>chrome extension</b> required for screen sharing.
            Kindly install the chrome plugin to share screen.<br />
            To install <b>chrome extension</b> click on
            <br />
            <div class="divider-center">
                <hr class="colorgraph">
            </div>
            <a href="https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk" class="link">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    https://chrome.google.com/webstore/detail/screen-capturing/ajhifddimkapgcifgcodmmfdlknahffk
            </a>
        </label>
    </div>
</div>