.split {
    height: 100%;
    // width: 70%;
    // position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}
.split-tab {
    height: 100%;
    // width: 30%;
    // position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}
// .left {
//     left: 0;
// }

// .right {
//     right: 0;

// }
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
	width: 90%;
    margin: 0 auto;
    position: relative;
}

input, section {
  clear: both;
  display: none;
}

label {
  font-weight: 300;
  font-size: 14px;
  display: block;
  float: left;
//   width: 33%;
  padding: 1.5em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  background: #fff;
  border: 1px solid rgb(219, 216, 216);
  border-radius: 5px;
    padding:5px;
}


.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #57c4d8;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #57c4d8;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 100%;
  }
}



/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

.no_wrap {
  text-align:center;
  color:#57c4d8;
}
.link {
  text-align:center;
}
.icon-size{
    font-size: 28px;
    cursor: pointer;
}


li:nth-child(odd) {
    background: #eee;
    border-radius:6px;
    margin: 10px;
    padding:5px;
}
li:nth-child(even) {
   border:1px solid #848484;
   border-radius:6px;
    margin: 10px;
    padding:5px;
}

li {
  padding: 10p  x;
  overflow: auto;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}
.meetingHeader{
    background:#57c4d8;
    color:#FFFFFF;
    border-radius:5px 5px 0px 0px;
}
.style-links {
    color: #848484;
    font-size: 14px;
}
.defaultMeetSelect {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.align-center {
    margin: auto;
    width: 100%;
    color :#848484;
}

  .btn.btn-secondary {
    background:  #57c4d8;
    /* color: #187bd0; */
    border-color:  #40a4b6;
  }
.video-view{
    margin:8px;
}
.video-box{
    padding: 50px;
     margin-top:5px;
      border:1px solid gray;
      display: inline-block;
  height:80%;
  border-radius: 5px;
}
.page {
    height: 100%; /* needed for proper layout */
  }

  .page {
    display: flex;
    flex-direction: column;
  }

  .page-header {
    flex: 0 0 auto;
   border : 1px solid gray;
   border-radius :5px;
   margin:5px;
   height: 70%;
  }

  .page-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    padding-left:15px;
  }

  .page-footer {
    flex: 0 0 auto;
    background-color: #dcdcdc;
    margin:5px;
    height: 6%;
  }
  .container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
.btn-select{
    background: #dcdcdc;
    border:1px solid #848484;
    border-radius: 5px;
}


