<div>
    <div  style="background-color: #efefef;text-align: center;">
            <img class="logo-img" src="assets/images/color-logo1.png" width="300px" height="60px" />
      </div>
      <div class="content">
          <label class="content-font">
              You do not have <b>chrome extension</b> required for screen recording.
              Kindly install the chrome plugin to record screen.<br />
              To install <b>chrome extension</b> click on below link and <b>close popup after adding extension</b>
              <br />
              <div class="divider-center">
                  <hr class="colorgraph">
              </div>
              <a style=" overflow-wrap: break-word;" href="https://chrome.google.com/webstore/detail/recordrtc/ndcljioonkecdnaaihodjgiliohngojp" class="link">
                  <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                  https://chrome.google.com/webstore/detail/recordrtc/ndcljioonkecdnaaihodjgiliohngojp
              </a>
          </label>
      </div>
    </div>