@import "styles/customStyle.css";

#leftPanel{
    background-color:rgb(252, 223, 223);
    color:#464646;
    text-align: center;
    border: 1px solid #AF2127; 
    border-right: none; 
}

#rightPanel{
    min-height:415px;
    border: 1px solid #AF2127; 
    border-left: none; 
    padding: 10px 10px 12px 10px;
}

.colorgraph {
  height: 4px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #AF2127 25%, #AF2127 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #AF2127 25%, #AF2127 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #AF2127 25%, #AF2127 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #cad6fd 12.5%, #cad7fd 25%, #AF2127 25%, #AF2127 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.body-container{
    position:absolute; 
    top:70px; 
    bottom:5%; 
    left:0px; 
    right:0px; 
    overflow:auto;
}

.main-container{
    width: 100%; 
    height:100%;
}

.note{
    color: orangered;
    margin-left: 48%;
    margin-bottom: 2%;
}
 
.profile-img{
    width: 200px; 
    height: 200px;
    padding: 10px;
    border:1px solid maroon;
}

.padding-top-20{
    padding-top: 20px;
}

.margin-left-30{
    margin-left: 30px;
}
img{
    image-orientation: 90deg;
}
.padding-bottom{
    padding-bottom: 5%;
}

.padding-10
{
    padding:10px;
}
.edit-profile-icon
{
    color: #000000;
    font-size: medium;
    margin-top:5%;
}
.wrap-text
{
    overflow-wrap: break-word;
}

.btn-cancel-color
{
    color: #ffff;
}

.cursor-pointer
{
    cursor: pointer;
}

.first-letter{
    display: inline-block;
    font-size: 0.9em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background-color: #AF2127;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}
.team-name{
    color: #131313;
}

hr{
    margin-top: 0rem;
}