
<div class="top">
      <div class="col-md-12 header" style="text-align: center;">
          <h3>My Profile</h3>
      </div>
  </div>

<div class="main" >
      <table style="width: 80%; ">
          <tr>  <h4>Profile Details</h4></tr>
          <tr >
                <td>Profile Picture</td>
                <td>  <img src="assets/images/default.png"  alt="Responsive image" class="img-fluid" /></td>
                <td><input type="file"/></td>
          </tr>
          <tr>
                <td>First Name</td>
                <td><input value="{{loggedInUserObj.firstName}}" type="text"/></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input value="{{loggedInUserObj.lastName}}" type="text"/></td>
      </tr>
          <tr>
                <td>Email</td>
                <td><input value="{{loggedInUserObj.email}}" type="text" /></td>
          </tr>
          <tr>
            <td>Username</td>
            <td><input value="{{loggedInUserObj.name}}" type="text" readonly/></td>
      </tr>
          <tr>
                <td>Team Name</td>
                <td><input value="{{loggedInUserObj.team.teamName}}" type="text" readonly/></td>
          </tr>
          <tr><h4>Other Details</h4></tr>
          <tr> <td>Total Meeting</td>
            <td><input value="{{totalMeetingCount}}" type="text" readonly/></td>
        </tr>
        <tr> <td>Total Groups</td>
            <td><input value="{{totalGroupCount}}" type="text" readonly/></td>
        </tr>
        </table>
        <div style="text-align:center;">
            <button class="btn btn-primary" style="align:align-center">Save Changes</button>
            <button class="btn btn-aecondary">Reset Changes</button>
        </div>

</div>
