 <router-outlet></router-outlet>
<!-- <div class="container">
  <div class="split left">
 <div class="page">
    <div class="page-header">Header</div>
     <div class="page-content">
      <div class = "row">

              <div  class="video-view">
                        <div class = "thumbnail">
                            <div class="video-box">Div One</div>
                         </div>
                      <div class = "caption">
                        <p>Bhagyashree Patwardhan</p>
                          </div>
                           </div>
                                                        <div  class="video-view">
                                                               <div class = "thumbnail">
                                                                    <div class="video-box">Div One</div>
                                                               </div>
                                                               <div class = "caption">
                                                                  <p>Vinod Khanna</p>
                                                               </div>
                                                            </div>
                                                            <div  class="video-view">
                                                                    <div class = "thumbnail">
                                                                         <div class="video-box">Div One</div>
                                                                    </div>
                                                                    <div class = "caption">
                                                                       <p>Vinod Khanna</p>
                                                                    </div>
                                                                 </div>
                                                                 <div  class="video-view">
                                                                        <div class = "thumbnail">
                                                                             <div class="video-box">Div One</div>
                                                                        </div>
                                                                        <div class = "caption">
                                                                           <p>Vinod Khanna</p>
                                                                        </div>
                                                                     </div>
                                                                     <div  class="video-view">
                                                                            <div class = "thumbnail">
                                                                                 <div class="video-box">Div One</div>
                                                                            </div>
                                                                            <div class = "caption">
                                                                               <p>Vinod Khanna</p>
                                                                            </div>
                                                                         </div>
                                                                         <div  class="video-view">
                                                                                <div class = "thumbnail">
                                                                                        <div class="video-box">Div One</div>
                                                                                </div>
                                                                                <div class = "caption">
                                                                                   <p>Vinod Khanna</p>
                                                                                </div>
                                                                             </div>

                                                            </div>
                                        </div>
                                        <div class="page-footer">
                                            <div class="row">
                                                <div class="col-md-5"><button class="btn btn-danger btn-lg">End Meeting</button></div>
                                                <div class="col-md-6">  <button class="btn btn-secondary"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                                                    <button class="btn btn-secondary"><i class="fa fa-microphone-slash" aria-hidden="true"></i></button>
                                                    <button class="btn btn-secondary"><i class="fa fa-desktop" aria-hidden="true"></i></button>
                                                    <button class="btn btn-secondary"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
            </div>


          <div class="split-tab right">
                <div class="chat-panel card card-default">
                        <div class="card-header meetingHeader">
                                <div class="row">
                                        <div>
                                        <i class="fa fa-calendar-check-o"></i>
                                        Current Meeting Subject
                                        <P class="style-links">Meeting Id :Mcore52455</P>
                                            </div>
                                    <div class="col-md-5"></div>
                                </div>

                            </div>
                            <div class="card-header row defaultMeetSelect">

                              </div>
                                        <div class="tab_container">
                                            <input id="tab1" type="radio" name="tabs" checked>
                                            <label for="tab1"><i class="fa fa-comments-o"></i><span>Chat</span></label>

                                            <input id="tab2" type="radio" name="tabs">
                                            <label for="tab2"><i class="fa fa-sticky-note-o"></i><span>Notes</span></label>

                                            <input id="tab3" type="radio" name="tabs">
                                            <label for="tab3"><i class="fa fa-cog"></i><span>Settings</span></label>

                                            <section id="content1" class="tab-content">
                                                <div class="row">
                                                    <div class="col-md-5">Send Message</div>
                                                    <div class="col-md-7">
                                                            <select class="btn btn-select col-md-9">
                                                                    <option value="volvo">Everyone</option>
                                                                    <option value="saab">Bhagyashree Kadam</option>
                                                                    <option value="mercedes">Vinod Khanna</option>
                                                                    <option value="audi">Reema Patil</option>
                                                                  </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <ul style="height: 63vh;">

                                                    <li>
                                                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                            </p>
                                                    </li>
                                                    <li>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    </li>
                                                    <li>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    </li>
                                                    <li>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    </li>
                                                </ul>
                                                <div class="input-group">
                                                        <textarea  class="form-control send-box" placeholder="Type message here">
                                                            </textarea>
                                                        <div class="input-group-append">
                                                          <a class="btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                                          <a class="btn"><i class="fa fa-file" aria-hidden="true"></i></a>
                                                        </div>
                                                      </div>
                                            </section>

                                            <section id="content2" class="tab-content">
                                                    <ul style="height: 63vh;">
                                                            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                                                            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                                                            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                                                            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                                                            <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                                                        </ul>
                                                    <div class="card-header row">
                                                            <div class="col-md-11">
                                                               <textarea type="text" class="col-md-12"></textarea>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a><i class="fa fa-plus-square icon-size" aria-hidden="true"></i></a>
                                                            </div>
                                                    </div>
                                            </section>

                                            <section id="content3" class="tab-content" style="height: 75vh;">
                                                <h5>Meeting Settings</h5>
                                                <hr>
                                                <div class="row">
                                                        <div class="col-md-5">
                                                         <h5>Mom Duty</h5>
                                                        </div>
                                                        <div class="col-md-7">
                                                        Self
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-5">
                                                      <h5>Audio Input</h5>
                                                        </div>
                                                        <div class="col-md-7">
                                                      Default Microphone
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-5">
                                                            <h5>Video Input</h5>
                                                        </div>
                                                        <div class="col-md-7">
                                                      Laptop Camera
                                                        </div>
                                                </div>
                                            </section>

                                        </div>

                                    </div>
                                    </div>
</div> -->
