<router-outlet></router-outlet>

<!-- <div class="container">
        <div class="split left">
                <div class="centered">
                  <img src="img_avatar2.png" alt="Avatar woman">
                  <h2>Jane Flex</h2>
                  <p>Some text.</p>
                </div>
              </div>

              <div class="split-tab right">
                    <div class="chat-panel card card-default">
                            <div class="card-header row">
                                    <div class="col-md-7">

                                           <h5>Schedule New Meeting</h5>
                                    </div>
                                    <div class="col-md-5"> <h6 class="style-links">Current Meeting Subject</h6>
                                    <p>Meeting Id :Mcore52455</p></div>
                                </div>

                                            <div class="tab_container">
                                                <input id="tab1" type="radio" name="tabs" checked>
                                                <label for="tab1"><i class="fa fa-comments-o"></i><span>Chat</span></label>

                                                <input id="tab2" type="radio" name="tabs">
                                                <label for="tab2"><i class="fa fa-sticky-note-o"></i><span>Notes</span></label>

                                                <input id="tab3" type="radio" name="tabs">
                                                <label for="tab3"><i class="fa fa-cog"></i><span>Settings</span></label>

                                                <section id="content1" class="tab-content">
                                                    <ul style="height: 65vh;">
                                                        <li>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                        </li>
                                                        <li>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                        </li>
                                                        <li>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                        </li>
                                                        <li>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                        </li>
                                                    </ul>
                                                    <div class="card-header row">
                                                            <div class="col-md-10">
                                                               <textarea type="text" class="col-md-12"></textarea>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <a><i class="fa fa-paper-plane-o icon-size" aria-hidden="true"></i></a></div>
                                                             <div class="col-md-1"><a><i class="fa fa-file-text-o icon-size" aria-hidden="true"></i></a></div>
                                                    </div>
                                                </section>

                                                <section id="content2" class="tab-content">
                                                        <ul style="height: 65vh;">
                                                                <li>
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                </li>
                                                                <li>
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                </li>
                                                                <li>
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                </li>
                                                                <li>
                                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                </li>
                                                            </ul>
                                                        <div class="card-header row">
                                                                <div class="col-md-11">
                                                                   <textarea type="text" class="col-md-12"></textarea>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <a><i class="fa fa-plus-square icon-size" aria-hidden="true"></i></a>
                                                                </div>
                                                        </div>
                                                </section>

                                                <section id="content3" class="tab-content" style="height: 80vh;">
                                                    <h3>Meeting Settings</h3>
                                                    <div class="row">
                                                            <div class="col-md-5">
                                                             <h5>Mom Duty</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                            Self
                                                            </div>
                                                    </div>
                                                    <div class="row">
                                                            <div class="col-md-5">
                                                          <h5>Audio Input</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                          Default Microphone
                                                            </div>
                                                    </div>
                                                    <div class="row">
                                                            <div class="col-md-5">
                                                                <h5>Video Input</h5>
                                                            </div>
                                                            <div class="col-md-7">
                                                          Laptop Camera
                                                            </div>
                                                    </div>
                                                </section>

                                            </div>

                                        </div>
                                        </div>
</div> -->
