<div class="top">
    <div class="col-md-12 header" style="text-align: center;">
        <h3>Meeting</h3>
        <span id="meeting-error"></span>
    </div>

</div>
<div class="col-lg-12">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 meeting-activity" style="height: 90vh;">

                <div class="card-header" style="border-radius: 8px 8px 0px 0px;margin-bottom: -2px;">
                    <div class="row" style="justify-content: center;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=20>
                        <button id="open-room" class="btn btn-sec" style="margin:0px 10px 0px 10px" alt="Start Meeting" ngbTooltip="Start Meeting">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <button id="join-room" class="btn btn-sec" style="margin:0px 10px 0px 10px">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="share-file" class="btn btn-sec" style="display:none;margin:0px 10px 0px 10px;" ngbTooltip="Share File">
                            <i class="fa fa-clipboard"></i>
                        </button>
                        <button id="share-screen" class="btn btn-sec" style="display:none;margin:0px 10px 0px 10px;" ngbTooltip="Share Screen">
                            <i class="fa fa-desktop"></i>
                        </button>
                        <button id="resume-count" (click)="startTimer()" style="display: none;" class="btn btn-link btn-sm">resume</button>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <div style="display: none;" id="isHost"></div>
                        <button  style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit Meeting</button>

                        <h4 *ngIf="meetingDetails.createdBy!=undefined">Host :
                            [{{meetingDetails.createdBy.firstName}}&nbsp;{{meetingDetails.createdBy.lastName}}]</h4>

                    </div>
                    <div class="row" style="justify-content: center;">
                        <div id="room-urls" style="text-align: center;display: none;"></div>
                    </div>
                </div>
                <div class="attendee-row">
                        <button class="scrollBtn sc_left btn btn-primary" [disabled]="leftNavDisabled" (click)="moveLeft()"><i class='fa fa-angle-left'></i></button>
                        <button class="scrollBtn sc_right btn btn-primary" [disabled]="rightNavDisabled" (click)="moveRight()"><i class='fa fa-angle-right'></i></button>
                    <drag-scroll class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true" (indexChanged)="onIndexChanged($event)"
                        (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
                        (snapAnimationFinished)="onSnapAnimationFinished()" #videos_container>
                        <video drag-scroll-item *ngFor="let image of imagelist" class="dummyVideoPlaceHolders"></video>
                        <!-- <video drag-scroll-item *ngFor="let image of imagelist" poster="{{'https://ngx-drag-scroll.fanjin.io/assets/img/' + image}}" class="dummyVideoPlaceHolders"></video> -->
                    </drag-scroll>
                </div>
                <div class="row parent">
                    <div id="file-container" style="width: 100%; overflow-y: scroll;"></div>
                </div>


                <div class="row meeting-bottom">
                    <div id="container">
                        <div id="right">
                            <button id="btn-leave-room" class="btn btn-danger btn-lg" (click)="exitMeeting()">
                                <i class="fa fa-power-off"></i>
                            </button>
                        </div>

                        <!-- <div id="right"></div> -->
                        <!-- <div id="center">
                            <button class="btn btn-primary">
                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa fa-microphone-slash" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            </button>
                        </div> -->
                    </div>
                </div>

            </div>

            <div class="col-sm-4 meeting-activity">
                <div class="card">
                    <div class="card-header">
                        <span *ngIf="meetingDetails.subject!=undefined">
                            <h4>[{{meetingDetails.subject}}]</h4>

                            <span>
                                <i class="fa fa-clock-o"></i>&nbsp;
                                <countdown #countdown [config]="config" (finished)="onFinished()" (notify)="onNotify($event)">$!m!:$!s!</countdown>
                            </span>

                        </span>
                    </div>
                    <div class="card-body">
                        <ul role="tablist" class="nav nav-tabs justify-content-start">
                            <li class="nav-item ng-star-inserted" (click)="switchTab('chat')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='chat'}">
                                    Chat
                                </span>
                            </li>
                            <li class="nav-item ng-star-inserted" (click)="switchTab('mom')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='mom'}">
                                    Minutes of Meeting
                                </span>
                            </li>
                        </ul>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='chat'?'block':'none'}">
                            <div style="height: 60vh; overflow-y: scroll" id="chat-container" class="chat-output">
                            </div>
                            <div class="col-md-12" style="padding-top: 20px;">
                                <div class="row">
                                    <span class="col-md-10">
                                        <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;"></textarea>
                                    </span>
                                    <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                        <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='mom'?'block':'none'}">
                            <div class="row content-tab" style="text-align:center">

                                <textarea placeholder="Type MOM Here..." style="width: 100%; height: 60vh; margin: 10px;"
                                    [(ngModel)]="momTxt" required></textarea>
                                <button class="btn btn-sec momBtn" id="btn-save-mom" (click)="saveMom()">Save MOM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>

    <br>
    <br>
    <!-- <input type="text" id="input-text-chat" placeholder="Enter Text Chat" disabled> -->

    <br>
    <br>
    <!-- <button id="btn-leave-room" disabled>Leave /or close the room</button> -->



    <div id="chat-container">
        <!-- <div id="file-container"></div> -->
        <!-- <div class="chat-output"></div> -->
    </div>
    <!-- <div id="videos-container"></div> -->
</section>
