<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 meeting-activity">
                <div class="card-header" style="border-radius: 8px 8px 0px 0px;margin-bottom: -2px;">
                    <div class="row">
                        <div class="col-md-5 offset-md-1">
                            <h5 *ngIf="meetingDetails.createdBy!=undefined" style="overflow-wrap: break-word;"><b>Host:
                                {{meetingDetails.createdBy.firstName}}&nbsp;{{meetingDetails.createdBy.lastName}}</b>
                            </h5>
                        </div>
                        <div class="col-md-6" style="float: right;" >
                            <div id="room-urls" style="text-align: center;display: none;">
                                <button type="button"  data-toggle="tooltip" title="Copy User Link"
                                class="btn-sm btn-url" id="copyMeetingLink">
                                <i class="fa fa-clipboard" aria-hidden="true"></i> User Link
                                </button>
                                <button type="button" data-toggle="tooltip" title="Copy Guest Link" class="btn-sm btn-url" id="copyGuestMeetingLink">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i> Guest Link
                                </button>
    
                                <button type="button"  data-toggle="tooltip" title="Copy Meeting Id" class="btn-sm btn-url" id="copyMeetingId">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i> Meeting Id
                                </button>
                            </div>
                        </div>
                        <h6 class="offset-md-1" style="overflow-wrap: break-word; padding-top: 2px;" *ngIf="meetingDetails.subject!=undefined"><b>{{meetingDetails.subject}}</b>
                        </h6>
                    </div>
                   
                </div>
                <div class="attendee-row">
                    <div class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true"  #videos_container id="videos_container">
                        <!-- <video drag-scroll-item *ngFor="let image of imagelist" class="dummyVideoPlaceHolders"></video> -->
                    </div>
                    <!-- <p  id="muteIcon"> </p>  -->
                </div>
                <div class="row parent">
                    <div id="shareScreen-container" style="width: 100%; overflow-y: auto;height: calc(100vh*0.38);"></div>
                </div>
                <div>
                    <div class="col-md-12 meeting-bottom" style="padding-bottom: 0px;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=10 style="display:none;">
                        <button id="btn-leave-room" class="btn pull-left btn-danger" (click)="exitMeeting()" 
                            data-toggle="tooltip" title="Exit Meeting">
                            <i class="fa fa-2x fa-power-off"></i>
                        </button>
                        <app-custom-modal #exitMeetingConfirmModal [model]="leaveMeeting">
                            <div>
                                <label style="padding: 10px; ">Are you sure you want to completely exit meeting click
                                    yes or to save MOM and other meeting
                                    activity click No?</label>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn btn-primary" (click)="completeExit()">Yes</button>
                                <button type="button" class="btn btn-danger" (click)="exit()">No</button>
                            </div>
                        </app-custom-modal>
                        <button id="btn-mute" class="btn pull-left default" [ngClass]="isMute?'btn-sec':'default'"
                            #muteUnmuteBtn placement="top" data-toggle="tooltip" title="Mute/Unmute" (click)='mute()'>
                            <i class="fa fa-2x " [ngClass]="isMute?'fa-microphone-slash':'fa-microphone'"></i>
                        </button>
                        <button id="open-room" class="btn pull-left" data-toggle="tooltip" title="Start Meeting"
                            [ngClass]="isMeetingStarted?'default':'btn-success'" placement="top" (click)='startMeeting();'>
                            <i class="fa fa-2x fa-play" aria-hidden="true"></i>
                        </button>
                        <button id="btn-start-recording" class="btn pull-left default" alt="Start Recording" style="display:none;">
                            <i class="fa fa-2x fa-circle" title="Start Recording" data-toggle="tooltip" aria-hidden="true"
                                id="rec_start"></i>
                            <i class="fa fa-2x fa-stop" aria-hidden="true" title="Stop Recording" data-toggle="tooltip"
                                style="color:#dc3545;display: none" id="rec_stop"></i>
                        </button>
                        <button id="join-room" class="btn default pull-left" style="display: none;">
                            <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="share-file" class="btn default pull-left" style="display:none;" #shareFileBtn
                            (click)="shareFile()" title="Share File" data-toggle="tooltip">
                            <i class="fa fa-2x fa-clipboard"></i>
                        </button>
                        <button id="share-screen" class="btn pull-left" style="display:none;" #shareScreenBtn [ngClass]="isScreenSharingStarted?'btn-sec':'default'"
                            (click)='shareScreen()' data-toggle="tooltip" title="Share Screen">
                            <i class="fa fa-2x fa-desktop"></i>
                        </button>
                        <button id="disable-video" class="btn pull-left default" alt="Disable video" style="display:none;"
                            #viewVideoBtn (click)='viewVideo()' [value]="isVideoEnabled" title="Video On/Off"
                            data-toggle="tooltip">
                            <i *ngIf="isVideoEnabled" class="fa fa-2x fa-video-camera"></i> <i *ngIf="!isVideoEnabled"
                                class="fa fa-2x fa-ban"></i>
                        </button>
                        <span id="meeting-error" style="float: right;font-weight: bolder;background-color:#b031fa; color: #fff"></span>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
                        <div style="display: none;" id="isHost"></div>
                        <div style="display: none;" id="isVideoEnabled">{{isVideoEnabled}}</div>
                        <button style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit
                            Meeting
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 meeting-activity">
                <div class="card">
                    <div class="card-header col-md-12" style="background: #efefef;">
                        <div class="col-md-8" style="float: left;">
                            <img src="assets/images/color-logo1.png" class="img-fluid" alt="Responsive image" />
                        </div>
                        <div *ngIf="meetingDetails.subject!=undefined" class="col-md-4" style="float: right;color:#000;">
                            <h4>
                                <i class="fa fa-clock-o"></i>&nbsp;
                                {{hour| number:'2.0-0'}}:{{minute| number:'2.0-0'}}:{{second| number:'2.0-0'}}
                            </h4>
                        </div>
                    </div>
                    <div class="card-body" style="padding-right:50px;">
                        <div class="icon-bar">
                            <a id="chatAnchor" href="javascript:void(0)" (click)="switchTab('chat')" title="Chat"
                                [ngClass]="{'selected': currentTab=='chat'}"><i class="fa fa-comments-o"></i></a>
                            <a href="javascript:void(0)" (click)="switchTab('mom')" [ngClass]="{'selected': currentTab=='mom'}"
                                title="Notes"><i class="fa fa-sticky-note-o"></i></a>
                            <a id="viewerAnchor" href="javascript:void(0)" (click)="switchTab('viewers')" [ngClass]="{'selected': currentTab=='viewers'}"
                                title="Viewers"><i class="fa fa-user-o"></i></a>
                            <a id="downloadedFilesAnchor" href="javascript:void(0)" (click)="switchTab('downloadedFiles')"
                                [ngClass]="{'selected': currentTab=='downloadedFiles'}" title="Shared Files"><i class="fa fa-file-text-o"></i></a>
                            <a href="http://www.xanadutec.com/FAQ.html" target="_blank" title="FAQ's"><i class="fa fa-question"></i></a>
                            <a href="http://www.xanadutec.com/communicator.html" target="_blank" title="Info"><i class="fa fa-info"></i></a>
                        </div>
                        <ul role="tablist" class="nav nav-tabs justify-content-start" style="background-color: #7d7d7f;color: #fff;">
                            <li class="nav-item ng-star-inserted" (click)="switchTab('chat')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='chat'}">
                                    Chat<span id="messageCount" class="step"></span>
                                </span>
                            </li>
                            <li class="nav-item ng-star-inserted" (click)="switchTab('mom')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='mom'}">
                                    Notes
                                </span>
                            </li>
                            <li class="nav-item ng-star-inserted" (click)="switchTab('viewers')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='viewers'}">
                                    Viewers<span id="viewerCount" class="step"   ></span>
                                </span>
                            </li>
                            <li class="nav-item ng-star-inserted" (click)="switchTab('downloadedFiles')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='downloadedFiles'}">
                                    Shared Files
                                </span>
                            </li>
                        </ul>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='chat'?'block':'none'}">
                            <div id="chat-container" class="chat-output">
                            </div>
                            <div class="col-md-12" style="padding-top: 5px;">
                                <div class="row">
                                    <span class="col-md-10">
                                        <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:60px;overflow:auto;resize:none"></textarea>
                                    </span>
                                    <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                        <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='mom'?'block':'none'}">
                            <div class="row content-tab" style="text-align:center">

                                <textarea placeholder="Type MOM Here..." style="width: 100%; margin:5%; overflow:auto;resize:none"
                                    [(ngModel)]="momTxt" required class="MomTextBox"></textarea>
                                <button class="btn btn-primary momBtn" #saveMomBtn id="btn-save-mom" (click)="saveMom()">Generate
                                    Meeting Notes</button>
                            </div>
                        </div>
                        <div class="tab-content tab-content-srcoll" [ngStyle]="{'display':currentTab=='viewers'?'block':'none'}">
                            <div class="row content-tab">
                                <div id="viewersList" class="col-md-12"></div>

                            </div>
                        </div>
                        <div class="tab-content tab-content-srcoll" [ngStyle]="{'display':currentTab=='downloadedFiles'?'block':'none'}">
                            <div id="file-container" class="row content-tab" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>
    <div id="chat-container">
    </div>
</section>
<video id="screenRecordVideo" style="display: none;"></video>