<!-- <div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 meeting-activity">
                <div class="card-header" style="border-radius: 8px 8px 0px 0px;margin-bottom: -2px;">
                    <div class="row">
                        <div class="col-md-3 offset-md-1">
                            <h4 *ngIf="meetingDetails.createdBy!=undefined">Host :
                                {{meetingDetails.createdBy.firstName}}&nbsp;{{meetingDetails.createdBy.lastName}}
                            </h4>
                        </div>
                        <div class="col-md-7">
                            <h4 *ngIf="meetingDetails.subject!=undefined">Subject : {{meetingDetails.subject}}
                            </h4>
                        </div>
                    </div>
                    <div class="row" style="justify-content: left;">
                        <div id="room-urls" style="text-align: center;display: none;"></div>
                    </div>
                </div>
                <div class="attendee-row">
                    <div class="demo-one" drag-scroll-y-disabled="true" scrollbar-hidden="true" (indexChanged)="onIndexChanged($event)"
                        (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)"
                        (snapAnimationFinished)="onSnapAnimationFinished()" #videos_container id="videos_container">
                    </div>
                </div>
                <div class="row parent">
                    <div id="file-container" style="width: 100%; overflow-y: scroll;"></div>
                </div>
                <div>
                    <div class="col-md-12 meeting-bottom" style="padding-bottom: 0px;">
                        <input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off
                            autocapitalize=off size=10>
                        <button id="btn-leave-room" class="btn pull-left btn-danger" (click)="exitMeeting()" placement="bottom"
                            ngbTooltip="Exit Meeting">
                            <i class="fa fa-2x fa-power-off"></i>
                        </button>
                        <app-custom-modal #exitMeetingConfirmModal [model]="leaveMeeting">
                            <div>
                                <label style="padding: 10px; ">Are you sure you want to completely exit meeting click
                                    yes or to save MOM and other meeting
                                    activity click No?</label>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn btn-primary" (click)="completeExit()">Yes</button>
                                <button type="button" class="btn btn-cancel" (click)="exit()">No</button>
                            </div>
                        </app-custom-modal>
                        <button id="btn-mute" class="btn pull-left default" [ngClass]="isMute?'btn-sec':'default'"
                            #muteUnmuteBtn placement="bottom" ngbTooltip="Mute/Unmute" (click)='mute()'>
                            <i class="fa fa-2x " [ngClass]="isMute?'fa-microphone-slash':'fa-microphone'"></i>
                        </button>
                        <button id="open-room" class="btn pull-left" alt="Start Meeting" [ngClass]="isMeetingStarted?'default':'btn-success'"
                            placement="bottom" ngbTooltip="Start" (click)='isMeetingStarted=!isMeetingStarted'>
                            <i class="fa fa-2x fa-play" aria-hidden="true"></i>
                        </button>
                        <button id="disable-video" class="btn pull-left default" alt="Disable video" style="display:none;"
                            placement="top" #viewVideoBtn (click)='viewVideo()' [value]="isVideoEnabled" placement="bottom"
                            ngbTooltip="Video on/off">
                            <i *ngIf="isVideoEnabled" class="fa fa-2x fa-video-camera"></i> <i *ngIf="!isVideoEnabled"
                                class="fa fa-2x fa-ban"></i>
                        </button>

                        <button id="join-room" class="btn default pull-left" style="display: none;">
                            <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
                        </button>
                        <button id="share-file" class="btn default pull-left" style="display:none;" placement="top"
                            #shareFileBtn (click)="shareFile()" placement="bottom" ngbTooltip="Share File">
                            <i class="fa fa-2x fa-clipboard"></i>
                        </button>
                        <button id="share-screen" class="btn pull-left" style="display:none;" placement="top"
                            #shareScreenBtn [ngClass]="isScreenSharingStarted?'btn-sec':'default'" (click)='shareScreen()'
                            placement="bottom" ngbTooltip="Share Screen">
                            <i class="fa fa-2x fa-desktop"></i>
                        </button>
                        <span id="meeting-error" style="float: right;font-weight: bolder;"></span>
                        <button id="resume-count" (click)="startTimer()" style="display: none;" class="btn btn-link btn-sm">resume</button>
                        <button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
                        <button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
                       
                        <button style="display:none;" class="btn btn-danger btn-lg" ngbTooltip="Exit Meeting">Exit
                            Meeting
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 meeting-activity">
                <div class="card">
                    <div class="card-header col-md-12">
                        <div class="col-md-8" style="float: left;">
                            <img src="assets/images/white_logo.png" class="img-fluid" alt="Responsive image" />
                        </div>
                        <div *ngIf="meetingDetails.subject!=undefined" class="col-md-4" style="float: right;">
                            <h4>
                                <i class="fa fa-clock-o"></i>&nbsp;
                                <countdown #countdown [config]="config" (finished)="onFinished()" (notify)="onNotify($event)">$!h!:$!m!:$!s!</countdown>
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul role="tablist" class="nav nav-tabs justify-content-start">
                            <li class="nav-item ng-star-inserted" (click)="switchTab('chat')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='chat'}">
                                    Chat
                                </span>
                            </li>
                            <li class="nav-item ng-star-inserted" (click)="switchTab('mom')">
                                <span class="nav-link" [ngClass]="{'active': currentTab=='mom'}">
                                    Minutes of Meeting
                                </span>
                            </li>
                        </ul>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='chat'?'block':'none'}">
                            <div id="chat-container" class="chat-output">
                            </div>
                            <div class="col-md-12" style="padding-top: 20px;">
                                <div class="row">
                                    <span class="col-md-10">
                                        <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;overflow:auto;resize:none"></textarea>
                                    </span>
                                    <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                        <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" [ngStyle]="{'display':currentTab=='mom'?'block':'none'}">
                            <div class="row content-tab" style="text-align:center">

                                <textarea placeholder="Type MOM Here..." style="width: 100%; margin: 10px;overflow:auto;resize:none"
                                    [(ngModel)]="momTxt" required class="MomTextBox"></textarea>
                                <button class="btn btn-sec momBtn" #saveMomBtn id="btn-save-mom" (click)="saveMom()">Generate
                                    MOM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="make-center" style="display:none;">
    <h1 style="display:none;"></h1>
    <div id="chat-container">
    </div>
</section> -->


<div class="main-container">

    <div id="header" class="main-header">
        <div class="fixed-header">
           
            <div class="logo-img">
        
                <img src="../../../../assets/images/white_logo.png" class="responsive1" width="260px" height="60px" style="margin-left:45px;">
            </div>
            <div style="position:absolute;top: 10%;left :48%;">
                    <h4 *ngIf="meetingDetails.subject!=undefined"> {{meetingDetails.subject}}
                    </h4>
                </div>
            <span id="meeting-error" class="text"></span>
            <div class="organiser-name-right">
                <div>
                    <h4 class="organiser-name-timer" *ngIf="meetingDetails.createdBy!=undefined">{{meetingDetails.createdBy.firstName}}&nbsp;{{meetingDetails.createdBy.lastName}}</h4>
                </div>
                <div>
                    <h4 class="organiser-name-timer" id="resume-count">00:00:00</h4>
                </div>
            </div>

        </div>
    </div>

    <div id="content" class="content-div">
        <div class="col-md-12 content-main-div">
            <div class="row content-row-div">
                <div class="attendee-container">
                    <div class="screen-share-title">
                        <p>Attendee</p>
                    </div>
                     <div class="grid_row" id="videos_container">
                       
                    </div> 
                </div>
                <div class="div-divider-space"></div>
                <div class="files-container">
                    <div class="screen-share-title">
                        <p>Files</p>
                    </div>
                    <div id="file-container">
                        
                    </div>
                </div>
            </div>

            <div class="row screen-share-container">
                <div class="screen-share-title">
                    <p>Screen Share</p>
                </div>
                <div class="grid_row" id="screen-share-container">
                </div>
            </div>
            <div class="row button-container">
               <div class="col-md-8">
                    <input class="btn btn-background btn1 pull-left  " id="btn-mute" type="image" src="/assets/images/mute_fancy.png" alt="Submit" width="52" height="60">
                    <input class="btn btn-background btn1 pull-left " id="open-room" type="image" src="/assets/images/start-meet.png" alt="Submit" width="52" height="60"> 
                    <input class="btn btn-background btn1 pull-left" type="image" id="disable-video" #viewVideoBtn (click)='viewVideo()'
                    [value]="isVideoEnabled" style="display:none;" src="/assets/images/video.png" alt="Submit" width="52" height="60">
                     <input class="btn btn-background btn1 pull-left" id="share-screen" style="display:none;" type="image" src="/assets/images/share-screen.png" alt="Submit"width="52" height="60" > 
                     <input class="btn btn-background btn1 pull-left" (click)="fileShare(e)" id="share-file" style="display:none;" type="image" src="/assets/images/file-share.png" alt="Submit"width="52" height="60"> 
                     <input class="btn btn-background btn1 pull-left" type="image" src="/assets/images/record.png" alt="Submit"width="52" height="60" > 
                    <!-- <button class="btn btn-background pull-left btn1 " id="btn-mute">  -->
                    <!-- <i class="fa fa-2x fa-microphone" aria-hidden="true"></i>-->
                     <!-- <img src="/assets/images/mute_fancy.png" class=" pull-left" style="height:50px; width:50px;margin: 5px;" />
                </button> 
                 -->
                <!-- <button class="btn btn-background pull-left btn1" id="open-room"> -->
                        <!-- <img src="/assets/images/start-meet.png" class=" pull-left " style="height:50px; width:50px;margin: 5px;" /> -->
                    <!-- <i class="fa fa-2x fa-play" aria-hidden="true"></i>-->
                <!-- </button> -->
                
                <!-- <button class="btn btn-background btn1 pull-left " id="disable-video" #viewVideoBtn (click)='viewVideo()'
                    [value]="isVideoEnabled" style="display:none;">
                    <img src="/assets/images/video.png" class=" pull-left " style="height:50px; width:50px;margin: 5px;" /> -->
                    <!-- <i class="fa fa-2x fa-video-camera" aria-hidden="true"></i> -->
                <!-- </button>
               
                <button class="btn btn-background btn1 pull-left" id="share-screen" style="display:none; ">
                        <img src="/assets/images/share-screen.png" class=" pull-left" style="height:50px; width:50px;margin: 5px;"/> -->
                    <!-- <i class="fa fa-2x fa-desktop" aria-hidden="true"></i> -->
                <!-- </button>
               
                <button class="btn btn-background btn1 pull-left" id="share-file" style="display:none;">
                        <img src="/assets/images/file-share.png" class=" pull-left" style="height:50px; width:50px;margin: 5px;" /> -->
                    <!-- <i class="fa fa-2x fa-file" aria-hidden="true"></i> -->
                <!-- </button>
              
                <button class="btn btn-background btn1 pull-left">
                        <img src="/assets/images/record.png" class=" pull-left" style="height:50px; width:50px;margin: 5px;"/> -->
                    <!-- <i class="fa fa-2x fa-circle" aria-hidden="true"></i> -->
                <!-- </button> -->
               
            </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-responsive" (click)="copyMeetingLink(1)">
                        Copy Meeting Link
                    </button>

                    <button type="button" class="btn btn-responsive" (click)="copyMeetingLink(2)">
                        Copy Meeting Id
                    </button>
                    <input class="btn exit btn1" id="btn-leave-room" (click)="exitMeeting()" type="image" src="/assets/images/ssss.png" alt="Submit"width="52" height="60" > 
                    <app-custom-modal #exitMeetingConfirmModal [model]="leaveMeeting">
                            <div>
                                <label style="padding: 10px; ">Are you sure you want to completely exit meeting click
                                    yes or to save MOM and other meeting
                                    activity click No?</label>
                            </div>
                            <div class="modal-footer popFooter">
                                <button type="button" class="btn btn-primary" (click)="completeExit()">Yes</button>
                                <button type="button" class="btn btn-cancel" (click)="exit()">No</button>
                            </div>
                        </app-custom-modal>
                   
                </div>
            </div>

        </div>

        <ul class="menu">
            <li title="Chats"><a class="menu-button chat" onclick="$('#tab1').trigger('click')" id="chat"></a></li>
            <li title="Notes"><a class="menu-button notes" onclick="$('#tab2').trigger('click')" id="notes"></a></li>
            <li title="Viewers"><a class="menu-button viewers" onclick="$('#tab3').trigger('click')" id="viewers"></a></li>
            <li title="Help"><a href="http://www.xanadutec.com/FAQ.html" target="_blank" class="menu-button help"></a></li>
            <li title="Settings"><a href="#" class="menu-button settings"></a></li>
            <li title="Info"><a href="http://www.xanadutec.com/communicator.html" target="_blank" class="menu-button info"></a></li>
        </ul>

        <ul class="menu-bar open">

            <div class="header meeting-activity"style="text-align:center;">
             <img src="../../../../assets/images/coreflex-logo.png" class="img-responsive" width="180px" height="50px">
            </div>

            <div class="tabset">

                <!-- Tab Chats -->

                <input type="radio" name="tabset" id="tab1" aria-controls="chats" checked>

                <label for="tab1">Chats</label>

                <!-- Tab Notes -->

                <input type="radio" name="tabset" id="tab2" aria-controls="meeting_notes">

                <label for="tab2">Meeting Notes</label>

                <!-- Tab viewers -->

                <input type="radio" name="tabset" id="tab3" aria-controls="viewers">

                <label for="tab3">Viewers</label>

                <div class="tab-panels" style="overflow: auto;">

                    <section id="chats" class="tab-panel">
                        <div id="chat-container" class="chat-output">
                        </div>
                        <div class="col-md-12" style="padding-top: 20px;">
                            <div class="row">
                                <span class="col-md-10">
                                    <textarea placeholder="Type Message Here.." id="input-text-chat" style="width:100%;height:70px;overflow:auto;resize:none;margin-bottom:-10px;"></textarea>
                                </span>
                                <span class="col-md-2" style="line-height: 80px; cursor: pointer;">
                                    <i class="fa fa-paper-plane fa-3x" id="alternate-send-chat"></i>
                                </span>
                            </div>
                        </div>
                    </section>

                    <section id="meeting_notes" class="tab-panel">
                        <div class="textarea-div">
                            <textarea placeholder="Type MOM Here..." class="form-control" rows="30" class="width-100"
                            [(ngModel)]="momTxt" ></textarea>
                            <span>
                                <button type="button"  #saveMomBtn id="btn-save-mom" (click)="saveMom()"
                                 class="btn generate-meeting-notes-btn-primary">Generate
                                    Meeting
                                    Notes</button>
                            </span>
                        </div>
                    </section>

                    <section id="viewers" class="tab-panel">
                        <div class="list-alternate-colors list-style" id="viewers-container">
                            
                            <!-- <div class="list-div-style">
                                <p class="viewer-name">Martina Makasare</p>
                                <p class="viewer-present">Present</p>
                            </div> -->
                        </div>
                    </section>
                </div>
            </div>
        </ul>
    </div>
</div>

<input type="text" id="room-id" class="customIp" value="Enter Meeting Id" autocorrect=off autocapitalize=off size=10
    style="display: none">
<div style="display: none;" id="isHost"></div>
<div style="display: none;" id="isVideoEnabled">{{isVideoEnabled}}</div>
<button id="join-room" class="btn default pull-left" style="display: none;">
    <i class="fa fa-2x fa-sign-in" aria-hidden="true"></i>
</button>
<button id="open-or-join-room" style="display:none;">Auto Open Or Join Room</button>
<button id="btn-end-meeting" style="display:none;">Auto End meeting</button>
<div id="room-urls" style="text-align: center;display: none;"></div>
<h1 style="display:none;"></h1>