@import "styles/customStyle.css";


.member-details{
    height: 100%;  border: 1px solid #ccd1d4;
      box-shadow: 5px 5px 5px 5px #ccd1d4;
       background: #e5efff;
    padding:10px;
     margin:15px;
     width: 100%;
}
.search-member{
  background-color: #e5efff;
    height:50px;
    margin :15px;
    border: 1px solid #ccd1d4;
}
.search-box-container input {
    padding: 2px;
    margin-bottom:5px;
  }

  .search-box-container:after {
      content: "\f00d";
      font-family: FontAwesome;
      font-weight: bold;
      margin-left: -25px;
      margin-right: 25px;
      color: #eb223d;
  }
    .row-label label{
     font-weight: bold;
    }
    .selected-team{
        color:#3277d3;   
     }
     .row-label input{
         margin: 8px;
     }  
    
.pageControl{
    text-align: center;
    padding-top:10px;
}
.activeDot{
    height: 15px;
    width: 15px;
    background-color: rgb(29, 189, 29);
    border-radius: 50%;
    display: inline-block;
}
.inActive{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.align-center {
    margin: auto;
    width: 100%;
}