@import "styles/customStyle.css";


.member-details{
    height: 100%;  border: 1px solid #ccd1d4;
      box-shadow: 5px 5px 5px 5px #ccd1d4;
       background: #e5efff;
    padding:10px;
     margin:15px;
     width: 100%;
}
.search-member{
  //background-color: #e5efff;
    height:50px;
    margin :15px;
    border: 1px solid #ccd1d4;
}
.search-box-container input {
    padding: 2px;
    margin-bottom:5px;
  }

  .search-box-container:after {
      content: "\f00d";
      font-family: FontAwesome;
      font-weight: bold;
      margin-left: -25px;
      margin-right: 25px;
      color: #eb223d;
  }
    .row-label label{
     font-weight: bold;
    }
    .selected-team{
        color:#353535;   
     }
     .row-label input{
         margin: 8px;
     }  
    
.pageControl{
    text-align: center;
    padding-top:10px;
}

.align-center {
    margin: auto;
    width: 100%;
}

.main-container{
    height:100%; 
    width:100%; 
    overflow: auto;
  }
  
  .main-header{
    position:absolute; 
    top:0; 
    left:0;
  }

.fixed-header {
    width: 100%;
    position: fixed;        
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
    height: 9.5%;
    top: 0;
    color: #fff;
}

.responsive1
{
    // max-width: 100%;
    height: auto !important;
    margin-left:45px;
}

.logo-img{
    float: left; 
    padding-top: 15px;
}

.content-div{
    // position:absolute; 
    top:9.5%; 
    left:0px;
    // right:4%; 
    // margin-left: 5px; 
    height: 82%; 
    background-color: #f7f7f7;
  }

  .group-name-list{
    height:70vh; 
    overflow: auto;
    // padding-bottom: 100px;
  }

  .filter-list{
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    height: 100%;
    // margin-top:0.3%;
    // margin-bottom: 10%;
   }

   .filter-list ul{
       list-style-type: none;
   }
   .filter-list ul li input{
   cursor: pointer;
   }

  .left {
    width: auto;
    float:left;
    background: linear-gradient(to left, #3283b9 32%, #115c7d 100%);
    color: #ffffff;
    font-weight: bold;
    // overflow: hidden;
}

.manage-group-title{
    margin-top: 20px;
    font-size: 2.5vh;
}

.header{
  position:absolute; 
  top:0px; left:0px; 
  height:90px; 
  right:0px;
  padding-top: 20px;
  color: white;
  overflow:hidden;
  text-align: center;
  background-image: url(/assets/images/Coreflex-solutions-header.jpg);
}

.body-container{
  position:absolute; 
  top:90px; 
  bottom:75px; 
  left:0px; 
  right:0px; 
  margin-right: 20px;
  // overflow:auto;
  // height: 83%;
  // width: calc(100% - 50px);
}

.footer{
  position:absolute; 
  bottom:100px; 
  height:100px; 
  left:0px; 
  right:0px; 
  overflow:hidden;
}
.btn-search{
  background-color: #fecf71;
  border-color: #fecf71;
  color:black;
}
.btn-edit{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-edit:hover{
  background-color:#5ebfff;
  color:white;
  border: 1px solid #3283b9;
}
.btn-update-member{
  width: 100%; 
  text-align:center; 
  margin-top: 5px;
}
.selected-group{
  padding-top: 2px; 
  padding-right: 30px; 
  padding-left: 10px;
}
.group-container{
  padding-bottom: 100px;
}
.padding-5px{
  padding: 5px;
}
.padding-10px{
  padding: 10px;
}
.padding-20px{
  padding: 20px;
}
.padding-top-5px{
  padding-top:5px;
}
.margin-left-5px{
  margin-left: 5px;
}
.margin-right-5px{
  margin-right: 5px;
}
.margin-top-5px{
  margin-top: 5px;
}
.margin-top-10px{
  margin-top: 10px;
}