.popHeaderMeeting {
	padding: 10px;
    background-image: url("/assets/images/Coreflex-solutions-popup.jpg");
    background-size: cover;
   color: #ffffff;
}
.popHeaderMeeting p{
    font-size: 12px; 
}
.btn.btn-secondary {
    background: #2199e8;
    border-color:  #75b3dd;
    border-radius: 0px 5px 5px 0px;
}
.btn.btn-secondary.btn-border-radius{
    border-radius: 5px;
}
.popFooter{
background-color: #e5efff; border-top:1px solid  #19191a;
}

.popTitle{
font-size: 22px;
}
.btn-border-radius{
    border-radius: 5px;
}
