.popHeaderMeeting {
	padding: 10px;
 //   background: linear-gradient(to right, #AF2127 -6%, #fbc2c6 100%);
    background: linear-gradient(to right, #4b6584 41%, #f4f4f4 110%);
    background-size: cover;
    color: #ffffff;
}
.popHeaderMeeting p{
    font-size: 12px; 
}
.btn.btn-secondary {
    background: #AF2127;
    border-color:  #75b3dd;
    border-radius: 0px 5px 5px 0px;
}
.btn.btn-secondary.btn-border-radius{
    border-radius: 5px;
}
.popFooter{
background-color: #e5efff; border-top:1px solid  #19191a;
}

.popTitle{
font-size: 22px;
}
.btn-border-radius{ 
    border-radius: 5px;
}
