<!-- <button class="btn btn-primary" (click)="open(content)">Large modal</button> -->
<ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header popHeaderMeeting">
        <div>
            <span>
                <h5 class="modal-title popTitle" >
                   <a [innerHTML]="model.titleIcon"></a>&nbsp;{{model.title}}</h5>
            </span>
            <p  *ngIf="model.smallHeading">{{model.smallHeading}}</p>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [innerHTML]="model.body"></div>
    </div>
    <div class="modal-footer popFooter">
            <button type="button" class="btn btn-secondary btn-border-radius" [innerHTML]="model.Button1Content" (click)="button1Click()"></button>
            <button type="button" class="btn btn-secondary btn-border-radius" [innerHTML]="model.Button2Content" *ngIf="model.Button2Content" (click)="button2Click()"></button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')" *ngIf="!model.Button2Content">Close</button>
    </div>
</ng-template>
