
<div class="container-bg">
        <div class="col-md-12" style="top: 20%;">
            <div class="row h-100 d-flex justify-content-center fixed-header">
                <img src="assets/images/C_4_white.png" alt="Responsive image" class="img-fluid" style="height:3.5rem; " />
            </div>
            <div class="row h-100 d-flex justify-content-center">
                <div id="login" class="col-md-4">
                    <div class="inner-border">
                        <h1>Sign Up</h1>
                     
                    <div style="margin-top: 20px;" *ngIf="showAddMemberFirstName === true"
                    class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberFirstName">
                    <strong>Error: </strong>Enter Member First Name.
                </div>
                
                <div style="margin-top: 20px;" *ngIf="showAddMemberUserName === true"
                class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberUserName">
                <strong>Error: </strong>Enter UserName.
            </div>
            <div style="margin-top: 20px;" *ngIf="showAddMemberEmail === true"
            class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberEmail">
            <strong>Error: </strong>Enter Email
            </div>
            <div style="margin-top: 20px;" *ngIf="showAddMemberPassword === true"
            class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberPassword">
            <strong>Error: </strong>Enter Password.
        </div>
        <div style="margin-top: 20px;" *ngIf="showAddMemberConfirmPass === true"
        class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberConfirmPass">
        <strong>Error: </strong>Enter Confirm Password.
        </div>
        <div style="margin-top: 20px;" *ngIf="showAddMemberpasswordMatch === true"
        class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberpasswordMatch">
        <strong>Error: </strong>Password and confirm password dose not match.
        </div>
        <div style="margin-top: 20px;" *ngIf="showAddMemberValidEmail === true"
        class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberValidEmail">
        <strong>Error: </strong>Enter Valid Email
        </div>
        <div style="margin-top: 20px;" *ngIf="showAddMemberDuplicateUserName === true"
        class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberDuplicateUserName">
        <strong>Error: </strong>Username or Email is already exist.
        </div>
        <div style="margin-top: 20px;" *ngIf="showException === true"
        class="alert alert-danger alert-dismissable" [(ngModel)]="showException">
        <strong>Error: </strong>Primary Exception Occur
        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user-o fa-fw"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="First name" [(ngModel)]="firstName" required >
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-o fa-fw"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]="lastName" required >
                            </div>
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Userame" [(ngModel)]="userName" required >
                                </div>
                                <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-o fa-fw"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" required >
                                    </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key fa-fw"></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" required >
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key fa-fw"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required >
                            </div>
                            <div >
                                 <!-- <div class="input-group-prepend">
                            <select class="col-md-12">
                                <option >{{selectedTeam}}</option>
                                <option   *ngFor="let team of teamArray" class="dropdown-item"
                                on-click="onChangeTeam(team.teamName)" value="volvo">Saab</option>
                              </select>
                              </div>  -->
                        
                        <fieldset id="actions">
                                <input type="submit" id="submit" value="Sign up"  (click)="registerUser();">
                                <a>already have an account?<a style="color:#353535;
                                    " class="sign-in" [routerLink]="['/login']">login</a>
                                </a>
                            </fieldset>
                    </div>
                </div>
            </div>
    
            <div class="row h-100 d-flex justify-content-center fixed-footer">
                <div>Copyright &copy; 2018 Coreflex Solutions</div>
            </div>
        </div>
    
    </div>