
<header >
        <img src="assets/images/logo.jpg" width="350px" />
        </header>
        <section id="content" >
   <div class="login-page" [@routerTransition]>


        <h4>Create An Account</h4>
        <p class="style-links">(Communication is Easy now)</p>
    <p>___________________</p>
                      <div class="card card-container">
                      <h2 class='login_title text-center'>Register</h2>
                      <hr>
                          <form class="form-signin">
                                <div class="row">
                                        <div class="col-md-3">
                                                <p class="input_title">Full Name</p>
                                        </div>
                                        <div class="col-md-9">
                                                <input type="text" id="inputPassword" class="login_box" placeholder="Enter Fullname" required>
                                        </div>
                                      </div>
                                      <div class="row">
                                            <div class="col-md-3">
                                                    <p class="input_title">Email</p>
                                            </div>
                                            <div class="col-md-9">
                                                    <input type="text" id="inputPassword" class="login_box" placeholder="Enter Email" required>
                                            </div>
                                          </div>
                                          <div class="row">
                                                <div class="col-md-3">
                                                        <p class="input_title">Username</p>
                                                </div>
                                                <div class="col-md-9">
                                                        <input type="text" id="inputPassword" class="login_box" placeholder="Enter Username" required>
                                                </div>
                                              </div>
                                <div class="row">
                                        <div class="col-md-3">
                                                <p class="input_title">Password</p>
                                        </div>
                                        <div class="col-md-9">
                                                <input type="password" id="inputPassword" class="login_box" placeholder="******" required>
                                        </div>
                                      </div>

                                      <div class="row">
                                            <div class="col-md-3">
                                                    <p class="input_title">Confirm</p>
                                            </div>
                                            <div class="col-md-9">
                                                    <input type="password" id="inputPassword" class="login_box" placeholder="******" required>
                                            </div>
                                          </div>

                              <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                              <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                          </form><!-- /form -->
                      </div><!-- /card-container -->
                  </div><!-- /container -->
  </section>
  <footer>
          <a>@Coreflex Solutions Inc</a>
          </footer>
