<!-- <div class="fixed-header">
    <img src="assets/images/com_logo_new.png" alt="Responsive image" class="img-fluid" style="height:5rem;" />
</div>
<div>
    <div class="login-page" [@routerTransition]>
        <div class="container">
            <h3>SignUp</h3>
            <p style="text-align: center;">________________</p>

            <form action="" method="" id="login-form">
                <div class="form-field">
                    <label for="user-name">
                        Full Name
                    </label>
                    <input type="text" name="user-name" id="user-name" size="50" required autofocus/>
                </div>
                <div class="form-field">
                    <label for="user-name">
                        Username or Email
                    </label>
                    <input type="text" name="user-name" id="user-name" size="50" required autofocus/>
                </div>

                <div class="form-field">
                    <label for="pass">
                        Password
                    </label>
                    <input type="password" name="password" id="pass" size="50" required />
                </div>

                <div class="form-field">
                    <label for="pass">
                        Confirm Password
                    </label>
                    <input type="password" name="password" id="pass" size="50" required />
                </div>

                <div class="form-field">
                    <label for="pass">
                        Teams
                    </label>
                    <div ngbDropdown class="d-inline-block dropdown">
                        <button class="btn btn-outline-primary col-md-12" ngbDropdownToggle>{{selectedTeam}}</button>
                        <div ngbDropdownMenu>
                            <button *ngFor="let team of teamArray" on-click="changeTeam(team.teamName)" class="dropdown-item">{{team.teamName}}</button>
                        </div>
                    </div>
                </div>
                <div id="form-submit">
                    <a [routerLink]="['/dashboard']">
                        <input type="submit" value="Register" />
                    </a>
                </div>
            </form>

            <div id="register-link">
                <span>
                    Already Have an Account?
                    <a class="signIn-link" [routerLink]="['/login']">
                        Sign In
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="fixed-footer" style="width: 100%; text-align: center;">
        <div>Copyright &copy; 2018 Coreflex Solutions.</div>
    </div>
 -->

<!-- 
<div class="fixed-header">
    <!-- <img src="assets/images/com_logo_new.png" alt="Responsive image" class="img-fluid" style="height:5rem;" /> 
    <img src="assets/images/C_4_white.png" alt="Responsive image" class="img-fluid" style="height:3.5rem;" />
</div>
<div class="body">
    <form id="signup">
            <div class="communication-logo">
                    <img src="assets/images/comm.png" alt="Responsive image"  class="img-fluid" style="height:3.5rem; " />
                    </div>
        <h1>Sign up</h1>
        <fieldset id="inputs">
            <input id="fullName" type="text" placeholder="Full Name" autofocus required>
            <input id="username" type="text" placeholder="Username" required>
            <input id="password" type="password" placeholder="Password" required>
            <input id="confirmPassword" type="password" placeholder="Confirm Password" required>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit" value="Sign up" [routerLink]="['/dashboard/default']">
            <a href="">Forgot your password?</a>
            <a [routerLink]="['/login']">Login</a>
        </fieldset>
    </form>
</div>
<div class="fixed-footer" style="width: 100%; text-align: center; bottom: 5%;">
    <div>Copyright &copy; 2018 Coreflex Solutions</div>
</div> -->



<div class="container-bg">
        <div class="col-md-12" style="top: 20%;">
            <div class="row h-100 d-flex justify-content-center fixed-header">
                <img src="assets/images/C_4_white.png" alt="Responsive image" class="img-fluid" style="height:3.5rem; " />
            </div>
            <div class="row h-100 d-flex justify-content-center">
                <div id="login" class="col-md-4">
                    <div class="inner-border">
                        <h1>Sign Up</h1>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user-o fa-fw"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="First name">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-o fa-fw"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" placeholder="Last Name">
                            </div>
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="text" placeholder="Userame">
                                </div>
                                <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-o fa-fw"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" type="text" placeholder="Email">
                                    </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key fa-fw"></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-key fa-fw"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" placeholder="Confirm Password">
                            </div>
                            <div class=" col-md-12">
                                    <div ngbDropdown class="d-inline-block dropdown">
                                            <button class="btn btn-outline-primary" ngbDropdownToggle>{{selectedTeam}}</button>
                                            <div ngbDropdownMenu>
                                                <button *ngFor="let team of teamArray" class="dropdown-item"
                                                on-click="onChangeTeam(team.teamName)">{{team.teamName}}</button>
                                            </div>
                                        </div>
                                </div>
                        <fieldset id="actions">
                                <input type="submit" id="submit" value="Sign up" [routerLink]="['/dashboard/default']">
                                <a>already have an account?<a style="color:#3277d3;
                                    " class="sign-in" [routerLink]="['/login']">login</a>
                                </a>
                            </fieldset>
                    </div>
                </div>
            </div>
    
            <div class="row h-100 d-flex justify-content-center fixed-footer">
                <div>Copyright &copy; 2018 Coreflex Solutions</div>
            </div>
        </div>
    
    </div>