// shared css for the login and signup page
@import "../login/login.component.scss";
.container {
    min-width: 40%;
    margin: 2em auto;
    background-color:  #eaf3f8;
    padding: 2em;
    border-radius: 2px;
    border: 1px solid  #2980b9;

  }

  .form-field {
    text-align: center;
    margin-bottom: 0.5em;
  }
