@import "styles/customStyle.css";


.main{
    padding: 15px;
    margin:2%;
}

.form-style-9{
    max-width: 500px;
    background: #f6f6f6;
    padding: 40px;
    margin: 50px auto;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border:none;
}
.view-admin{
    
    font-size: 15px;
    font-weight: bold;
    margin-top:5%;
}

