<div class="top">
  <div class="col-md-12 header">
      <div class="row">
        <h3 class="page-title">Admin Register</h3>
        <a [routerLink]="['/dashboard/default']" style="position: absolute;right:3%;">
            <i class="fa fa-3x fa-home home-icon" aria-hidden="true" title="Dashboard" data-toggle="tooltip"></i>
        </a>
      </div>
  </div>
</div>

<div class="main"style="text-align: center;">
          <div id="login" class="col-md-4 center" >
                      <div class="form-style-9">
                       
                        <ul>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user fa-fw"> <span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="First Name" #firstNameField
                             [(ngModel)]="firstName" required >
                        </div>
                        
                        </li>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]="lastName" required #lastNameField>
                        </div>
                        </li>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-check fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Username" [(ngModel)]="userName" required #usernameField>
                        </div>
                        </li>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" required #emailField>
                        </div>
                        </li>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password" required #passwordField>
                        </div>
                        </li>
                        <li>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-lock fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                </span>
                            </div>
                            <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required #confirmPasswordField>
                        </div>
                        </li>
                        <li>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="fa fa-group fa-fw"><span class="asterik-mark">&nbsp;*</span></i>
                                  </span>
                              </div>
                              <input type="text" list="teamObjList"class="form-control" placeholder="Team" [(ngModel)]="newTeamName" required #teamField>
                              <datalist id="teamObjList">
                                  <option *ngFor="let team of teamArray" value="{{team.teamName}}">
                                </datalist>
                          </div>
                          </li>
                        </ul>
                     
                        <input class="btn btn-primary" type="submit" id="submit" value="Register"  (click)="registerUser();">
                        <div class="view-admin"> <a  [routerLink]="['/ManageAdmin']" style="color:#AF2127;">View Admin Details</a></div>
                       
                      </div>
                     
          </div>
          </div>
          <app-footer></app-footer>