@import "styles/customStyle.css";

.download-file{
    color: #AF2127;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}
.pageControl{
    text-align: center;
    padding-top:10px;
}
.main{
    padding: 15px;
    border: 1px solid #ccd1d4;
    margin:2%;
    box-shadow: 5px 10px 5px 5px #ccd1d4;
}
.main-container{
    width: 100%; 
    height:100%;
    overflow: auto;
}
.body-container{
    position:absolute; 
    top:70px; 
    bottom:5%; 
    left:0px; 
    right:0px; 
    overflow:auto;
}
.attendee-list{
    overflow-y: auto;
    height:30vh;
}
.margin-left-5px{
    margin-left: 5px;
  }
.view-attendee-icon
{
    cursor: pointer; 
    color: #AF2127;
}
.padding-top-10
{
    padding-top:10px;
}
.padding-top-5
{
    padding-top:5px;
}
.month-range{
    color: #AF2127; 
    font-weight: bold;
}