@import "styles/customStyle.css";

.download-file{
    color: #f7a21b;
    font-size: 18px;
    cursor: pointer;
}
.download-recording{
    color: #3277d3;
    font-size: 20px;
    cursor: pointer;
}

