<div class="top">
    <div class="col-md-12 header" style="text-align: center;">
        <h3>Past Meeting</h3>
    </div>
</div>

<div class="main">
        <div class="row">
                <div class="col-md-9"><h4 class="under">Past Meetings Details</h4>     </div>       
                   <div class="align-center" class="col-md-3">
                       <div class="btn btn-sec remove-border"><span class="span-dec">Filter By:&nbsp;</span>
                       <a style="padding-right:10px; cursor: pointer;">Day</a>
                       <a class="date-period-select">Month</a>
                       <a class="date-period-select">Year</a>
                       </div>
                       <div class="form-group input-group"style="padding-top:5px;">
                         <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchText">
                         <div class="input-group-append">
                             <button class="btn btn-secondary" type="button">
                                 <i class="fa fa-search"></i>
                             </button>
                         </div>
                     </div>
                   </div>
               </div>
    <table>
        <tr>
            <th>Sr. No</th>
            <th>Date</th>
            <th>Meeting Id</th>
            <th>Subject</th>
            <th>Attendees</th>
            <th>Status</th>
            <th>MOM</th>
            <th>Recording</th>
        </tr>
        <tr *ngFor="let meeting of pastMeetingList | genericSearchAllProp:searchText | paginate: config ;let srNo = index">
            <td>{{srNo+1}}</td>
            <td>{{meeting.meetingDate}}</td>
            <td>{{meeting.meetingCode}}</td>
            <td>{{meeting.subject}}</td>
            <td>{{meeting.attendee}}</td>
            <td>{{meeting.status.status}}</td>
            <td>
                <i (click)="downloadMom(meeting.meetingCode)" class="fa fa-file-text-o download-file"></i>
            </td>
            <td>
                <i (click)="downloadFile()" class="fa fa-file-audio-o download-file" aria-hidden="true"></i>
            </td>
        </tr>
    </table>
    <div class="pageControl">
        <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [responsive]="responsive"
            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>