<div>
  <div style="text-align: center;box-shadow: -5px 5px 5px #e4dadb;">
      <img src="assets/images/logo.png"  class="logo-img" width="260px" height="40px" />
  </div>
  <div class="content">
        <h5 class="steps"><i class="fa fa-list" aria-hidden="true"></i> Steps to record the meeting and download meeting recording video on your PC.</h5>
        <ol id="number" style="list-style: none;">
          <h6 style="text-decoration-line: underline;font-size:16px;color:#741eaa;margin:20px 0px 10px 0px;font-weight: bold;padding-bottom:15px;">Steps to record the meeting</h6>
          <li>To Record the meeting click on Start Recording <img src="assets/images/record_icon.png" width="18px" height="18px" style="margin:3px;border: none;"/> button, it will show a pop up of <b>Share your screen</b> as shown in below screen. </li>
            <img src="assets/images/recordscreen-1.png" width="800px" height="400px" /> 
          <li>On click of <b>Share</b> button of share your screen pop up, your recording gets started and it shows the recording timer over the RecordRTC icon as shown in below screen.</li>
            <img src="assets/images/recordscreen-2.png" width="800px" height="400px" />
          <li>To stop the recording click on Stop Recording <img src="assets/images/stop_recording.png" width="18px" height="18px" style="margin:3px;border: none;"/> button.</li>
        </ol>
        <ol id="number" style="list-style: none;">
          <h6 style="text-decoration-line: underline;font-size:16px;color:#741eaa;margin:20px 0px 10px 0px;font-weight: bold;padding-bottom:15px;">Steps to download the meeting recording video.</h6>
            <li >Click on RecordRTC <img src="assets/images/record_rtc_icon.png" width="18px" height="18px" style="margin:3px;border: none;"/>  icon and click <b>See All Recordings</b> as shown in the below screen.</li> 
              <img src="assets/images/recordscreen-3.png" width="800px" height="400px" /> 

            <li>On click of <b>See All Recordings</b>, below screen gets opened. Here you can see your latest recorded video (Meeting recording) file.</li>
              <img src="assets/images/recordscreen-4.png" width="800px" height="400px"/> 

            <li>To view the list of all the meeting recordings, click on <b>Menu</b><i class="fa fa-bars" aria-hidden="true" style="margin:5px;"></i> icon. The list as shown in the below screen, shows all the meeting recording files that have been recorded after adding the RecordRTC chrome plugin. The name of the meeting recording file contains the date of recording.</li>
              <img src="assets/images/recordscreen-5.png" width="800px" height="400px" /> 

            <li>To <b>Edit</b>  the name of the meeting recording file, click on edit <i class="fa fa-pencil" aria-hidden="true" style="margin:5px;"></i> icon, it will show a pop up as shown in the below screen. In the pop up, edit the name of the file and click on OK button, your file name gets edited. </li> 
               <img src="assets/images/recordscreen-6.png" width="800px" height="400px" /> 

            <li>To <b>Delete</b> the recording, click on delete <img src="assets/images/delete_icon.png" width="18px" height="17px" style="margin:3px;border: none;"/> icon. On click of delete icon, it will show a pop up as shown in the below screen. Click on OK button of the pop up to delete the recording permanently. </li>
              <img src="assets/images/recordscreen-7.png" width="800px" height="400px"/>

            <li>To download the recording, click on <b>More</b> <img src="assets/images/more_icon.png" width="18px" height="18px" style="margin:3px;border: none;"/> icon and click on <b> Download </b> of the recorded video as shown in the below screen OR click on the link <b>here</b> of "click here to download". </li>
              <img src="assets/images/recordscreen-8.png" width="800px" height="400px"/> 

            <li style="padding-top: 20px;background-color: #eeedee;">You can upload the recording by clicking on upload <img src="assets/images/upload_icon.png" width="18px" height="18px"style="margin:3px;border:none;"/> icon. On click of upload button, it will provide option as shown in below screen.
              <ol id="number1" style="list-style: none;">
              <!-- <li style="padding-top:5px;"><b>Upload to Private Server</b>: You can upload the recorded file on a private server.</li> -->
              <li style="padding-top:2px;"><b>Upload to YouTube</b>: You can upload the recorded file on YouTube. </li></ol>
            </li>
            <img src="assets/images/recordscreen-9.png" width="800px" height="400px" />
            
          </ol>
          </div>
</div>












