<div>
  <div  style="background-color: #efefef;text-align: center;">
      <img src="assets/images/color-logo1.png"  class="logo-img"width="300px" height="60px" />
  </div>
  <div class="colorgraph"></div>
  <div class="content">
     
        <h5 style="margin-left: 20px;font-weight: bold;"><i class="fa fa-list" aria-hidden="true"></i> Steps to save recorded videos on your browser. Attach screenshots and do makeup of this page!!</h5>
        <ol id="number" style="list-style: none;">
            <li style="padding-top: 20px;background-color: #e4eff0;">Click on Record RTC <img src="assets/images/record_rtc_icon.png" width="18px" height="18px" style="margin:3px;border: none;"/>  icon as shown in the below screen.</li> 
              <img src="assets/images/see_rec1.png" width="800px" height="400px" /> 

            <li style="padding-top: 20px;background-color: #e4eff0;">Click on <b>See All Recordings</b>, it will open the page as shown in the below screen.Here you can see your latest recored video(Meeting recording) files.</li>
              <img src="assets/images/record_screen1.png" width="800px" height="420px"/> 

            <li style="padding-top: 20px;background-color: #e4eff0;">Click on <b>Menu </b><i class="fa fa-bars" aria-hidden="true" style="margin:5px;"></i> button,to see the list of recordings(your recorded files).The list as shown in the below image, shows all the recorded files along with the date of recording. </li>
              <img src="assets/images/edit_rec1.png" width="800px" height="400px" /> 

            <li style="padding-top: 20px;background-color: #e4eff0;">To <b>Edit</b>  the name of the recording,click on edit <i class="fa fa-pencil" aria-hidden="true" style="margin:5px;"></i> icon.On click of edit button,it will show a pop up as shown in the below screen.In the pop up, edit the name of the file and click on ok button,your file name gets edited. </li> 
               <img src="assets/images/edit_rec.png" width="800px" height="400px" /> 

            <li style="padding-top: 20px;background-color: #e4eff0;">To <b>Delete</b> the recording,click on delete icon.On click of delete <img src="assets/images/delete_icon.png" width="18px" height="17px" style="margin:3px;border: none;"/>  icon,it will show a pop up as shown in the below screen.Click on ok button of the pop up to delete the recording permanently. </li>
              <img src="assets/images/delete_rec.png" width="800px" height="400px"/>

            <li style="padding-top: 20px;background-color: #e4eff0;">To download the recording,click on <b>More</b> icon of the recording video as shown in the below screen <b>OR</b>  click on link here of "click here to download". </li>
              <img src="assets/images/download_rec.png" width="800px" height="400px"/> 

            <li style="padding-top: 20px;background-color: #e4eff0;">You can upload the recording by clicking on upload <img src="assets/images/upload_icon.png" width="18px" height="18px"style="margin:3px;border:none;"/> icon.On click of upload button,it will provide two options as shown in below image.
              <ol id="number1" style="list-style: none;">
              <li><b>Upload to Private Server</b>: You can upload the recored file on private server</li>
              <li><b>Upload to YouTube</b>:You can upload the recored file on YouTube. </li></ol>
            </li>
   
            <img src="assets/images/upload_rec.png" width="800px" height="400px" />
            
          </ol>
          </div>

</div>












