.cfsfooter{
    background-size: cover;
    background-color: #F0F0F0;
    background-repeat: no-repeat;
    /*set position of div*/
    position:fixed;
    bottom:0;
    left: 0;
    right:0;
    margin:0 auto;
    width:auto;
    text-align: center;
    height:auto;
    color:#111;
    padding-top: 5px;
    padding-bottom: 5px; 
    }

.setLogo{
height:28px;
width:138px;
 margin:10px; 
}