<div class="card card-default">
    <div class="row" style="margin:0px;">
        <div class="col-md-8 card-header" id="timeline-icon">
            {{loggedInUser.name}} {{loggedInUser.lastName}}&nbsp;
            <a id="view-profile" (click)="open(loggedInUser)" (Button1Event)="updateProfile($event)">(View Full Profile)</a>
        </div>
        <app-custom-modal #inviteAttendeesModal [model]="InviteAttendees"></app-custom-modal>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-video-camera" [routerLink]="['/videoCall']"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="col-md-1 card-header">
            <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
        </div>
    </div>
    <div class="card-body">
        <section class="experiment">
            <section>
                <h2 style="border: 0; padding-left: .5em;">Wanna try yourself?</h2>
                <input type="text" id="meeting-name">
                <button id="setup-meeting">Setup New Meeting</button>
            </section>

            <table style="width: 100%;" id="meetings-list"></table>
            <table style="width: 100%;">
                <tr>
                    <td>
                        <h2 style="display: block; font-size: 1em; text-align: center;">You!</h2>
                        <div id="local-streams-container"></div>
                    </td>
                    <td style="background: white;">
                        <h2 style="display: block; font-size: 1em; text-align: center;">Remote Peers</h2>
                        <div id="remote-streams-container"></div>
                    </td>
                </tr>
            </table>
            <table style="width: 100%;" id="meetingChat"></table>
            <div class="input-group">
                <textarea class="form-control send-box" placeholder="Type message here" id="textInput">
                        </textarea>
                <div class="input-group-append">
                    <a class="btn" id="sendText">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </a>
                    <a class="btn" id="sendFile">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </section>

    </div>
</div>
<div class="input-group">
    <textarea class="form-control send-box" placeholder="Type message here">
            </textarea>
    <div class="input-group-append">
        <a class="btn">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
        <a class="btn">
            <i class="fa fa-file" aria-hidden="true"></i>
        </a>
    </div>
</div>
