<div class="card card-default">
    <div class="row" style="margin:0px;">
        <div class="col-md-8 card-header" id="timeline-icon">
            {{loggedInUser.name}} {{loggedInUser.lastName}}&nbsp;
            <a id="view-profile">(View Full Profile)</a>
        </div>
        <!-- <app-custom-modal #inviteAttendeesModal [model]="InviteAttendees"></app-custom-modal> -->
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-video-camera" [routerLink]="['/videoCall']"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-md-1 card-header" id="timeline-icon">
            <i class="fa fa-desktop"></i>
        </div>
        <div class="col-md-1 card-header" id="cancelCall">
            <i class="fa fa-times" [routerLink]="['/dashboard']"></i>
        </div>
    </div>
    <div class="card-body">
        <section class="experiment">
            <section style="display:none;">
                <h2 style="border: 0; padding-left: .5em;">Wanna try yourself?</h2>
                <!-- <input type="text" id="meeting-name"> -->
                <button id="setup-meeting">Setup New Meeting</button>
            </section>

            <table style="width: 100%;" id="meetings-list"></table>
            <div style="width: 100%;">
                <div>
                    <div>
                        <!-- <h2 style="display: block; font-size: 1em; text-align: center;">You!</h2> -->
                        <div id="local-streams-container" class="localvideo"></div>
                    </div>
                    <div style="background: white;">
                        <!-- <h2 style="display: block; font-size: 1em; text-align: center;">Remote Peers</h2> -->
                        <div id="videos-container"></div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<div class="input-group">
    <textarea class="form-control send-box" placeholder="Type message here" id="textInput">
    </textarea>
    <div class="input-group-append">
        <a class="btn" id="sendText">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
        <a class="btn" id="sendFile">
            <i class="fa fa-file" aria-hidden="true"></i>
        </a>
    </div>
</div>
