<div class="card card-default">
    <app-selected-user-header [SelectedUser]="selectedUser"></app-selected-user-header>
    <div class="card-body">
        <section class="experiment">
            <section style="display:none;">
                <h2 style="border: 0; padding-left: .5em;">Wanna try yourself?</h2>
                <input type="text" id="room-id">
                <button id="open-room">Setup New Meeting</button>
                <button id="join-room">join room</button>
            </section>

            <table style="width: 100%;" id="room-urls"></table>
            <div style="width: 100%;">
                <div>
                    <div>
                        <!-- <h2 style="display: block; font-size: 1em; text-align: center;">You!</h2> -->
                        <div id="local-streams-container" class="localvideo"></div>
                    </div>
                    <div style="background: white;">
                        <!-- <h2 style="display: block; font-size: 1em; text-align: center;">Remote Peers</h2> -->
                        <div id="videos-container"></div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<div class="input-group">
    <textarea class="form-control send-box" placeholder="Type message here" id="input-text-chat">
    </textarea>
    <div class="input-group-append">
        <a class="btn" id="alternate-send-chat">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </a>
        <a class="btn" id="sendFile">
            <i class="fa fa-file" aria-hidden="true"></i>
        </a>
    </div>
</div>
