@import "styles/customStyle.css";
.card-body {
    font-weight: 630;
    height: 91.8vh;
    flex: 1 1 auto;
    overflow-y: hidden;
    background-color: #fff;
    background-size: cover;
    padding: 0.3rem 0 2.0rem 1rem;
    overflow-x: hidden;
}

.searched-title{
    color: white;
}

.member-list{
    height:100%;  
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50%; 
    padding-left:7px;
    background-color:#f6f6f6;
}
.circleOffline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: transparent;
    float: right;
    margin-top: 2%;
}
.circleOnline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    float: right;
    background:#05c305;
    margin-top: 2%;
}
.form-control {
    border-radius: 5px 0px 0px 5px;
}

.add-member{
    color: #ffffff; 
    padding-left: 10px;
     padding-top: 12px; cursor: pointer;
}
 .btn-search{
    background-color: #4b6584;
    border: 2px solid #4b6584;
    font-weight: 600;
    color:#fff;
 }

 .btn-search:hover{
  color: #416590;
  border: 2px solid #4b6584;
  background-color: #fff;
}

 .list-item-padding{
    padding-left: 1%;
    padding-right: 1%;
    background-color: #f6f6f6;
    border-bottom:1px solid #f8c8cb;
 }

.team-member{
    color: #131313;
    font-weight: bold;
    padding-left: 3.5%; 
    padding-top: 2px;
}

.tBox{  
    background-position:right;   
    background-repeat:no-repeat;   
    border-radius: 5px;
    margin: 0 3% 0 3%;
    }
     .username-password{
        width:90%;
        margin-bottom: 1%;
        height:40px;
      }

      .first-letter {
        display:inline-block;
        font-size:1em;
        width:2.5em;
        height:2.5em;
        line-height:2.5em;
        text-align:center;
        border-radius:50%;
        background-color: #AF2127;
        vertical-align:middle;
        margin-right:1em;
        color:white;
        }

        .notification-div{
        background-color: #eeedee;
        padding: 15px 15px 2px 15px;
        margin: 0.3rem;
        border-radius: 3px;
        }
        .serarch-in-all-member{
        text-align: center; 
        padding-bottom: 15px;
        }

        .user-list{
            background-color:#ffffff;
            margin-bottom: 5px;
            border-radius:3px;
        }
        .user-list:hover{
            background-color:#d5f2fd;
        }
          .selected-criteria-div{
            background-color: #eeedee;
        }
          .group-criteria-div {
            background-color: #eeedee;
          }
          .group-criteria {
            color:#AF2127;
            margin-left: 3%;
            font-weight: bold;
            padding-top: 2%;
          }
         
          .selected-criteria{
              margin-left: 3%;
              color: #AF2127;
              font-weight: bold;
              padding-top: 2%;
          }

          .close-list{
            font-size:20px;
            float:right;
            color: #AF2127;
          }
          ::-webkit-scrollbar-thumb {
            height: 200px;
        }

          