<div class="card-body">

<div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
    <div class="list-group">
        <!-- <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="float-right text-muted small"><em>12 minutes ago</em></span>
        </a> -->
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-user-circle fa-2x"></i><div class="circle"></div>
            <span style="padding-left: 1rem;">Batman</span>
        </a>

        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-user-circle fa-2x"></i><div class="circle"></div>
            <span style="padding-left: 1rem;">Superman</span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-user-circle fa-2x"></i><div class="circle"></div>
            <span style="padding-left: 1rem;">Wonder woman</span>
        </a>
        <a href="#" class="list-group-item clearfix d-block">
            <i class="fa fa-user-circle fa-2x"></i><div class="circle"></div>
            <span style="padding-left: 1rem;">Aquaman</span>
        </a>
    </div>
    <!-- /.list-group -->
</div>
