@import "styles/customStyle.css";
.card-body {
    // background: linear-gradient(to left, #3283b9 32%, #115c7d 100%);
    // border: 1px solid #be181e;
    // color: #be181e;
    // background-color: #eaeaea;
    font-weight: bold;
    height: 93vh;
    flex: 1 1 auto;
    overflow-y: hidden;
    background-image: url(/assets/images/Coreflex-solutions-popup.jpg);
    background-size: cover;
}

.searched-list{
    text-align: center; 
    background-color: #fecf71; 
   // background-image: linear-gradient(to right,#fd7a2a,orange);
  //  color: white;    
    margin-right: -1.25rem;
    margin-left:-5px;
}

.searched-title{
    padding:5px;
}

.member-list{
    height:100%;  
    overflow-y: auto;
    padding-bottom: 20%; 
}
.circleMeetingJoin {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    // background: #7EE203;
    background: #f9a159;
    float: left;
    left: 35px;
    top: -5px;
}
.circleMeetingNotJoinOnline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    // background: #7EE203;
    background: #e2d041;

    float: left;
    left: 35px;
    top: -5px;
}
.circleOffline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    // background: #a5a7a8;
    background: transparent;
    float: left;
    left: 35px;
    top: -5px;
}
.circleOnline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    // background: rgb(118, 201, 18);
    float: left;
    left: 35px;
    top: -5px;
    background:#00ff00;
}
.circleOfflineMem {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #57c4d8;
    float: left;
    left: 35px;
    top: -5px;
}
.btn.btn-secondary {
    background:  #353535;
    /* color:  #353535; */
    border-color:  #353535;
    border-radius: 0px 5px 5px 0px;
}

.form-control {
    border-radius: 5px 0px 0px 5px;
}

.list-group-partition {
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
}
.hr-partition{
    border-top: 2px solid #fff;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 25px;
    margin-left: -5px;
}
.hr-partition1{
    // border-top: 2px solid #fff;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 25px;
    margin-left: -5px;
}
.add-member{
    color: #ffffff; padding-left: 10px; padding-top: 12px; cursor: pointer;
}
.list-group-item span,a{
    //color: #212529;
    color:#fff;
}
 .btn-sec:hover{
    background-color:#bc151b;
    color:white;
 }
 .btn-search{
    background-color: #fecf71;
    border-color: #fecf71;
    color:black;
 }