<app-spinner #notificationSpinner></app-spinner>
<div class="card-body" >
        <h5 class="searched-title" class="team-member"><b>Filter Members</b></h5>
<div class="notification-div">
    <div class="form-group input-group" style="padding-top:10px;">
        <input class="tBox username-password form-control" placeholder="&#xF002;  Search" (keyup)="onKey($event)"
        style="font-family:Arial, FontAwesome" [(ngModel)]="searchAllText">
    </div>
    <div class="serarch-in-all-member">
        <button class="btn btn-search"(click)="searchInWholeMemberList()">Search in all members</button>
        <!-- Try to search in whole memberlist -->
    </div>  
    <div *ngIf="viewAllMemFl" style="background-color: #ffffff;">
        <div class="row" style="padding: 0px;margin:0px;">
        <div class="col-md-8">
        <div style="color: #bd081c;padding:3.5%;"><h5 class="searched-title" class="team-member" ><b>All Members List</b></h5></div>
    </div>
    <div class="col-md-4" style="padding-top:2.5%;">
       <i class="fa fa-window-close close-list" aria-hidden="true" (click)="closeWholeMemList()"></i>
    </div>
 </div>
        <div style="overflow-y: scroll;height: 70vh;overflow-x: hidden;"> 
        <div class="row list-item-padding" *ngFor="let user of searchWholeMemberList | genericSearchAllProp : searchAllText" >
            <a class="col-md-10 list-group-item clearfix d-block">
            <span style="padding-left: 1rem; color:#000;">{{user.firstName}}&nbsp;{{user.lastName}}&nbsp;({{user.team.teamName}})</span>
            </a>
            <i class="fa fa-lg fa-plus-circle add-member col-md-2" title="Add Member" data-toggle="tooltip" style="padding-top: 22px; color: #0aa396; cursor: pointer;"
            (click)="addNewMembersInList(user)"></i> 
        </div>
    </div>  
    </div>
</div>   
    <div><h5 class="searched-title" class="team-member" ><b>Team Members</b></h5></div>
    <div class="member-list" style="background-color: #ffffff;border-top: 1px  solid #F9E0FF;border-width:80%;">
        <div>
            <div class="selected-criteria-div">
                <h4 class="selected-criteria">Total Members ({{userList.length}})</h4>             
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <div class="form-group input-group">
                            <input class="tBox username-password form-control" placeholder="&#xF002;  Search" style="font-family:Arial, FontAwesome" [(ngModel)]="searchMemText" >
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
        <div style="margin-bottom: 2%; background-color: #fff1f2; padding: 7px;">
            <div class="user-list" *ngFor="let user of userList | genericSearchAllProp : searchMemText">
                <a style="color: gray;" href="#" [routerLink]="['chat']" (click)="viewMemeberDetails(user)"
                    class="list-group-item clearfix d-block" id='{{user.firstName+" "+ user.lastName}}' style="padding-left:1.25rem;">
                    <span class="first-letter"> {{user.firstLetter}}</span>
                      <div [ngClass]=" {'circleOnline': user.onlineStatus!=null && user.onlineStatus === '1', 'circleOffline' : user.onlineStatus !=null || user.onlineStatus != '1'}"></div>
                    <span style="padding-left: 1rem; color:#000;">{{user.firstName}}&nbsp;{{user.lastName}}&nbsp;({{user.team.teamName}})
                    </span>
                </a>
            </div>
        </div>
        <div><h5 class="searched-title" class="team-member"><b>Groups</b></h5></div>
        <div>
            <div class="group-criteria-div">
                <h4 class="group-criteria">Total Group ({{groupList.length}})</h4>             
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <div class="form-group input-group">
                            <input class="tBox username-password form-control" placeholder="&#xF002;  Search" style="font-family:Arial, FontAwesome" [(ngModel)]="searchGroupText" >
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
            <div style="background-color: #fff1f2;padding: 7px;">
                    <a *ngFor="let group of groupList | genericSearchAllProp : searchGroupText" href="#" [routerLink]="['chat']"
                    style="background-color:#ffffff;margin-bottom: 5px;border-radius:3px; color: gray;"
                    (click)="viewGroupDetails(group.groupId)" class="list-group-item clearfix d-block">
                    <img src="/assets/images/group.png" style="width: 30px; height: 30px;"/>
                    <span style="padding-left: 1rem; color:#000;">{{group.groupId.groupName}}&nbsp;</span>
                </a>
            </div>
    </div>
</div>

