@import "styles/customStyle.css";
.card-body {
    font-weight: bold;
    height: 91.8vh;
    flex: 1 1 auto;
    overflow-y: hidden;
    background-color: #fff;
    background-size: cover;
    padding: 0.3rem 0 2.0rem 1rem;
    overflow-x: hidden;
}

.searched-list{
    text-align: center; 
    background-color: #05588f; 
    margin-right: -1.25rem;
    margin-left:-5px;
}

.searched-title{
    //padding:5px;
    color: white;
}

.member-list{
    height:100%;  
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 50%; 
    padding-left:7px;
    background-color:#fff1f2;
}
.circleOffline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: transparent;
    float: right;
    margin-top: 2%;
}
.circleOnline {
    position: relative;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    float: right;
    background:#05c305;
    margin-top: 2%;
}
.form-control {
    border-radius: 5px 0px 0px 5px;
}

.list-group-partition {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 0px;
}
.add-member{
    color: #ffffff; 
    padding-left: 10px;
     padding-top: 12px; cursor: pointer;
}
 .btn-search{
    background-color: #01baac;
    border-color: #01baac;
    color:white;
    font-weight: bold;
 }
 .list-item-padding{
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fff1f2;
    border-bottom:1px solid #f8c8cb;
 }
::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
.team-member{
    color: #02736a;
    font-weight: bold;
    padding-left: 3.5%; 
    padding-top: 2px;
}

.tBox{  
    background-position:right;   
    background-repeat:no-repeat;   
    border-radius: 5px;
    margin: 0 3% 0 3%;
    }

    ::-webkit-input-placeholder {
        text-align: left;
        padding-left: 2%;
     }
     
     :-moz-placeholder {
        text-align: left;
        padding-left: 2%; 
     }
     
     ::-moz-placeholder {
        text-align: left;  
        padding-left: 2%;
     }
     
     :-ms-input-placeholder {  
        text-align: left; 
        padding-left: 2%;
     }

     .username-password{
        width:90%;
        margin-bottom: 1%;
        height:40px;
      }

      .first-letter {
        display:inline-block;
        font-size:1em;
        width:2.5em;
        height:2.5em;
        line-height:2.5em;
        text-align:center;
        border-radius:50%;
        background-color: #f26359;
        vertical-align:middle;
        margin-right:1em;
        color:white;
        }

        .notification-div{
        background-color: #f9e0e2;
        padding: 15px 15px 2px 15px;
        margin: 0.3rem;
        border-radius: 3px;
        }
        .serarch-in-all-member{
        text-align: center; 
        padding-bottom: 15px;
        }

        .user-list{
            background-color:#ffffff;
            margin-bottom: 5px;
            border-radius:3px;
        }
        .user-list:hover{
            background-color:#d5f2fd;
        }
          .selected-criteria-div{
            background-color: #f9e0e2;
        }
          .group-criteria-div {
            background-color: #f9e0e2;
          }
          .group-criteria {
            color:#bd081c;
            margin-left: 3%;
            font-weight: bold;
            padding-top: 2%;
          }
         
          .selected-criteria{
              margin-left: 3%;
              color: #bd081c;
              font-weight: bold;
              padding-top: 2%;
          }

          .close-list{
            font-size:20px;
            float:right;
            color: #bd081c;
          }

          