<div class="container">
<div class="row">
<div class="col-md-2"><label>Group Name</label></div>
<div class="col-md-10"><input type="text" placeholder="Group Name"/></div>
</div>
<diV class="row">
    <div class="col-md-2">
        <label>Add Member</label>
    </div>
    <div>
    <input list="pasta">
    <datalist id="pasta">
    <option>Bavette</option>
    <option>Cannelloni</option>
    <option>Fiorentine</option>
    <option>Gnocchi</option>
    <option>Pappardelle</option>
    <option>Penne lisce</option>
    <option>Pici</option>
    <option>Rigatoni</option>
    <option>Spaghetti</option>
    <option>Tagliatelle</option>
    </datalist>
</div>
</diV>
<div><a class="btn btn-primary">Create GRoup</a></div>
</div>
