<app-spinner #manageAdminSpinner></app-spinner>
<div class="top">
  <div class="col-md-12 header">
        <div class="row">
          <h3 class="page-title">Manage Admin</h3>
          <a [routerLink]="['/dashboard/default']" style="position: absolute;right:2%;">
              <i class="fa fa-3x fa-home home-icon" aria-hidden="true" title="Dashboard" data-toggle="tooltip"></i>
          </a>
        </div>
  </div>
</div>
<div class="main">
  <div class="row">
      <div class="col-md-9">
        <h3>Admin Details</h3>
        <a  [routerLink]="['/RegisterAdmin']" class="btn btn-search" style="margin-bottom: 10px;"><i class="fa fa-user-plus"></i></a>
      </div>
       <div class="align-center" class="col-md-3" >
          
           <div class="form-group input-group"style="padding-top:5px;">
             <input class="tBox username-password form-control" placeholder="&#xF002;  Name/Email/Status" style="font-family:Arial, FontAwesome" [(ngModel)]="searchText" >
         </div>
       </div>
   </div>
  <table>
    <tr>
      <th>Sr. No</th>
      <th>Full Name</th>
      <th>UserName</th>
      <th>Email</th>
      <th>Team</th>
      <th>UserCode</th>
      <th>Status</th>
      <th>Meeting Permission</th>
      <th>Edit</th>
      <th>Inactive</th>
    </tr>
     <tr *ngFor="let admin of allAdminList | genericSearchAllProp:searchText |  paginate: config ;let srNo = index">
          <td> {{ config.itemsPerPage * (config.currentPage - 1) + srNo + 1 }}</td>
          <td>{{admin.firstName}} {{admin.lastName}}</td>
          <td>{{admin.name}}</td>
          <td>{{admin.email}}</td>
          <td>{{admin.team.teamName}}</td>
          <td>{{admin.userCode}}</td>
          <td>{{admin.status.status}}</td>
          <td><i class="fa fa-check" aria-hidden="true" style="color: rgb(4, 165, 4);" *ngIf="admin.meetingPermissionStatus.status === 'ACTIVE'"></i>
            <i class="fa fa-times" aria-hidden="true" style="color: red" *ngIf="admin.meetingPermissionStatus.status === 'INACTIVE'"></i></td>
          <td><i class="fa fa-pencil-square-o edit-icon" (click)="editAdmin(admin);"></i></td>
          <td><i class="fa fa-trash-o delete-icon" (click)="deleteAdmin(admin);" ></i></td>
    </tr>
  </table>
  <app-custom-modal #deleteMemberModal [model]="deleteAdminPop" (CancelEvent)="closeDeletePopup(2)">
    <div class="modal-body row-label">
       <label>Are you sure you want to inactive this admin?</label>
    </div>
    <div class="modal-footer popFooter">
        <button type="button" class="btn btn-primary" (click)="deleteAdminNow()">Inactive</button>
        <button type="button" class="btn btn-danger" (click)="deleteMemberModal.close()">Close</button>
    </div>
</app-custom-modal>
<app-custom-modal #editMemberModal [model]="editAdminPop" (CancelEvent)="closeEditPopup()">
  <div class="modal-body row-label">
          <div class="row form-group">
                  <label class="member-field-name">First Name</label>
                  <input placeholder="FirstName" class="form-control member-field-value"  type="text" [(ngModel)]="updatedFirstName" #updatedFirstNameField />
          </div>
          <div class="row form-group">   
                  <label class="member-field-name">Last Name</label>
                  <input placeholder="LastName" class="form-control member-field-value" type="text"  [(ngModel)]="updatedLastName" #updatedLastNameField/>
          </div>
          <div class="row form-group">
                  <label class="member-field-name">Email</label>
                  <input placeholder="Email" class="form-control member-field-value" type="text" [(ngModel)]="updatedEmail"  #updatedEmailField/>
          </div>
          <div class="row form-group">
                  <label class="member-field-name">Team</label>
                  <input type="text" list="teamObjList"class="form-control member-field-value" placeholder="Team" [(ngModel)]="selectedDefaultTeam" required #teamField readonly>
                  <datalist id="teamObjList">
                      <option *ngFor="let team of teamArray" value="{{team.teamName}}">
                  </datalist>
          </div>
          <div class="row form-group">
                  <label class="member-field-name">Status</label>
                  <input type="checkbox" style="width: 5%; margin-top: 4%;" id="statusChk" [(ngModel)]="updatedUserStaus">
                  <p id="text" style="display:none" class="member-field-value">Checkbox is CHECKED!</p>
          </div>
          <div class="row form-group">
                <label class="member-field-name">Meeting Permission</label>
                <input type="checkbox" style="width: 5%; margin-top: 4%;" id="updatedSeetingStatusChk" [(ngModel)]="updatedMeetingPermissionStatus">
                <p id="updatedMeetingText" style="display:none" class="member-field-value">Meeting Permission Checkbox is CHECKED!
                </p>
          </div>
  </div>
  <div class="modal-footer popFooter">
      <button type="button" class="btn btn-primary" (click)="updateAdmin()">Update Admin</button>
      <button type="button" class="btn btn-danger" (click)="editMemberModal.close()">Close</button>
  </div>
</app-custom-modal>
  <div class="pageControl">
    <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [responsive]="responsive"
        [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
        (pageChange)="onPageChange($event)"></pagination-controls>
</div>
</div>
