@import "styles/customStyle.css";
.top {
    height: 92px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background: #353535;
    color: #ffffff;
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
    background-position-y: bottom;
}
.pageControl{
    text-align: center;
    padding-top:10px;
}
.main{
    padding: 15px;
    border: 1px solid #ccd1d4;
    margin:2%;
    box-shadow: 5px 10px 5px 5px #ccd1d4;
}
.btn-search{
    background-color: #fecf71;
    border-color: #fecf71;
    color:black;
 }
 .row-label{
    padding-left: 15%; 
    padding-right: 15%;
  }
  .row-label label{
   font-weight: bold;
  }
  .row-label input{
    margin: 8px;
  }
  .member-field-name{
    width: 25%; 
    padding-top: 4%; 
    padding-left: 3%;
  }
  .member-field-value{
    width: 70%;
  }