<div #chatPanel class="chat-panel card card-default">
    <div class="card-header meetingHeader">
        <div class="row">
            <div class="col-md-8">
                <i class="fa fa-calendar-check-o"></i>
                Hello, {{loggedInUser.firstName}} {{loggedInUser.lastName}}
                <h6 class="style-links">Schedule upcoming Meetings</h6>
            </div>
            <div class="col-md-2" style="border-left: 1px solid #dadadc; text-align: center;">
                <!-- <a href="javascript:void(0)" class="btn btn-sec">Meet Now</a> -->
                <i class="fa fa-caret-square-o-right cursorPointer fa-2x" aria-hidden="true" (click)="joinMeetingNow()"
                    placement="bottom" ngbTooltip="Meet Now"></i>
                <app-custom-modal #MeetNowModal [model]="meetNowModel">
                    <div style="margin-top: 20px;" *ngIf="showScheduleMeetingSuccess" class="alert alert-success alert-dismissable">
                        <strong>Success:&nbsp; </strong>
                        <span style="font-weight: bold;">Meeting has scheduled Successfully.</span>
                    </div>
                    <div style="margin-top: 20px;" *ngIf="showCopyDetailsSuccess" class="alert alert-success alert-dismissable">
                        <strong>Success: </strong> <span style="font-weight: bold;">Meeting Details has been Copied.
                            Kindly share via your preferred Mail Id.</span>
                    </div>
                    <div style="padding: 10px; font-size:14px;" class="span-font">
                        <span>Meet now: &nbsp;{{meetNowMeeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        <p style="font-weight:bold;">Date : {{meetNowMeeting.meetingStartDateTime| date:'fullDate'}}
                            for
                            <span style="font-weight: bold;">{{meetNowMeeting.duration}} </span>
                        </p>
                        <p style="padding-top: 20px;"> Please join my meeting from your computer , tablet or smartphone
                            <span style="text-decoration :underline;  font-weight: bold; padding-top:10px;">
                                <!-- http://localhost:4200/#/meeting/audio?meetingCode={{accessCode}}</span> -->
                                https://cfscommunicator.com/#/meeting/audio?meetingCode={{meetNowMeeting.meetingCode}}</span>

                        </p>
                        <h5 style="margin-top: 40px;">Access Code :
                            <span>{{meetNowMeeting.meetingCode}}</span>
                        </h5>
                    </div>
                    <div class="modal-footer popFooter">
                        <button type="button" class="btn btn-secondary btn-border-radius" (click)="copyToOutLook($event)">Go
                            to Outlook</button>
                        <button type="button" class="btn btn-secondary btn-border-radius" (click)="copyToClipboard()">Copy</button>
                        <button type="button" class="btn btn-secondary  btn-border-radius" (click)="startMeeting(meetNowMeeting,true)">Start
                            Meeting</button>
                    </div>

                </app-custom-modal>
            </div>
            <div class="col-md-2" style="border-left: 1px solid #dadadc;text-align: center;">
                <i class="fa fa-calendar cursorPointer fa-2x" aria-hidden="true" (click)="switchRoute()" placement="bottom"
                    ngbTooltip="schedule Meeting"></i>
                <!-- <a href="javascript:void(0)"  class="btn btn-sec pull-right" type="button" title="schedule meeting"></a> -->
            </div>
        </div>
    </div>
    <div class="card-header row defaultMeetSelect" *ngIf="selectDateFlag === true">
        <div class="align-center hand-pointer">
            <a style="padding-right:10px; cursor: pointer;" (click)="filterMeetingByDate('all')">All</a>
            <a class="date-period-select" (click)="filterMeetingByDate('today')">Today</a>
            <a class="date-period-select" (click)="filterMeetingByDate('tomorrow')">Tomorrow</a>
            <!-- <a (click)="meetingByDate()" class="date-period-select">Select Date</a> -->
        </div>
    </div>
    <ul class="accordion">
        <li class="accordion-item">
            <input id="s1" class="hide" type="checkbox">
            <label for="s1" class="accordion-label" (click)="selectMeetingFilterDate()">
                <i class="fa fa-calendar-check-o"></i>&nbsp;Select Date
                <span style="float: right; font-size: 20px;">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </label>
            <ul class="accordion-child">
                <div class="row overall-padding">
                    <div class="col-sm-6">
                        <label>From Date</label>
                        <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{currentDate | date:'yyy/MM/dd'}}" name="fromDate"
                                [(ngModel)]="selectedfromDate" value="{{currentDate |  date:'yyy/MM/dd'}}" ngbDatepicker
                                #fromDate="ngbDatepicker">
                            <button class="input-group-addon" (click)="fromDate.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>To Date</label>
                        <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{currentDate | date:'yyy/MM/dd'}}" name="toDate"
                                [(ngModel)]="selectedtoDate" value="{{currentDate |  date:'yyy/MM/dd'}}" ngbDatepicker
                                #toDate="ngbDatepicker">
                            <button class="input-group-addon" (click)="toDate.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>
                    <div style="text-align: center;margin:0 auto;padding: 10px;">
                        <button class="btn btn-primary" (click)="filterMeetingByDate('range')">Search</button>
                        <button class="btn btn-primary" (click)="filterMeetingByDate('clear')">Clear</button>
                    </div>
                </div>
            </ul>
        </li>

    </ul>
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-calendar"></i>
                <span style="font-weight: bold; font-size: 14px;">{{currentDate | date:'fullDate'}}</span>
            </div>
            <div class="col-md-6">
                <div class="form-group input-group">
                    <input type="text" id="searchMeeting" value="sdasd" class="form-control" placeholder="Search"
                        [(ngModel)]="searchText">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr class="hr-partition" />
            <button class="btn btn-sec remove-border" style="cursor: default;">{{selectedCriteria}}</button>
        </div>
        <div class="row">
            <div #chatBody class="card-body" style="min-height:100%;">
                <ul class="chat">
                    <!-- <li class="left clearfix">
                        <div *ngIf="recentMeeting.meetingCode!=undefined">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="fa fa-calendar"></i>
                                    <span style="font-weight: bold; font-size: 14px;">{{recentMeeting.subject}}&nbsp;({{recentMeeting.meetingCode}})
                                        <br>
                                        <i class="fa fa-clock-o"></i>&nbsp;{{recentMeeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                </div>
                                <div class="col-md-3 row">
                                    <a class="btn btn-primary" [routerLink]="['/meeting']">Now</a>
                                    <a class="btn btn-warning" [routerLink]="['/meeting']">Cancel</a>
                                    <a class="btn btn-danger" [routerLink]="['/meeting']">Delete</a>
                                </div>
                            </div>
                             <div class="col-md-12">
                                <strong class="primary-font" style="color:#3277d3;">
                                    <br> Meeting Host : {{recentMeeting.createdBy.firstName}}&nbsp;{{recentMeeting.createdBy.lastName}}
                                    <br> Meeting Start Date/time : {{recentMeeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                    <br> Meeting Duration : {{recentMeeting.duration}} Hour</strong>
                            </div>
                        </div>
                        <p *ngIf="recentMeeting!=undefined&&recentMeeting.meetingCode===undefined">
                            <strong class="primary-font">No recent meetings</strong>
                        </p>
                    </li> -->
                    <li *ngFor="let meeting of filteredFutureMeetingList | genericSearchAllProp : searchText" class="left clearfix">
                        <div class="row">
                            <div class="col-md-9">

                                <span style="font-weight: bold; font-size: 14px;">
                                    <i style="color:#3277d3;" class="fa" [ngClass]="{'fa-microphone': meeting.callType === 'Audio' ,
                                    'fa-video-camera': meeting.callType === 'Video'}"></i>&nbsp;({{meeting.meetingCode}})<br>
                                    <i class="fa fa-clock-o"></i>&nbsp;{{meeting.meetingStartDateTime |
                                    date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                            <div style="float: right" >
                                <!-- <a (click)="startMeeting()"[routerLink]="['/meeting']" [queryParams]="{meetingCode:meeting.meetingCode}" target="_blank"> -->
                                <a (click)="startMeeting(meeting,false)">
                                    <i class="fa fa-play-circle actionIcon" style="color: #3277d3;" aria-hidden="true"
                                        placement="bottom" ngbTooltip="start meeting"></i>
                                </a>
                                <a>
                                    <i class="fa fa-times-circle actionIcon" style="color: red" (click)="cancelMeeting(meeting)"
                                        placement="bottom" ngbTooltip="cancel meeting" aria-hidden="true"></i>
                                </a>
                                <app-custom-modal #confirmCancelMeetingModal [model]="cancelMeetConfirm">
                                    <div>
                                        <label style="padding: 10px; ">Are you sure you want to cancel or delete this meeting?</label>
                                    </div>
                                    <div class="modal-footer popFooter">
                                        <button type="button" class="btn btn-sec" (click)="cancelMeetingNow(meeting)">Yes</button>
                                        <button type="button" class="btn btn-cancel" (click)="closePopup('cancel')">No</button>
                                    </div>
                                </app-custom-modal>
                               
                                <app-custom-modal #startMeetNowModal [model]="startMeetNow">
                                    <div>

                                        <label style="padding: 10px; ">Press Start to meet now</label>
                                    </div>
                                    <div class="modal-footer popFooter">
                                        <button type="button" class="btn btn-sec" (click)="startMeeting(meeting,true)">Start</button>
                                    </div>
                                </app-custom-modal>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong style="color:#3277d3;">
                                <br> Subject : {{meeting.subject}}
                                <br>Duration : {{meeting.duration}}
                            </strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
