<div #chatPanel class="chat-panel card card-default">
    <div class="card-header meetingHeader">
        <div class="row">
            <div class="col-md-7">
                <i class="fa fa-calendar-check-o"></i>
                Good Morning {{loggedInUser.firstName}} {{loggedInUser.lastName}}
                <h6 class="style-links">Schedule upcoming Meetings</h6>
            </div>
            <div class="col-md-3">
                <div ngbDropdown class="d-inline-block dropdown">
                    <button class=" btn btn-meetnow" ngbDropdownToggle>Meet Now</button>
                    <div ngbDropdownMenu>
                        <button  class="dropdown-item " on-click="joinMeetingNow($event)">Join Now</button>
                        <button  class="dropdown-item " on-click="copyToClipboard()">Copy to Clipbord</button>
                        <button  class="dropdown-item " on-click="copyToOutLook()">Send Email Invitation</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="javascript:void(0)" (click)="switchRoute()" class="btn btn-sec pull-right" type="button">Schedule</a>
            </div>
        </div>
    </div>
    <div class="card-header row defaultMeetSelect" *ngIf="selectDateFlag === true">
        <div class="align-center">
            <a style="padding-right:10px; cursor: pointer;" (click)="filterMeetingByDate('all')">All</a>
            <a class="date-period-select" (click)="filterMeetingByDate('today')">Today</a>
            <a class="date-period-select" (click)="filterMeetingByDate('tomorrow')">Tomorrow</a>
            <!-- <a (click)="meetingByDate()" class="date-period-select">Select Date</a> -->
        </div>
    </div>
    <ul class="accordion">
        <li class="accordion-item">
            <input id="s1" class="hide" type="checkbox">
            <label for="s1" class="accordion-label" (click)="selectMeetingFilterDate()">
                <i class="fa fa-calendar-check-o"></i>&nbsp;Select Date
                <span style="float: right; font-size: 20px;">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </label>
            <ul class="accordion-child">
                <div class="row overall-padding">
                    <div class="col-sm-6">
                        <label>From Date</label>
                        <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{currentDate | date:'yyy/MM/dd'}}" name="fromDate" [(ngModel)]="selectedfromDate"
                                value="{{currentDate | date:'fullDate'}}" ngbDatepicker #fromDate="ngbDatepicker">
                            <button class="input-group-addon" (click)="fromDate.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>To Date</label>
                        <div class="input-group datepicker-input">
                            <input class="form-control" placeholder="{{currentDate | date:'yyy/MM/dd'}}" name="toDate" [(ngModel)]="selectedtoDate" value="{{currentDate | date:'fullDate'}}"
                                ngbDatepicker #toDate="ngbDatepicker">
                            <button class="input-group-addon" (click)="toDate.toggle()" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>
                    <div style="text-align: center;margin:0 auto;padding: 10px;">
                        <button class="btn btn-primary" (click)="filterMeetingByDate('range')">Search</button>
                        <button class="btn btn-primary" (click)="filterMeetingByDate('clear')">Clear</button>
                    </div>
                </div>
            </ul>
        </li>

    </ul>
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-calendar"></i>
                <span style="font-weight: bold; font-size: 14px;">{{currentDate | date:'fullDate'}}</span>
            </div>
            <div class="col-md-6">
                <div class="form-group input-group">
                    <input type="text" id="searchMeeting" value="sdasd" class="form-control" placeholder="Search" [(ngModel)]="searchText">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr class="hr-partition" />
        </div>
        <div class="row">
            <div #chatBody class="card-body" style="min-height:100%;">
                <ul class="chat">
                    <!-- <li class="left clearfix">
                        <div *ngIf="recentMeeting.meetingCode!=undefined">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="fa fa-calendar"></i>
                                    <span style="font-weight: bold; font-size: 14px;">{{recentMeeting.subject}}&nbsp;({{recentMeeting.meetingCode}})
                                        <br>
                                        <i class="fa fa-clock-o"></i>&nbsp;{{recentMeeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                </div>
                                <div class="col-md-3 row">
                                    <a class="btn btn-primary" [routerLink]="['/meeting']">Now</a>
                                    <a class="btn btn-warning" [routerLink]="['/meeting']">Cancel</a>
                                    <a class="btn btn-danger" [routerLink]="['/meeting']">Delete</a>
                                </div>
                            </div>
                             <div class="col-md-12">
                                <strong class="primary-font" style="color:#3277d3;">
                                    <br> Meeting Host : {{recentMeeting.createdBy.firstName}}&nbsp;{{recentMeeting.createdBy.lastName}}
                                    <br> Meeting Start Date/time : {{recentMeeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                                    <br> Meeting Duration : {{recentMeeting.duration}} Hour</strong>
                            </div> 
                        </div>
                        <p *ngIf="recentMeeting!=undefined&&recentMeeting.meetingCode===undefined">
                            <strong class="primary-font">No recent meetings</strong>
                        </p>
                    </li> -->
                    <li *ngFor="let meeting of filteredFutureMeetingList | genericSearchAllProp : searchText" class="left clearfix">
                        <div class="row">
                            <div class="col-md-8">
                               
                                <span style="font-weight: bold; font-size: 14px;">
                                        <i class="fa fa-calendar"></i>&nbsp;({{meeting.meetingCode}})<br>
                                    <i class="fa fa-clock-o"></i>&nbsp;{{meeting.meetingStartDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                            <div style="float: right" *ngIf="showActionIcon">
                                <!-- <a (click)="startMeeting()"[routerLink]="['/meeting']" [queryParams]="{meetingCode:meeting.meetingCode}" target="_blank"> -->
                                    <a (click)="startMeeting(meeting)">
                                    <i class="fa fa-play-circle actionIcon" style="color: #3277d3;" aria-hidden="true"></i>
                                </a>
                                <a>
                                    <i class="fa fa-times-circle actionIcon" style="color: rgb(255, 60, 0);" (click)="cancelMeeting(meeting)" aria-hidden="true"></i>
                                </a>
                                <a>
                                    <i class="fa fa-minus-circle actionIcon" style="color: red;" (click)="deleteMeeting(meeting)" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div *ngIf="meeting.status.status === 'CANCEL'" class="col-md-3">
                                <label style="color: red">
                                    <i class="fa fa-ban" aria-hidden="true"></i>Cancelled
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <strong style="color:#3277d3;">
                                <br> Subject : {{meeting.subject}}
                                <br>Host : {{meeting.createdBy.firstName}}&nbsp;{{meeting.createdBy.lastName}}
                                <br>Duration : {{meeting.duration}}
                                <br>End Date/Time : {{meeting.meetingEndDateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            </strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>