
    <div class="top">
        <div class="col-md-12 header" style="text-align: center;">
            <h3>Manage Team</h3>
        </div>
        <div style="float:right" class="defaultMeetSelect">
            <div class="align-center">
                <input type="text" placeholder="Search by name" />
            </div>
        </div>
    </div>

<div class="left filter-list">
    <h4>
        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Teams</h4>
    <hr>
    <ul *ngFor="let userPermission of userPermissionList">
        <li>
            <label (click)="displayTeamDetails(userPermission.teamId.teamId , userPermission.teamId.teamName)">{{userPermission.teamId.teamName}}</label>
        </li>
    </ul>
    <div style="text-align:center;">
        <button class="btn btn-primary" style="align:align-center" (click)="open()">Add New Team</button>
        <app-custom-modal #addNewTeamModal [model]="newTeam">
            <div class="modal-body">
                    <div style="margin-top: 20px;" *ngIf="showAddTeam === true"
                    class="alert alert-danger alert-dismissable" [(ngModel)]="showAddTeam">
                    <button type="button" class="close" data-dismiss="alert"
                        aria-hidden="true">&times;</button>
                    <strong>Error: </strong>Enter Team Name.
                </div>
                
                <div style="margin-top: 20px;" *ngIf="showAddTeamSuccess === true"
                class="alert alert-success alert-dismissable" [(ngModel)]="showAddTeamSuccess">
                <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
                <strong>Error: </strong>Team has been added Successfully.
            </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Team Name</label>
                    </div>
                    <div>
                        <textarea placeholder="Type Name Here.." [(ngModel)]="newTeamName" onfocus="typeTeamNameFocus()"></textarea>

                    </div>
                </div>
            </div>
            <div class="modal-footer popFooter">
                    <button type="button" class="btn btn-secondary btn-border-radius" (click)="addTeam(newTeamName)">Add Team</button>
                <button type="button" class="btn btn-danger  btn-border-radius" (click)="closeTeamPopup('addNewTeam')">Close</button>
            </div>
        </app-custom-modal>
    </div>
</div>
<div class="main">
    <h4>Team Details</h4>
    <hr>
    <div class="row">
        <div class="member-block">
            <h4 style="font-weight:bold; color:#2980b9; ">{{selectedTeamName}}
                <span>&nbsp;[{{userPermissionMemList.length}} Members]</span>
            </h4>
            <input type="text" placeholder="Type Name Here..." class="col-md-11 search-member" />
            <div class="member-details">
                <h5>
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Member Details</h5>
                <hr>
                <div class="row" style="padding: 15px;">
                    <div *ngFor="let userMemPermission of userPermissionMemList" class="search-box-container">
                        <input type="text" value="{{userMemPermission.user.name}} {{userMemPermission.user.lastName}}" />
                    </div>
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-primary" style="align:align-center" (click)="openMemberPopup()">Add New Member</button>
                    <!-- <button class="btn btn-aecondary">Reset Changes</button> -->
                </div>
                <app-custom-modal #addNewMemberModal [model]="newMember">
                    <div class="modal-body">
                                    <div style="margin-top: 20px;" *ngIf="showAddMemberFirstName === true"
                                    class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberFirstName">
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                    <strong>Error: </strong>Enter Member First Name.
                                </div>
                                
                                <div style="margin-top: 20px;" *ngIf="showAddMemberLastName === true"
                                class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberLastName">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <strong>Error: </strong>Enter Member Last Name.
                            </div>

                                <div style="margin-top: 20px;" *ngIf="showAddMemberSuccess === true"
                                class="alert alert-success alert-dismissable" [(ngModel)]="showAddMemberSuccess">
                                <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">&times;</button>
                                <strong>Error: </strong>Member has been added Successfully.
                            </div>

                            
                        <div class="row">
                            <div class="col-md-3">
                                <label>First Name</label>
                            </div>
                            <div>
                                <input placeholder="Type First Name Here.." [(ngModel)]="newMemberName" onfocus="typeMemberNameFocus()" />  
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <label>Last Name</label>
                                </div>
                                <div>
                                    <input placeholder="Type Last Name Here.." [(ngModel)]="newMemberLastName" onfocus="typeMemberLastNameFocus()" />
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer popFooter">
                            <button type="button" class="btn btn-secondary btn-border-radius" (click)="addMember(newMemberName ,newMemberLastName)">Add Team</button>
                        <button type="button" class="btn btn-danger  btn-border-radius" (click)="closeMemberPopup('addNewMember')">Close</button>
                    </div>
                </app-custom-modal>
            </div>
        </div>
    </div>
</div>
