@import "styles/customStyle.css";

.member-block{
    //float: right;width: 50%;
     padding-left: 15px;
}

    .row-label label{
     font-weight: bold;
    }
    .selected-team{
        color:#353535;   
     }
     .row-label input{
         margin: 8px;
     }  