
.top {
    height: 92px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #2980b9;
    color: #ffffff;
}
.left {
    width: 15%;
    float:left;
    padding: 15px;
    background-color: #eaf3f8;
}
.main {
  margin-left:15%;
  padding: 15px;
 }
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding:30px;
}

td, th {
   border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: #2980b9;;
    color: #FFFFFF;
}
tr:nth-child(even) {
    background-color: #eaf3f8;
}
.filter-list{
 border-right: 1px solid rgba(0, 0, 0, 0.125);
 height: 90vh;
}
.main table tr td a {
    cursor: pointer;
    color: #eb223d;
    text-decoration: underline;
  }

.date-period-select {
    border-left: 2px solid #999;
    padding-left: 10px;
    padding-right: 10px;
    height: 15%;
    cursor: pointer;
}
.filter-list ul {
    list-style-type: none;
  }
  .filter-list ul li label {
    color: #000000;
    cursor: pointer;
  }
.member-block{
    //float: right;width: 50%;
     padding-left: 15px;
}
.member-block label{
    color: #000000;
}
.member-block ul {
    list-style-type: none;
  }
.member-table{
    float:left; width: 50%;
}
.member-details{
    height: 100%;  border: 1px solid #ccd1d4;
      box-shadow: 5px 5px 5px 5px #ccd1d4; background: #eaf3f8;
    padding:10px;
     margin:15px;
}
.search-member{
  background-color: #eaf3f8;
    height:50px;
    margin :15px;
    border: 1px solid #ccd1d4;
}
.search-box-container input {
    padding: 2px;
    margin-bottom:5px;
  }

  .search-box-container:after {
      content: "\f00d";
      font-family: FontAwesome;
      font-weight: bold;
      margin-left: -25px;
      margin-right: 25px;
      color: #eb223d;
  }
a{
    cursor: pointer;
    color: #ffffff;
}
