@import "styles/customStyle.css";

    .row-label label{
     font-weight: bold;
    }
    .row-label input{
      margin: 8px;
    }  

    .filter-list{
        height: 100%;
        padding-right: 0px;
        overflow-x: hidden;
    }
    
       .filter-list ul{
           list-style-type: none;
           margin: 6px;
           background-color: #fff;
           border-radius:2px;
           border: 1px solid #efebef;
       }
        
      .filter-list ul:hover{
       background-color: #d5f2fd;
       }
               
       .filter-list ul li input{
       cursor: pointer;
       } 

       .team-name-list{
        height: 77vh;
        overflow: auto;
        padding-bottom: 100px;
      }
      
      .btn-edit{
        color: #fff;
        background-color: green;
        border-color: green;
      }
      .btn-edit:hover{
        background-color:green;
        color:white;
        border: 1px solid green;
      }
    
      .btn-enable{
        background-color:#17a2b8;
        color:white;
      }

      .btn-disable{
        background-color:orange;
        color:white;
      }
      .team-name{
        padding-top: 2px;
        padding-right: 30px;
        padding-left: 10px;
        color:#000;
      }
      .team-container{
        padding-bottom: 100px;
      }
      .member-field-name{
        width: 25%; 
        padding-top: 3%; 
        padding-left: 3%;
      }
      .member-field-value{
        width: 40%;
      }
            
      label{
        margin-top: .5rem;
      }

      .tBox{  
        background-position:right;   
        background-repeat:no-repeat;   
        border-radius: 5px;
        margin: 0 3% 0 3%;
        }
        .enable-team{
          color: #4b6584;
          float: right; 
          margin: 0.5rem; 
          margin-top: .8rem;
        }
        .disable-team{
          color: red;
          float: right; 
          margin: 0.5rem; 
          margin-top: .8rem;
        }
        .username-password{
            width:90%;
            margin-bottom: 1%;
            height:35px;
          }

        .view-details{
          text-align: center;
          padding-top: 1%;
          color: orangered;
        }
        .team-div{
          background-color: #eeedee;
          padding:8px 8px 0;
          color: #AF2127;
          overflow-x: auto;
        }

        .pageControl{
          padding-top: 10px;
        }
        .team-member{
          color: #131313;
          padding: 2px 0px;
        }

      .first-letter{
        display: inline-block;
        font-size: 0.8em;
        width: 2.0em;
        height: 2.0em;
        line-height: 2.0em;
        text-align: center;
        border-radius: 50%;
        background: #AF2127;
        vertical-align: middle;
        margin-right: 1em;
        color: white;
      }

      .sidenav {
        height: 100%;
        width: 25%;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: #f6f6f6;
        bottom:5%;
        }
        .group-member{
          color: #131313;
          padding: 2px 0px;
        }
        
        .main {
        margin-left: 25%; 
        padding: 5px 10px;
        }
        
        @media screen and (max-height: 450px) {
        .sidenav {//padding-top: 15px;
        }
        .sidenav a {font-size: 18px;}
        }