<div class="top">
    <div class="col-md-12 header" style="text-align: center;">
        <h3>Manage Team</h3>
    </div>
    <div style="float:right" class="defaultMeetSelect">
        <div class="align-center">
            <input type="text" placeholder="Search by name" />
        </div>
    </div>
</div>

<div class="left filter-list">
    <h4>
        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Teams</h4>
    <hr>
    <ul *ngFor="let userPermission of userPermissionList; let teamCount = index">
        <li>
            <label (click)="displayTeamDetails(userPermission.team)">{{teamCount+1}})&nbsp; {{userPermission.team.teamName}}
            </label>
        </li>
    </ul>
    <div style="text-align:center;">
        <button class="btn btn-sec" style="align:align-center" (click)="open()">Add New Team</button>
        <app-custom-modal #addNewTeamModal [model]="newTeam">
            <div class="modal-body row-label">
                <div style="margin-top: 20px;" *ngIf="showAddTeam === true" 
                class="alert alert-danger alert-dismissable" [(ngModel)]="showAddTeam">
                    <strong>Error: </strong>Enter Team Name.
                </div>

                <div style="margin-top: 20px;" *ngIf="showAddTeamSuccess === true" class="alert alert-success alert-dismissable" [(ngModel)]="showAddTeamSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Success: </strong>Team has been added Successfully.
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Team Name</label>
                    </div>
                    <div>
                        <textarea placeholder="Type Name Here.." [(ngModel)]="newTeamName" ></textarea>

                    </div>
                </div>
            </div>
            <div class="modal-footer popFooter">
                <button type="button" class="btn btn-sec" (click)="addTeam(newTeamName)">Add Team</button>
                <button type="button" class="btn btn-cancel" (click)="closePopup('addNewTeam')">Close</button>
            </div>
        </app-custom-modal>
    </div>
</div>
<div class="main">
    <h4>Team Details</h4>
    <hr>
    <div class="row">
        <div class="member-block">
            <h4 class="selected-team">{{selectedTeamName}}
                <span>&nbsp;[{{filterMemberList.length}} Members]</span>
            </h4>
            <input type="text" placeholder="Type Name Here..." class="col-md-11 search-member" />
            <div class="member-details">
                <h5>
                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Member Details</h5>
                <hr>
                <div class="row" style="padding: 15px;">
                    <div *ngFor="let userMemPermission of filterMemberList" class="search-box-container">
                        <input type="text" value="{{userMemPermission.userId.firstName}} {{userMemPermission.userId.lastName}}" />
                    </div>
                </div>
                <div style="text-align:center;">
                    <button class="btn btn-primary" style="align:align-center" (click)="openMemberPopup()">Add New Member</button>
                    <!-- <button class="btn btn-aecondary">Reset Changes</button> -->
                </div>
                <app-custom-modal #addNewMemberModal [model]="newMember">
                    <div class="modal-body row-label">
                         <div style="margin-top: 20px;" *ngIf="showAddMemberFirstName === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberFirstName">
                            <strong>Error: </strong>Enter Member First Name.
                        </div>

                        <div style="margin-top: 20px;" *ngIf="showAddMemberUserName === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberUserName">
                            <strong>Error: </strong>Enter UserName.
                        </div>
                        <div style="margin-top: 20px;" *ngIf="showAddMemberPassword === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberPassword">
                            <strong>Error: </strong>Enter Password.
                        </div>
                        <div style="margin-top: 20px;" *ngIf="showAddMemberEmail === true" class="alert alert-danger alert-dismissable" [(ngModel)]="showAddMemberEmail">
                            <strong>Error: </strong>Enter Email
                        </div>

                        <div style="margin-top: 20px;" *ngIf="showAddMemberSuccess === true" class="alert alert-success alert-dismissable" [(ngModel)]="showAddMemberSuccess">
                            <strong>Success: </strong>Member has been added Successfully.
                        </div> 
                        <form>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>First Name</label>
                                </div>
                                <div>
                                    <input placeholder="Type Name Here.."  type="text" [(ngModel)]="firstName" required/>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Last Name</label>
                                </div>
                                <div>
                                    <input placeholder="Type Name Here.." type="text"  [(ngModel)]="lastName" required/>
                                </div>
                            </div>
                            <div class="row form-group">
                                    <div class="col-md-3">
                                        <label>Email</label>
                                    </div>
                                    <div>
                                        <input placeholder="Type Email Here.."  type="text" [(ngModel)]="email" required/>
                                    </div>
                                </div>

                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>UserName</label>
                                </div>
                                <div>
                                    <input type="text" placeholder="Type Name Here.." [(ngModel)]="userName" required/>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3">
                                    <label>Password</label>
                                </div>
                                <div>
                                    <input placeholder="Type Name Here.."  type="text" [(ngModel)]="password"  type="password" required/>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-3">
                                    <label>Team Name</label>
                                </div>
                                <div>
                                    <input placeholder="Type Name Here.." [(ngModel)]="newTeamName" required />
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <div class="modal-footer popFooter">
                        <button type="button" class="btn btn-sec" (click)="addMember()">Add Member</button>
                        <button type="button" class="btn btn-cancel" (click)="closePopup('addNewMember')">Close</button>
                    </div>
                </app-custom-modal>
            </div>
        </div>
    </div>
</div>