<div class="top">
      <div class="col-md-12 header" style="text-align: center;">
            <h3>Settings</h3>
      </div>
</div>
<div class="center">
<div class="main ">
            <h4>Setting Details</h4>
      <table >
       
            <tr>
                  <td>Chat Notification</td>
                  <td>
                        <input type="checkbox" id="chatChk" [(ngModel)]="userSettings.chatNotification">
                        <p id="text" style="display:none">Checkbox is CHECKED!</p>
                  </td>
            </tr>
            <tr>
                  <td>Meeting Reminders</td>
                  <td>
                        <input type="checkbox" id="meetChk" [(ngModel)]="userSettings.meetingReminder">
                        <p id="text" style="display:none">Checkbox is CHECKED!</p>
                  </td>
            </tr>
      </table>
      <div class="button-block">
            <button class="btn btn-sec" style="align:align-center" (click)="saveUserSetting()">Save Changes</button>
            <a class="btn btn-danger"  [routerLink]="['/dashboard/default']">Cancel</a>
      </div>

</div>
</div>