.top {
    height: 92px;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background: #eaf3f8;
}
.left {
    width: 15%;
    float:left;
    padding: 15px;
}
.main {
  margin-left:15%;
  padding: 15px;
  border: 1px solid #ccd1d4;
  width: 50%;
  margin-top: 55px;
  box-shadow: 5px 10px 5px 5px #ccd1d4;
 }
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding:30px;
}

td, th {
   // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    //border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
.main table tr td a {
    cursor: pointer;
    color: #2980b9;
    text-decoration: underline;
  }
  .setting-header{
    background: #2980b9;color: #ffffff;padding: 8px;
  }
