<div class="top">
        <div class="col-md-12 header">
            <div class="row">
               <h3 style="float:left;" class="col-md-8">Settings&nbsp;<i class="fa fa-home" style="float:left; font-size: 28px;" aria-hidden="true"></i></h3>
            </div>
     </div>
</div>
<div class="left">
</div>
<div class="main" >
    <div class="setting-header"><h4>Setting Details</h4></div>
    <br>
      <table style="width: 80%; ">
          <tr>  <h4>Personal Settings</h4></tr>
          <tr >
                <td>Display Picture</td>
                <td>  <img src="assets/images/default.png"  alt="Responsive image" class="img-fluid" /></td>
                <td><a>Change Picture</a></td>
                <td><a>Remove Picture</a></td>
          </tr>
          <tr>
                <td>Display Name</td>
                <td><input placeholder="Enter Name" type="text"/></td>
          </tr>
          <tr>  <h4>General Settings</h4></tr>
          <tr>
                <td>Chat Notification</td>
                <td>On / Off</td>
          </tr>
          <tr>
                <td>Meeting Reminders</td>
                <td>On / Off</td>
          </tr>
          <tr>
                <td>File Download Location</td>
                <td><input placeholder="Enter Name" type="file"/></td>
                <td><a>Change Location</a></td>
          </tr>
        </table>
        <div style="text-align:center;">
            <button class="btn btn-primary" style="align:align-center">Save Changes</button>
            <button class="btn btn-aecondary">Reset Changes</button>
        </div>

</div>
