<div class="top">
      <div class="col-md-12 header" style="text-align: center;">
            <h3>Settings</h3>
      </div>
</div>
<div class="center">
<div class="main ">
            <div class="">
                        <div class="profile-headings">
                                <i class="fa fa-list profile-headings-icon" aria-hidden="true"></i>Other Details
                         </div>
                        <div class="center margin-top">
                                            <div class = "row margin-top-20">
                                                    <div class="col-lg-4">
                                                        <label>Total Meetings:</label>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <input value="{{profileOtherDetails.meetingCount}}" class = "width-100" type="text" id="totalMeetings" name="totalMeetings" readonly/>
                                                    </div>
                                                </div>
                                                <div class = "row margin-top-20">
                                                        <div class="col-lg-4">
                                                            <label>Total Groups:</label>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <input value="{{profileOtherDetails.groupCount}}" class = "width-100" type="text" id="totalGroups" name="totalGroups" readonly/>
                                                        </div>
                                                    </div>
                        </div>
                </div>
            <!-- <h4>Setting Details</h4>
      <table >
       
            <tr>
                  <td>Chat Notification</td>
                  <td>
                        <input type="checkbox" id="chatChk" [(ngModel)]="userSettings.chatNotification">
                        <p id="text" style="display:none">Checkbox is CHECKED!</p>
                  </td>
            </tr>
            <tr>
                  <td>Meeting Reminders</td>
                  <td>
                        <input type="checkbox" id="meetChk" [(ngModel)]="userSettings.meetingReminder">
                        <p id="text" style="display:none">Checkbox is CHECKED!</p>
                  </td>
            </tr>
      </table>
      <div class="button-block">
            <button class="btn btn-sec" style="align:align-center" (click)="saveUserSetting()">Save Changes</button>
            <a class="btn btn-danger"  [routerLink]="['/dashboard/default']">Cancel</a>
      </div> -->

</div>
<div class="cfsfooter "><img class="card-img setlogo" src="assets/images/coreflex-logo.png" style="height:28px;width:140px; margin:10px; "><br><b>Copyright &copy; 2018 Coreflex Solutions</b>
</div>
</div>