<app-spinner #guestUserSpinner></app-spinner>
<div class="main-container">
    <div class="header">
        <div class="row">
            <h3 class="page-title">Guest Users</h3>
            <a [routerLink]="['/dashboard/default']" style="position: absolute;right:3%;">
                <i class="fa fa-3x fa-home home-icon" aria-hidden="true" title="Dashboard" data-toggle="tooltip"></i>
            </a>
        </div>
    </div>

    <div id="content" class="body-container">
        <div class="row main">
            <div class="col-md-9"><h3>Guest Users Details</h3></div>
                <div class="align-center" class="col-md-3" >
                    <div class="form-group input-group padding-top-5">
                            <div class="form-group input-group padding-top-10">
                                    <input class="tBox username-password form-control search-in-datatable" placeholder="&#xF002;  Name/Meeting Id" 
                                     [(ngModel)]="searchText">
                                </div>
                    </div>
                </div>

                <table>
                    <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>Meeting Id</th>
                        <th>UserCode</th>
                    </tr>
                    <tr *ngFor="let guest of guestUserList | genericSearchAllProp:searchText | paginate: config ;let srNo = index">
                        <td> {{ config.itemsPerPage * (config.currentPage - 1) + srNo + 1 }}</td>
                        <td>{{guest.fullname}}</td>
                        <td>{{guest.meetingCode}}</td>
                        <td>{{guest.userCode}}</td>
                    </tr> 
                </table>                                                  
                <div class="row col-md-12">
                    <div class="col-md-11 pageControl">
                        <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [responsive]="responsive"
                            [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                            [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                            (pageChange)="onPageChange($event)"></pagination-controls>
                    </div>
                    <div class="col-md-1 padding-top-10">
                        <button type="button" class="btn btn-primary btn-responsive"
                                (click)="loadMore(prevYear, prevMonth)">Load more</button>
                        </div>
                </div>
                <app-footer></app-footer>
        </div>
    </div>
</div>