<app-spinner #guestUserSpinner></app-spinner>
<div id="loading" *ngIf="loading">
    <img id="loading-image" src="assets/images/loading.gif" />
</div>
<div class="main-container">
    <div class="header">
        <div class="row">
            <h3 class="page-title">Guest Users</h3>
            <a [routerLink]="['/dashboard/default']">
                <i class="fa fa-3x fa-home home-icon" aria-hidden="true" title="Dashboard" data-toggle="tooltip"></i>
            </a>
        </div>
    </div>

    <div id="content" class="body-container">
        <div class="row main">
            <div class="col-md-9"><h3>Guest Users Details</h3></div>
                <div class="align-center" class="col-md-3" >
                    <div class="form-group input-group"style="padding-top:5px;">
                        <input type="text" class="form-control" placeholder="Name/Meeting Id"  [(ngModel)]="searchText">
                        <div class="input-group-append">
                            <button class="btn search-guest-users" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <table>
                    <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <!-- <th>Email</th> -->
                        <th>Meeting Id</th>
                        <th>UserCode</th>
                    </tr>
                    <tr *ngFor="let guest of guestUserList | genericSearchAllProp:searchText | paginate: config ;let srNo = index">
                        <td> {{ config.itemsPerPage * (config.currentPage - 1) + srNo + 1 }}</td>
                        <td>{{guest.fullname}}</td>
                        <!-- <td>{{guest.email}}</td> -->
                        <td>{{guest.meetingCode}}</td>
                        <td>{{guest.userCode}}</td>
                    </tr> 
                </table>                                                  
                <div class="col-md-12 pageControl">
                    <pagination-controls [id]="config.id" [maxSize]="maxSize" [directionLinks]="directionLinks" [autoHide]="autoHide" [responsive]="responsive"
                        [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                        [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                        (pageChange)="onPageChange($event)"></pagination-controls>
                </div>
                <app-footer></app-footer>
        </div>
    </div>
</div>