@import "styles/customStyle.css";


.pageControl{
    text-align: center;
    padding-top:10px;
}
.main{
    padding: 15px;
    border: 1px solid #ccd1d4;
    margin:2%;
    box-shadow: 5px 10px 5px 5px #ccd1d4;
}

.main-container{
    width: 100%; 
    height:100%;
    overflow: auto;
}

.header{
    position:absolute; 
    top:0px; left:0px; 
    height:90px; 
    right:0px;
    padding-top: 20px;
    color: white;
    overflow:hidden;
    text-align: center;
    background-image: url(/assets/images/Coreflex-solutions-header.jpg);
}

.body-container{
    position:absolute; 
    top:90px; 
    bottom:75px; 
    left:0px; 
    right:0px; 
    margin-right: 20px;
    overflow:auto;
}

.footer{
    position:absolute; 
    bottom:0px; 
    // height:100px; 
    left:0px; 
    right:0px; 
    overflow:hidden;
}