@import "styles/customStyle.css";


.pageControl{
    text-align: center;
    padding-top:10px;
}
.main{
    padding: 15px;
    border: 1px solid #ccd1d4;
    margin:2%;
    box-shadow: 5px 10px 5px 5px #ccd1d4;
}

.main-container{
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

.body-container{
    position:absolute; 
    top:70px; 
    bottom:5%; 
    left:0px; 
    right:0px; 
    //margin-right: 20px;
    overflow:auto;
}

.padding-top-10
{
    padding-top:10px;
}